<nav class="menu group" role="navigation">
  <ul>
    <li<%= ' class=active' if help_location == "index" %>><a href="/help">Help</a></li>
    <li<%= ' class=active' if help_location == "accessibility" %>><a href="/help/accessibility">Accessibility</a></li>
    <li<%= ' class=active' if help_location == "accessibility-policies" %>><a href="/help/accessibility-policies">Accessibility policies</a></li>
    <li<%= ' class=active' if help_location == "cookies" %>><a href="/help/cookies">Cookies</a></li>
    <li<%= ' class=active' if help_location == "privacy-policy" %>><a href="/help/privacy-policy">Privacy policy</a></li>
  </ul>
</nav>
