<% content_for :head do %>
  <%= stylesheet_link_tag "views/_cookie-settings", media: "all" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="cookie-settings__confirmation" data-cookie-confirmation="true">
      <%= render "govuk_publishing_components/components/success_alert", {
        message: t("cookies.confirmation_title"),
        description: raw("<p class='govuk-body'>#{t('cookies.confirmation_message')}</p>
        <a class='govuk-link govuk-notification-banner__link cookie-settings__prev-page' href='#'>#{t('cookies.confirmation_previous_referrer_link')}</a>").html_safe,
        margin_bottom: 6,
      } %>
    </div>

    <%= render "govuk_publishing_components/components/heading", {
      text: t("cookies.cookies_on_govuk"),
      heading_level: 1,
      font_size: "xl",
      margin_bottom: 8,
    } %>

    <p class="govuk-body"><%= t("cookies.explanation") %></p>
    <p class="govuk-body"><%= t("cookies.how_we_use") %></p>
    <p class="govuk-body"><%= t("cookies.explanation_choice") %></p>
    <p class="govuk-body"><%= link_to t("cookies.explanation_link_text"), "help/cookie-details", class: "govuk-link" %>.</p>

    <div class="cookie-settings__no-js">
      <%= render "govuk_publishing_components/components/govspeak", {
        } do %>
        <p><%= t("cookies.javascript") %></p>
        <ul>
          <% t("cookies.javascript_list").each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
        <p><%= t("cookies.javascript_extra") %></p>
      <% end %>
    </div>

    <div class="cookie-settings__form-wrapper">
      <form data-module="cookie-settings">
        <%= render "govuk_publishing_components/components/heading", {
            text: t("cookies.types.essential"),
            font_size: "l",
            heading_level: 2,
            margin_bottom: 6,
        } %>

        <p class="govuk-body govuk-!-padding-bottom-4">
          <%= t("cookies.essential_explanation") %>. <%= t("cookies.always_on") %>
        </p>

        <%= render "govuk_publishing_components/components/heading", {
          text: t("cookies.types.usage.heading"),
          font_size: "l",
          margin_bottom: 6,
        } %>

        <p class="govuk-body"><%= t("cookies.usage_info") %></p>

        <%= render "govuk_publishing_components/components/fieldset", {
          legend_text: t("cookies.types.usage.question"),
          heading_size: "s",
          margin_bottom: 0,
        } do %>
          <%= render "govuk_publishing_components/components/radio", {
            name: "cookies-usage",
            inline: false,
            items: [
              {
                value: "on",
                text: t("cookies.on-usage"),
              },
              {
                value: "aggregate",
                text: t("cookies.aggregate-usage"),
                checked: true,
              },
              {
                value: "off",
                text: t("cookies.off-usage"),
                checked: true,
              },
            ],
          } %>
        <% end %>

        <%= render "govuk_publishing_components/components/heading", {
          text: t("cookies.types.campaigns.heading"),
          heading_level: 2,
          font_size: "l",
          margin_bottom: 6,
        } %>

        <p class="govuk-body"><%= t("cookies.third_parties") %></p>

        <%= render "govuk_publishing_components/components/fieldset", {
          legend_text: t("cookies.types.campaigns.question"),
          heading_size: "s",
          margin_bottom: 0,
        } do %>
          <%= render "govuk_publishing_components/components/radio", {
            name: "cookies-campaigns",
            inline: false,
            items: [
              {
                value: "on",
                text: t("cookies.on-campaigns"),
              },
              {
                value: "off",
                text: t("cookies.off-campaigns"),
                checked: true,
              },
            ],
          } %>
        <% end %>

        <%= render "govuk_publishing_components/components/heading", {
          text: t("cookies.types.settings.heading"),
          font_size: "l",
          heading_level: 2,
          margin_bottom: 6,
        } %>

        <p class="govuk-body"><%= t("cookies.preferences") %></p>

        <%= render "govuk_publishing_components/components/fieldset", {
          legend_text: t("cookies.types.settings.question"),
          heading_size: "s",
          margin_bottom: 0,
        } do %>
          <%= render "govuk_publishing_components/components/radio", {
            name: "cookies-settings",
            inline: false,
            items: [
              {
                value: "on",
                text: t("cookies.on-settings"),
              },
              {
                value: "off",
                text: t("cookies.off-settings"),
                checked: true,
              },
            ],
          } %>
        <% end %>

        <%= render "govuk_publishing_components/components/button", {
          text: t("cookies.save_changes"),
        } %>
      </form>
    </div>

    <div class="cookie-settings__gov-services">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Government services",
        font_size: "l",
        heading_level: 2,
        margin_bottom: 3,
      } %>
      <p class="govuk-body"><%= t("cookies.services") %></p>
      <p class="govuk-body"><%= t("cookies.services_additional") %></p>
      <p class="govuk-body"><%= t("cookies.services_external") %></p>
    </div>
  </div>
</div>
