<%
  # These components aren't found in the templates, but the styles are still
  # needed as they're used within the sign in page's `content_item`.
  if defined? @individual_stylesheets
    @individual_stylesheets.add_view("document-list")
    @individual_stylesheets.add_view("inset-text")
  end
%>
<% content_for :title, "#{content_item_hash["title"]} - GOV.UK" %>
<% content_for :extra_headers do %>
  <meta name="description" content="<%= content_item_hash["description"] %>">
<% end %>
<main id="content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/title", title: content_item_hash["title"] %>

      <%= sanitize(content_item_hash["details"]["body"]) %>

      <%= render "govuk_publishing_components/components/heading", {
        text: t('help.sign_in.service_not_listed_heading'),
        heading_level: 2,
        font_size: "m",
        margin_bottom: 4,
      } %>

      <p class="govuk-body"><%= t('help.sign_in.service_not_listed_text') %></p>

      <form action="/search/all" method="GET" role="search">
        <% @search_services_facets.each do |facet| %>
          <input type="hidden" name="<%= facet[:key] %>" value="<%= facet[:value] %>">
        <% end %>

        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: t('help.sign_in.search_for_a_service')
          },
          name: "keywords",
          type: "search",
          search_icon: true
        } %>

        <%= render "govuk_publishing_components/components/button",
          text: t('help.sign_in.search_for_a_service_button'),
          secondary_solid: true,
          data_attributes: {
            module: "gem-track-click",
            track_category: "SearchButtonClicked",
            track_action: "sign-in-to-gov-uk",
          }
        %>
      </form>
    </div>
  </div>
</main>
