<% content_for :title do %><%= @subcategory.title %> - GOV.UK<% end %>

<main id="content" role="main" class="group category-page">
  <header class="page-header group">
    <div class="full-width">
      <h1><%= @subcategory.title %></h1>
    </div>
  </header>

  <div class="browse-container full-width group">

    <ul class="content-list group">
    <% @results.each do |content| %>
      <li>
        <h3><a href="<%= content.web_url %>"><%= content.title %></a></h3>
        <% if content.details.description.present? %>
        <p><%= content.details.description %></p>
        <% end %>
      </li>
    <% end %>
    </ul>

  </div>
</main>
