<header>
  <h1>How to <%= action %></h1>
</header>

<% if @licence_details.authority["actions"][action].size > 1 %>
  <p>There is more than one online form available for this licence:</p>

  <ol>
    <% @licence_details.authority["actions"][action].each_with_index do |link, i| %>
      <li><%= link_to link['description'], "#form-#{i+1}" %></li>
    <% end %>
  </ol>
<% end %>

<% @licence_details.authority["actions"][action].each_with_index do |link, i| %>
  <section>
    <h2><a id="form-<%= i+1 %>"></a><%= i+1 %>. <%= link['description'] %></h2>

    <%= simple_format link['introduction'] %>

    <% if link['uses_licensify'] %>
      <p>
        <%= render "govuk_publishing_components/components/button",
                   text: "Apply online",
                   start: true,
                   href: link['url'] %>
      </p>
    <% else %>
      <%= render partial: 'licensify_unavailable' %>
    <% end %>
  </section>

<% end %>
