<p class="govuk-body">From <strong><%= @licence_details.authority['name'] %></strong></p>

<nav role="navigation" class="page-navigation">
  <ol>
    <% if @licence_details.action %>
      <li><%= link_to "Overview", licence_authority_path(@publication.slug, @licence_details.authority["slug"]) %></li>
    <% else %>
      <li class="active">Overview</li>
    <% end %>
    <% @licence_details.authority['actions'].keys.uniq.each do |action| %>
      <% if @licence_details.action == action %>
        <li class="active"><%= "How to #{action}" %></li>
      <% else %>
        <li><%= link_to "How to #{action}", licence_authority_path(@publication.slug, @licence_details.authority["slug"], action) %></li>
      <% end %>
    <% end %>
  </ol>
</nav>

<article role="article" class="content-block group">
  <div id="overview" class="inner">
    <% if @licence_details.action.present? %>
      <% if @licence_details.uses_licensify %>
        <%= render :partial => "action", :locals => {:action => @licence_details.action } %>
      <% elsif @licence_details.uses_authority_url %>
        <%= render :partial => 'authority_url', :locals => {:action => @licence_details.action, :index => 0} %>
      <% else %>
        <%= render :partial => 'licensify_unavailable' %>
      <% end %>
    <% elsif @publication.licence_overview.present? %>
      <header><h1>Overview</h1></header>
      <%= raw @publication.licence_overview %>
    <% end %>

    <% if @licence_details.local_authority_specific? or @licence_details.multiple_licence_authorities_present? %>
      <div class="contact">
        <p>The issuing authority for this licence is <strong><%= @licence_details.authority["name"] %></strong>
          <%= link_to (@licence_details.local_authority_specific? ? '(change location)' : '(change authority)'), licence_path(@publication.slug) %>
        </p>

        <% if @licence_details.authority['contact'] and ! @licence_details.authority['contact']['address'].blank? %>
          <p>You can contact them using the details below.</p>
          <%= simple_format @licence_details.authority['contact']['address'] %>
        <% end %>
      </div>
    <% end %>
  </div>
</article>
