<% content_for :title, t("account.your_account.heading") %>
<% content_for :location, "your-account" %>

<% content_for :body_classes, "account" %>

<%= render "govuk_publishing_components/components/heading", {
  text: yield(:title),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 4,
} %>
<% if @user["email"] %>
  <p class="govuk-body accounts-your-account__email">
    <%= @user["email"] %>
  </p>
<% end %>
<% if @has_email_subscriptions %>
  <div class="accounts-panel">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("account.your_account.emails.heading"),
      heading_level: 2,
      font_size: "m",
      margin_bottom: 4,
    } %>

    <p class="govuk-body"><%= t("account.your_account.emails.see_and_manage") %></p>
    <p class="govuk-body"><a class="govuk-link" href="/email/manage">
      <%= sanitize(t("account.your_account.emails.manage_emails_link_text")) %>
    </a></p>
  </div>
<% else %>
  <div class="accounts-panel">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("account.your_account.emails.heading"),
      heading_level: 2,
      font_size: "m",
      margin_bottom: 4,
    } %>

    <%= render "govuk_publishing_components/components/inset_text", {
      text: t("account.your_account.emails.no_emails_inset")
    } %>

    <p class="govuk-body"><%= t("account.your_account.emails.no_emails_description") %></p>
  </div>
<% end %>
