<div class="govuk-grid-row gem-print-columns-none">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: options[:heading_text],
      context: options[:context],
      context_locale: options[:context_locale],
      dir: options[:page_text_direction],
      heading_level: 1,
      font_size: "xl",
      margin_bottom: 8,
    } %>
  </div>

  <% if options[:translations] %>
    <div class="govuk-grid-column-one-third">
      <%= render "govuk_publishing_components/components/translation_nav", {
        translations: options[:translations],
        margin_bottom: 8,
      } %>
    </div>
  <% end %>
</div>

<div class="govuk-grid-row gem-print-columns-none">
  <div class="govuk-grid-column-two-thirds">
    <% if options[:lead_paragraph] %>
      <%= render "govuk_publishing_components/components/lead_paragraph", {
        text: options[:lead_paragraph],
        dir: options[:page_text_direction],
        margin_bottom: 8,
      } %>
    <% end %>

    <% if options[:metadata] %>
      <%= render "govuk_publishing_components/components/metadata", options[:metadata] %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third page-title__right">
    <% if options[:links] %>
      <%= render "govuk_publishing_components/components/list", {
        items: options[:links],
        margin_bottom: 8,
      } %>
    <% end %>
  </div>
</div>
