<div class="govuk-grid-column-one-third">
  <ul class="govuk-list">
    <li>
      <h3 class="home-services__heading"><a href="/browse/benefits" class="govuk-link"><%= t('homepage.categories.benefits') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.benefits_description') %></p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/births-deaths-marriages" class="govuk-link"><%= t('homepage.categories.births_deaths_marriages') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.births_deaths_marriages_description') %></p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/business" class="govuk-link"><%= t('homepage.categories.business') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.business_description') %></p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/childcare-parenting" class="govuk-link"><%= t('homepage.categories.childcare_parenting') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.childcare_parenting_description') %></p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/citizenship" class="govuk-link"><%= t('homepage.categories.citizenship') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.citizenship_description') %></p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/justice" class="govuk-link"><%= t('homepage.categories.justice') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.justice_description') %></p>
    </li>
  </ul>
</div>
<div class="govuk-grid-column-one-third">
  <ul class="govuk-list">
    <li>
      <h3 class="home-services__heading"><a href="/browse/disabilities" class="govuk-link"><%= t('homepage.categories.disabilities') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.disabilities') %></p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/driving" class="govuk-link"><%= t('homepage.categories.driving') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.driving_description') %></p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/education" class="govuk-link"><%= t('homepage.categories.education') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.education_description') %></p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/employing-people" class="govuk-link"><%= t('homepage.categories.employing_people') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.employing_people_description') %></p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/environment-countryside" class="govuk-link"><%= t('homepage.categories.environment_countryside') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.environment_countryside_description') %></p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/housing-local-services" class="govuk-link"><%= t('homepage.categories.housing_local_services') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.housing_local_services_description') %></p>
    </li>
  </ul>
</div>
<div class="govuk-grid-column-one-third">
  <ul class="govuk-list">
    <li>
      <h3 class="home-services__heading"><a href="/browse/tax" class="govuk-link"><%= t('homepage.categories.tax') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.tax_description') %></p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/abroad" class="govuk-link"><%= t('homepage.categories.abroad') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.abroad_description') %></p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/visas-immigration" class="govuk-link"><%= t('homepage.categories.visas_immigration') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.visas_immigration_description') %></p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/working" class="govuk-link"><%= t('homepage.categories.working') %></a></h3>
      <p class="home-services__para"><%= t('homepage.categories.working_description') %></p>
    </li>
  </ul>
</div>
