<section class="homepage-section homepage-section__government-activity">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop" data-module="gem-track-click ga4-link-tracker">
      <div class="homepage-section__heading">
        <div class="homepage-section__heading-wrapper">
          <%= render "govuk_publishing_components/components/heading", {
            font_size: "m",
            text: t("homepage.index.government_activity"),
          } %>
        </div>

        <%= render "govuk_publishing_components/components/lead_paragraph", {
          text: t("homepage.index.government_activity_description"),
          margin_bottom: 0
        } %>
      </div>

      <ul class="homepage-services-and-info__list">
        <% t("homepage.government_activity").each_with_index do | item, index | %>
          <%= render partial: "homepage/chevron_card", locals: {
            description: item[:description],
            link: item[:link],
            title: item[:title],
            track_action: "governmentactivityLink",
            index: "3.#{index + 1}",
            index_total: ga4_links_count,
            section: t("homepage.index.government_activity", locale: :en)
          } %>
        <% end %>
      </ul>
    </div>

    <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
      <div class="homepage-section__heading">
        <%= render "govuk_publishing_components/components/heading", {
          font_size: "m",
          text: t("homepage.index.departments_and_organisations"),
        } %>
      </div>

      <%# 
        The "big number" component links below are hardcoded separately (i.e. not in a loop in this instance) and therefore their 'index' properties are also
        hardcoded. Additionally, in order to account for these hardcoded components in the 'index_total' property, 2 is added to the ga4_links_counts variable 
        (which is defined in homepage > index.html.erb). If a new "big number" component is added or removed, this will need to be reflected in the 'index' and
        'index_total' properties to ensure that they remain accurate for tracking/analytics purposes.
      %>
      
      <div class="homepage-section__depts" data-module="gem-track-click ga4-link-tracker">
        <%= render "govuk_publishing_components/components/big_number", {
          number: t("homepage.index.ministerial_departments_count"),
          label: t("homepage.index.ministerial_departments"),
          href: "/government/organisations#ministerial_departments",
          margin_bottom: 6,
          data_attributes: {
            "track-category": "homepageClicked",
            "track-action": "departmentsLink",
            "track-label": "/government/organisations#ministerial_departments",
            "track-dimension": "#{t("homepage.index.ministerial_departments_count")} #{t("homepage.index.ministerial_departments")}",
            "track-dimension-index": 29,
            "track-value": 1,
            "ga4_link": {
              "event_name": "navigation",
              "type": "home page",
              "index": 4.1,
              "index_total": ga4_links_count,
              "section": t("homepage.index.departments_and_organisations", locale: :en),
              "text": "#{t("homepage.index.ministerial_departments_count")} #{t("homepage.index.ministerial_departments", locale: :en)}"
            }
          },
        } %>
        <%= render "govuk_publishing_components/components/big_number", {
          number: t("homepage.index.other_agencies_count"),
          label: t("homepage.index.other_agencies"),
          href: "/government/organisations#agencies_and_other_public_bodies",
          margin_bottom: 6,
          data_attributes: {
            "track-category": "homepageClicked",
            "track-action": "departmentsLink",
            "track-label": "/government/organisations#agencies_and_other_public_bodies",
            "track-dimension": "#{t("homepage.index.other_agencies_count")} #{t("homepage.index.other_agencies")}",
            "track-dimension-index": 29,
            "track-value": 1,
            "ga4_link": {
              "event_name": "navigation",
              "type": "home page",
              "index": 4.2,
              "index_total": ga4_links_count,
              "section": t("homepage.index.departments_and_organisations", locale: :en),
              "text": "#{t("homepage.index.other_agencies_count")} #{t("homepage.index.other_agencies", locale: :en)}"
            }
          },
        } %>
      </div>
    </div>
  </div>
</section>
