<% content_for :extra_headers do %>
<link rel="canonical" href="<%= Frontend.govuk_website_root + root_path %>" />
<meta name="description" content="GOV.UK - The place to find government services and information - Simpler, clearer, faster" />
<% end %>
<% content_for :title, "Welcome to GOV.UK" %>
<% content_for :body_classes, "homepage" %>

<main id="content" role="main">
  <header class="home-top">
    <div class="govuk-width-container home-top__inner">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="home-top__title">Welcome to GOV.UK</h1>
          <p class="home-top__intro">The best place to find government services and information</p>
          <p class="home-top__intro home-top__intro--simpler">Simpler, clearer, faster</p>

          <form action="/search" method="get" role="search">
            <%= render "govuk_publishing_components/components/search", on_govuk_blue: true %>
          </form>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="home-top__links">
            <h2 class="home-top__links-title">Popular on GOV.UK</h2>
            <ul class="home-top__links-list">
              <li class="home-top__links-item"><a href="/coronavirus" class="home-top__links-link">Coronavirus (COVID&#8209;19): guidance and support</a></li>
              <li class="home-top__links-item"><a href="/guidance/travel-advice-novel-coronavirus" class="home-top__links-link">Travel advice: coronavirus (COVID&#8209;19)</a></li>
              <li class="home-top__links-item"><a href="/transition" class="home-top__links-link">The UK has left the EU: get ready for January 2021</a></li>
              <li class="home-top__links-item"><a href="/jobsearch" class="home-top__links-link">Find a job</a></li>
              <li class="home-top__links-item"><a href="/personal-tax-account" class="home-top__links-link">Personal tax account</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="homepage" class="govuk-width-container">
    <section class="home-services" aria-labelledby="services-and-information-label" id="services-and-information">
      <div class="govuk-grid-row">
        <h2 id="services-and-information-label" class="govuk-visually-hidden">Services and information</h2>
        <%= render :partial => "categories" %>
      </div>
    </section>

    <hr class="home-divider" id="departments-and-policy" aria-hidden="true" />

    <section class="departments-and-policy" aria-labelledby="departments-and-policy-label">
      <div class="govuk-grid-row home-numbers-and-info">
        <h2 id="departments-and-policy-label" class="govuk-visually-hidden">Departments and&nbsp;policy</h2>
        <div class="govuk-grid-column-one-third">
          <ul class="home-numbers">
            <li>
              <a href="/government/organisations#ministerial_departments" class="home-numbers__link home-numbers__link--first govuk-link">
                <strong class="home-numbers__large">24</strong>
                Ministerial departments
              </a>
            </li>
            <li>
              <a href="/government/organisations#agencies_and_other_public_bodies" class="home-numbers__link govuk-link">
                <strong class="home-numbers__large">409</strong>
                Other agencies and public&nbsp;bodies
              </a>
            </li>
          </ul>
        </div>

        <div class="govuk-grid-column-two-thirds">
          <p class="home-info">
            The websites of all <a href="/government/organisations" class="govuk-link">government
            departments</a> and many other agencies and public bodies have
            been merged into GOV.UK.
          </p>
          <p class="home-info">
            Here you can see all <a href="/search/news-and-communications" class="govuk-link">news and communications</a>,
            <a href="/search/research-and-statistics" class="govuk-link">statistics</a>
            and
            <a href= "<%= CGI::escapeHTML('/search/policy-papers-and-consultations?content_store_document_type[]=open_consultations&content_store_document_type[]=closed_consultations') %>" class="govuk-link">consultations</a>.
          </p>
          <p class="home-info">
            Find out <a href="/performance" class="govuk-link">how government services are performing</a>
            and how satisfied users are.
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <a href="/coronavirus" aria-hidden="true" tabindex="-1">
            <%= image_tag "homepage/coronavirus-stay-alert.png", {
              alt: "",
              class: "home-promo__image",
              height: 400,
              loading: "lazy",
              width: 600,
            } %>
          </a>
          <h3>
            <a href="/coronavirus" class="govuk-link home-promo__link">
              Coronavirus (COVID-19)
            </a>
          </h3>
          <p class="home-promo__text">
            Find information on coronavirus including guidance, support and announcements.
          </p>
        </div>

        <div class="govuk-grid-column-one-third">
          <a href="/transition" aria-hidden="true" tabindex="-1">
            <%= image_tag "homepage/transition-period.png", {
              alt: "",
              class: "home-promo__image",
              height: 400,
              loading: "lazy",
              width: 600,
            } %>
          </a>
          <h3>
            <a href="/transition" class="govuk-link home-promo__link">
              The UK has left the EU
            </a>
          </h3>
          <p class="home-promo__text">
            Get ready for the end of the transition period and new rules in January 2021.
          </p>
        </div>

        <div class="govuk-grid-column-one-third">
          <a href="/government/topical-events/a-plan-for-jobs-2020" aria-hidden="true" tabindex="-1">
            <%= image_tag "homepage/plan-for-jobs-2020--480w.png", {
              alt: "",
              class: "home-promo__image",
              height: 400,
              loading: "lazy",
              sizes: "(max-width: 640px) 100vw, (max-width: 1020px) 33vw, 300px",
              srcset: {
                "homepage/plan-for-jobs-2020--600w.png": "600w",
                "homepage/plan-for-jobs-2020--480w.png": "480w",
                "homepage/plan-for-jobs-2020--320w.png": "320w",
                "homepage/plan-for-jobs-2020--240w.png": "240w",
                "homepage/plan-for-jobs-2020--170w.png": "170w",
              },
              width: 600,
            } %>
          </a>
          <h3>
            <a href="/government/topical-events/a-plan-for-jobs-2020" class="govuk-link home-promo__link">
              A Plan for Jobs 2020
            </a>
          </h3>
          <p class="home-promo__text">
            Find out the latest information on the Plan for Jobs update.
          </p>
        </div>
      </div>
    <section>

    <hr class="home-divider" id="more-on-govuk" aria-hidden="true" />

    <section aria-labelledby="more-on-govuk-label">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 id="more-on-govuk-label" class="home-more__title">More on GOV.UK</h2>
        </div>

        <div class="govuk-grid-column-one-third">
          <h3 class="home-more__subtitle">Most active</h3>
          <ul class="govuk-list home-more__list">
            <li><a href="/jobsearch" class="govuk-link">Find a job</a></li>
            <li><a href="/student-finance-register-login" class="govuk-link">Log in to student finance</a></li>
            <li><a href="/passport-fees" class="govuk-link">Passport fees</a></li>
            <li><a href="/jobseekers-allowance" class="govuk-link">Jobseeker's Allowance</a></li>
            <li><a href="/council-tax-bands" class="govuk-link">Council Tax bands</a></li>
            <li><a href="/running-a-limited-company" class="govuk-link">Running a limited company</a></li>
            <li><a href="/book-a-driving-theory-test" class="govuk-link">Driving theory test</a></li>
            <li><a href="/calculate-vehicle-tax-rates" class="govuk-link">Vehicle tax rates</a></li>
            <li><a href="/vehicle-tax" class="govuk-link">Renew vehicle tax</a></li>
            <li><a href="/vat-rates" class="govuk-link">VAT rates</a></li>
          </ul>
        </div>

        <div class="govuk-grid-column-one-third" id="promo">
          <h3>
            <a href="/bank-holidays" class="govuk-link home-more-promo" tabindex="-1">
              <span class="home-more-promo__link-content">UK bank holidays</span>
            </a>
          </h3>
          <p class="home-promo__text">Check the dates for <a href="/bank-holidays" class="govuk-link">bank holidays</a> in England, Wales, Scotland and Northern Ireland.</p>
        </div>
      </div>
    </section>
  </div>
</main>
