<% content_for :extra_headers do %>
  <link rel="canonical" href="<%=  Frontend.govuk_website_root + root_path %>">
  <meta name="description" content="<%= t("homepage.index.meta_description") %>">
<% end %>
<% content_for :title, t("homepage.index.intro_title.text") %>
<% content_for :body_classes, "homepage" %><%# The `homepage` body class is required for emergency banner. %>

<main id="content" role="main">
  <%= render partial: "homepage/inverse_header" %>
  <%= render partial: "homepage/links_and_search" %>
  <%= render partial: "homepage/services_and_information" %>

  <div id="homepage" class="govuk-width-container">
    <%= render "homepage/government_activity" %>

    <%= render "homepage/promotion-slots" %>

    <hr class="home-divider" id="more-on-govuk" aria-hidden="true" />

    <%= render "homepage/more_on_govuk" %>
  </div>
</main>
