<% content_for :extra_headers do %>
<link rel="canonical" href="<%= Frontend.govuk_website_root + root_path %>" />
<meta name="description" content="GOV.UK - The place to find government services and information - Simpler, clearer, faster" />
<% end %>
<% content_for :title, "Welcome to GOV.UK" %>
<% content_for :body_classes, "homepage" %>

<main id="content" role="main">
  <header class="home-top">
    <div class="govuk-width-container home-top__inner">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/title", {
            title: "Welcome to GOV.UK",
            inverse: true,
            margin_top: 5,
            margin_bottom: 3
          } %>
          <p class="home-top__intro">The best place to find government services and information</p>
          <p class="home-top__intro home-top__intro--simpler">Simpler, clearer, faster</p>

          <form action="/search" method="get" role="search">
            <%= render "govuk_publishing_components/components/search", on_govuk_blue: true %>
          </form>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="home-top__links">
            <h2 class="home-top__links-title">Popular on GOV.UK</h2>
            <ul class="home-top__links-list">
              <li class="home-top__links-item"><a href="/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do" class="home-top__links-link">Coronavirus (COVID-19): rules</a></li>
              <li class="home-top__links-item"><a href="/transition" class="home-top__links-link">Brexit: check what you need to do</a></li>
              <li class="home-top__links-item"><a href="/personal-tax-account" class="home-top__links-link">Sign in to your personal tax account</a></li>
              <li class="home-top__links-item"><a href="/jobsearch" class="home-top__links-link">Find a job</a></li>
              <li class="home-top__links-item"><a href="/sign-in-universal-credit" class="home-top__links-link">Sign in to your Universal Credit account</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="homepage" class="govuk-width-container">
    <section class="home-services" aria-labelledby="services-and-information-label" id="services-and-information">
      <div class="govuk-grid-row">
        <h2 id="services-and-information-label" class="govuk-visually-hidden">Services and information</h2>
        <%= render :partial => "categories" %>
      </div>
    </section>

    <hr class="home-divider" id="departments-and-policy" aria-hidden="true" />

    <section class="departments-and-policy" aria-labelledby="departments-and-policy-label">
      <div class="govuk-grid-row home-numbers-and-info">
        <h2 id="departments-and-policy-label" class="govuk-visually-hidden">Departments and&nbsp;policy</h2>
        <div class="govuk-grid-column-one-third">
          <ul class="home-numbers">
            <li>
              <a href="/government/organisations#ministerial_departments" class="home-numbers__link home-numbers__link--first govuk-link">
                <strong class="home-numbers__large">23</strong>
                Ministerial departments
              </a>
            </li>
            <li>
              <a href="/government/organisations#agencies_and_other_public_bodies" class="home-numbers__link govuk-link">
                <strong class="home-numbers__large">410</strong>
                Other agencies and public&nbsp;bodies
              </a>
            </li>
          </ul>
        </div>

        <div class="govuk-grid-column-two-thirds">
          <p class="home-info">
            The websites of all <a href="/government/organisations" class="govuk-link">government
            departments</a> and many other agencies and public bodies have
            been merged into GOV.UK.
          </p>
          <p class="home-info">
            Here you can see all <a href="/search/news-and-communications" class="govuk-link">news and communications</a>,
            <a href="/search/research-and-statistics" class="govuk-link">statistics</a>
            and
            <a href= "<%= CGI::escapeHTML('/search/policy-papers-and-consultations?content_store_document_type[]=open_consultations&content_store_document_type[]=closed_consultations') %>" class="govuk-link">consultations</a>.
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <a href="/coronavirus" aria-hidden="true" tabindex="-1">
            <%= image_tag "homepage/covid-19-promo-hands-face-space.png", {
              alt: "",
              class: "home-promo__image",
              height: 400,
              loading: "lazy",
              width: 600,
            } %>
          </a>
          <h3>
            <a href="/coronavirus" class="govuk-link home-promo__link">
              Coronavirus (COVID-19)
            </a>
          </h3>
          <p class="home-promo__text">
            Coronavirus restrictions remain in place across the country.
          </p>
        </div>

        <div class="govuk-grid-column-one-third">
          <a href="/government/topical-events/budget-2021" aria-hidden="true" tabindex="-1">
            <%= image_tag "homepage/budget-2021--480w.jpg", {
              alt: "",
              class: "home-promo__image",
              height: 407,
              loading: "lazy",
              sizes: "(max-width: 640px) 100vw, (max-width: 1020px) 33vw, 300px",
              srcset: {
                "homepage/budget-2021--610w.jpg": "610w",
                "homepage/budget-2021--480w.jpg": "480w",
                "homepage/budget-2021--320w.jpg": "320w",
                "homepage/budget-2021--240w.jpg": "240w",
                "homepage/budget-2021--170w.jpg": "170w",
              },
              width: 610,
            } %>
          </a>
          <h3>
            <a href="/government/topical-events/budget-2021" class="govuk-link home-promo__link">
              Budget 2021
            </a>
          </h3>
          <p class="home-promo__text">
            Read the latest on the Chancellor’s budget.
          </p>
        </div>

        <div class="govuk-grid-column-one-third">
          <a href="https://covid19.nhs.uk/" aria-hidden="true" tabindex="-1">
            <%= image_tag "homepage/nhs-app--480w.jpg", {
              alt: "",
              class: "home-promo__image",
              height: 400,
              loading: "lazy",
              sizes: "(max-width: 640px) 100vw, (max-width: 1020px) 33vw, 300px",
              srcset: {
                "homepage/nhs-app--600w.jpg": "600w",
                "homepage/nhs-app--480w.jpg": "480w",
                "homepage/nhs-app--320w.jpg": "320w",
                "homepage/nhs-app--240w.jpg": "240w",
                "homepage/nhs-app--170w.jpg": "170w",
              },
              width: 600,
            } %>
          </a>
          <h3>
            <a href="https://covid19.nhs.uk/" class="govuk-link home-promo__link">
              Get the NHS COVID-19 app
            </a>
          </h3>
          <p class="home-promo__text">
            Use the app to protect yourself and others from coronavirus.
          </p>
        </div>
      </div>
    <section>

    <hr class="home-divider" id="more-on-govuk" aria-hidden="true" />

    <section aria-labelledby="more-on-govuk-label">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 id="more-on-govuk-label" class="home-more__title">More on GOV.UK</h2>
        </div>

        <div class="govuk-grid-column-one-third">
          <h3 class="home-more__subtitle">Most active</h3>
          <ul class="govuk-list home-more__list">
            <li><a href="/jobsearch" class="govuk-link">Find a job</a></li>
            <li><a href="/student-finance-register-login" class="govuk-link">Log in to student finance</a></li>
            <li><a href="/passport-fees" class="govuk-link">Passport fees</a></li>
            <li><a href="/jobseekers-allowance" class="govuk-link">Jobseeker's Allowance</a></li>
            <li><a href="/council-tax-bands" class="govuk-link">Council Tax bands</a></li>
            <li><a href="/running-a-limited-company" class="govuk-link">Running a limited company</a></li>
            <li><a href="/book-a-driving-theory-test" class="govuk-link">Driving theory test</a></li>
            <li><a href="/calculate-vehicle-tax-rates" class="govuk-link">Vehicle tax rates</a></li>
            <li><a href="/vehicle-tax" class="govuk-link">Renew vehicle tax</a></li>
            <li><a href="/vat-rates" class="govuk-link">VAT rates</a></li>
          </ul>
        </div>

        <div class="govuk-grid-column-one-third" id="promo">
          <h3>
            <a href="/bank-holidays" class="govuk-link home-more-promo" tabindex="-1">
              <span class="home-more-promo__link-content">UK bank holidays</span>
            </a>
          </h3>
          <p class="home-promo__text">Check the dates for <a href="/bank-holidays" class="govuk-link">bank holidays</a> in England, Wales, Scotland and Northern Ireland.</p>
        </div>
      </div>
    </section>
  </div>
</main>
