<% content_for :extra_headers do %>
  <link rel="canonical" href="<%=  Frontend.govuk_website_root + root_path %>">
  <meta name="description" content="<%= t("homepage.index.meta_description") %>">
<% end %>
<% content_for :title, t("homepage.index.intro_title.text") %>
<% content_for :body_classes, "homepage" %><%# The `homepage` body class is required for emergency banner. %>

<main id="content" role="main">
  <%= render "homepage/inverse_header" %>
  <%= render "homepage/cost_of_living_header" %>
  <%= render "homepage/links_and_search" %>

  <div class="govuk-width-container">
    <%= render "homepage/services_and_information" %>
    <%= render "homepage/government_activity" %>
    <%= render "homepage/promotion-slots" %>
    <%= render "homepage/more_on_govuk" %>
  </div>
</main>
