<% content_for :extra_headers do %>
  <link rel="canonical" href="<%=  Frontend.govuk_website_root + root_path %>">
  <meta name="description" content="<%= t("homepage.index.meta_description") %>">
<% end %>
<% content_for :title, t("homepage.index.intro_title.text") %>
<% content_for :body_classes, "homepage" %><%# The `homepage` body class is required for emergency banner. %>

<main id="content" role="main">
  <%= render partial: "homepage/inverse_header" %>

  <div id="homepage" class="govuk-width-container">
    <section class="home-services" aria-labelledby="services-and-information-label" id="services-and-information">
      <div class="govuk-grid-row">
        <h2 id="services-and-information-label" class="govuk-visually-hidden"><%= t('homepage.index.services_and_information') %></h2>
        <%= render :partial => "categories" %>
      </div>
    </section>

    <hr class="home-divider" id="departments-and-policy" aria-hidden="true" />

    <section class="departments-and-policy" aria-labelledby="departments-and-policy-label">
      <div class="govuk-grid-row home-numbers-and-info">
        <h2 id="departments-and-policy-label" class="govuk-visually-hidden"><%= t('homepage.index.departments_and_policy_html') %></h2>
        <div class="govuk-grid-column-one-third">
          <ul class="govuk-list" data-module="gem-track-click">
            <li>
              <%= render "govuk_publishing_components/components/big_number", {
                number: t('homepage.index.ministerial_departments_count'),
                label: t('homepage.index.ministerial_departments'),
                href: "/government/organisations#ministerial_departments",
                data_attributes: {
                  "track-category": "homepageClicked",
                  "track-action": "departmentsLink",
                  "track-label": "/government/organisations#ministerial_departments",
                  "track-dimension": "#{t('homepage.index.ministerial_departments_count')} #{t('homepage.index.ministerial_departments')}",
                  "track-dimension-index": 29,
                  "track-value": 1,
                },
              } %>
            </li>
            <li>
              <%= render "govuk_publishing_components/components/big_number", {
                number: t('homepage.index.other_agencies_count'),
                label: raw(t('homepage.index.other_agencies')),
                href: "/government/organisations#agencies_and_other_public_bodies",
                data_attributes: {
                  "track-category": "homepageClicked",
                  "track-action": "departmentsLink",
                  "track-label": "/government/organisations#agencies_and_other_public_bodies",
                  "track-dimension": "#{t('homepage.index.other_agencies_count')} #{raw(t('homepage.index.other_agencies'))}",
                  "track-dimension-index": 29,
                  "track-value": 1,
                },
              } %>
            </li>
          </ul>
        </div>

        <div class="govuk-grid-column-two-thirds" data-module="gem-track-click">
          <p class="home-info">
            <%= t('homepage.index.merged_websites_html') %>
          </p>
          <p class="home-info">
            <%= t('homepage.index.see_all') %>
            <a href="/search/news-and-communications"
               class="govuk-link"
               data-track-category="homepageClicked"
               data-track-action="governmentactivityLink"
               data-track-label="/search/news-and-communications"
               data-track-value="1"
               data-track-dimension="<%= t('homepage.index.news') %>"
               data-track-dimension-index="29">
              <%= t('homepage.index.news') %>
            </a>,
            <a href="/search/research-and-statistics"
               class="govuk-link"
               data-track-category="homepageClicked"
               data-track-action="governmentactivityLink"
               data-track-label="/search/research-and-statistics"
               data-track-value="1"
               data-track-dimension="<%= t('homepage.index.statistics') %>"
               data-track-dimension-index="29">
              <%= t('homepage.index.statistics') %>
            </a>
            <%= t('and') %>
            <% consultations_link = CGI::escapeHTML('/search/policy-papers-and-consultations?content_store_document_type[]=open_consultations&content_store_document_type[]=closed_consultations') %>
            <a href= "<%= consultations_link %>"
               class="govuk-link"
               data-track-category="homepageClicked"
               data-track-action="governmentactivityLink"
               data-track-label="<%= consultations_link %>"
               data-track-value="1"
               data-track-dimension="<%= t('homepage.index.consultations') %>"
               data-track-dimension-index="29">
              <%= t('homepage.index.consultations') %>
            </a>.
          </p>
        </div>
      </div>
    </section>

    <%= render "homepage/promotion-slots" %>

    <hr class="home-divider" id="more-on-govuk" aria-hidden="true" />

    <%= render "homepage/more_on_govuk" %>
  </div>
</main>
