<% content_for :extra_headers do %>
  <link rel="canonical" href="<%= Frontend.govuk_website_root + root_path %>" />
  <meta name="description" content="GOV.UK - The place to find government services and information - Simpler, clearer, faster" />
<% end %>
<% content_for :title, "Welcome to GOV.UK" %>
<% content_for :body_classes, "homepage" %>

<main id="content" role="main">
  <div class="home-top">
    <div class="govuk-width-container home-top__inner">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/title", {
            title: "Welcome to GOV.UK",
            inverse: true,
            margin_top: 5,
            margin_bottom: 3
          } %>
          <p class="home-top__intro"><%= t('homepage.index.intro') %></p>
          <p class="home-top__intro home-top__intro--simpler"><%= t('homepage.index.intro_simpler') %></p>

          <form action="/search" method="get" role="search">
            <%= render "govuk_publishing_components/components/search", {
              on_govuk_blue: true,
              data_attributes: {
                track_category: "homepageClicked",
                track_action: "searchSubmitted",
                track_label: "/search/all",
                track_dimension_index: 29,
                track_dimension: "Search on GOV.UK",
              },
            } %>
          </form>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="home-top__links" data-module="gem-track-click">
            <h2 class="home-top__links-title"><%= t('homepage.index.popular') %></h2>
            <%
              link_class = "govuk-link govuk-link--inverse home-top__link-item"
              items = []
              items << link_to(t("homepage.index.covid"),
                                 "/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do/",
                                 class: link_class,
                                 data: {
                                   track_category: "homepageClicked",
                                   track_action: "popularLink",
                                   track_label: "/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do/",
                                   track_value: 1,
                                   track_dimension_index: 29,
                                   track_dimension: t("homepage.index.covid"),
                                 })
              items << link_to(t("homepage.index.brexit"),
                                 "/brexit",
                                 class: link_class,
                                 data: {
                                   track_category: "homepageClicked",
                                   track_action: "popularLink",
                                   track_label: "/brexit",
                                   track_value: 1,
                                   track_dimension_index: 29,
                                   track_dimension: t("homepage.index.brexit"),
                                 })
              items << link_to(t("homepage.index.tax_account"),
                                 "/personal-tax-account",
                                 class: link_class,
                                 data: {
                                   track_category: "homepageClicked",
                                   track_action: "popularLink",
                                   track_label: "/personal-tax-account",
                                   track_value: 1,
                                   track_dimension_index: 29,
                                   track_dimension: t("homepage.index.tax_account"),
                                 })
              items << link_to(t("homepage.index.job_search"),
                                 "/find-a-job",
                                 class: link_class,
                                 data: {
                                   track_category: "homepageClicked",
                                   track_action: "popularLink",
                                   track_label: "/find-a-job",
                                   track_value: 1,
                                   track_dimension_index: 29,
                                   track_dimension: t("homepage.index.job_search"),
                                 })
              items << link_to(t("homepage.index.universal_credit"),
                                 "/sign-in-universal-credit",
                                 class: link_class,
                                 data: {
                                   track_category: "homepageClicked",
                                   track_action: "popularLink",
                                   track_label: "/sign-in-universal-credit",
                                   track_value: 1,
                                   track_dimension_index: 29,
                                   track_dimension: t("homepage.index.universal_credit"),
                                 })
            %>
            <%= render "govuk_publishing_components/components/list", {
              items: items,
            } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="homepage" class="govuk-width-container">
    <section class="home-services" aria-labelledby="services-and-information-label" id="services-and-information">
      <div class="govuk-grid-row">
        <h2 id="services-and-information-label" class="govuk-visually-hidden"><%= t('homepage.index.services_and_information') %></h2>
        <%= render :partial => "categories" %>
      </div>
    </section>

    <hr class="home-divider" id="departments-and-policy" aria-hidden="true" />

    <section class="departments-and-policy" aria-labelledby="departments-and-policy-label">
      <div class="govuk-grid-row home-numbers-and-info">
        <h2 id="departments-and-policy-label" class="govuk-visually-hidden"><%= t('homepage.index.departments_and_policy_html') %></h2>
        <div class="govuk-grid-column-one-third">
          <ul class="govuk-list" data-module="gem-track-click">
            <li>
              <%= render "govuk_publishing_components/components/big_number", {
                number: t('homepage.index.ministerial_departments_count'),
                label: t('homepage.index.ministerial_departments'),
                href: "/government/organisations#ministerial_departments",
                data_attributes: {
                  "track-category": "homepageClicked",
                  "track-action": "departmentsLink",
                  "track-label": "/government/organisations#ministerial_departments",
                  "track-dimension": "#{t('homepage.index.ministerial_departments_count')} #{t('homepage.index.ministerial_departments')}",
                  "track-dimension-index": 29,
                  "track-value": 1,
                },
              } %>
            </li>
            <li>
              <%= render "govuk_publishing_components/components/big_number", {
                number: t('homepage.index.other_agencies_count'),
                label: raw(t('homepage.index.other_agencies')),
                href: "/government/organisations#agencies_and_other_public_bodies",
                data_attributes: {
                  "track-category": "homepageClicked",
                  "track-action": "departmentsLink",
                  "track-label": "/government/organisations#agencies_and_other_public_bodies",
                  "track-dimension": "#{t('homepage.index.other_agencies_count')} #{raw(t('homepage.index.other_agencies'))}",
                  "track-dimension-index": 29,
                  "track-value": 1,
                },
              } %>
            </li>
          </ul>
        </div>

        <div class="govuk-grid-column-two-thirds" data-module="gem-track-click">
          <p class="home-info">
            <%= t('homepage.index.merged_websites_html') %>
          </p>
          <p class="home-info">
            <%= t('homepage.index.see_all') %>
            <a href="/search/news-and-communications"
               class="govuk-link"
               data-track-category="homepageClicked"
               data-track-action="governmentactivityLink"
               data-track-label="/search/news-and-communications"
               data-track-value="1"
               data-track-dimension="<%= t('homepage.index.news') %>"
               data-track-dimension-index="29">
              <%= t('homepage.index.news') %>
            </a>,
            <a href="/search/research-and-statistics"
               class="govuk-link"
               data-track-category="homepageClicked"
               data-track-action="governmentactivityLink"
               data-track-label="/search/research-and-statistics"
               data-track-value="1"
               data-track-dimension="<%= t('homepage.index.statistics') %>"
               data-track-dimension-index="29">
              <%= t('homepage.index.statistics') %>
            </a>
            <%= t('and') %>
            <% consultations_link = CGI::escapeHTML('/search/policy-papers-and-consultations?content_store_document_type[]=open_consultations&content_store_document_type[]=closed_consultations') %>
            <a href= "<%= consultations_link %>"
               class="govuk-link"
               data-track-category="homepageClicked"
               data-track-action="governmentactivityLink"
               data-track-label="<%= consultations_link %>"
               data-track-value="1"
               data-track-dimension="<%= t('homepage.index.consultations') %>"
               data-track-dimension-index="29">
              <%= t('homepage.index.consultations') %>
            </a>.
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="govuk-grid-row" data-module="gem-track-click">
        <div class="govuk-grid-column-one-third">
          <a href="/government/news/ministerial-appointments-september-2021"
             aria-hidden="true"
             tabindex="-1"
             data-track-category="homepageClicked"
             data-track-action="promoImageLink"
             data-track-label="/government/news/ministerial-appointments-september-2021"
             data-track-value="1"
             data-track-dimension-index="29"
             data-track-dimension="homepage/number10.jpg">
            <%= image_tag "homepage/number10.jpg", {
              alt: "",
              class: "home-promo__image",
              height: 407,
              loading: "lazy",
              width: 610,
            } %>
          </a>
          <h3 class="home-promo__heading">
            <a href="/government/news/ministerial-appointments-september-2021"
               class="govuk-link home-promo__link"
               data-track-category="homepageClicked"
               data-track-action="promoTextLink"
               data-track-label="/government/news/ministerial-appointments-september-2021"
               data-track-value="1"
               data-track-dimension-index="29"
               data-track-dimension="<%= t('homepage.index.promo_boxes.title_1') %>">
              <%= t('homepage.index.promo_boxes.title_1') %>
            </a>
          </h3>
          <p class="home-promo__text">
            <%= t('homepage.index.promo_boxes.text_1') %>
          </p>
        </div>

        <div class="govuk-grid-column-one-third">
          <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/"
             aria-hidden="true"
             tabindex="-1"
             data-track-category="homepageClicked"
             data-track-action="promoImageLink"
             data-track-label="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/"
             data-track-value="1"
             data-track-dimension-index="29"
             data-track-dimension="homepage/covid-19-vaccine-promo.png">
            <%= image_tag "homepage/covid-19-vaccine-promo.png", {
              alt: "",
              class: "home-promo__image",
              height: 407,
              loading: "lazy",
              width: 610,
            } %>
          </a>
          <h3 class="home-promo__heading">
            <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/"
               class="govuk-link home-promo__link"
               data-track-category="homepageClicked"
               data-track-action="promoTextLink"
               data-track-label="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/"
               data-track-value="1"
               data-track-dimension-index="29"
               data-track-dimension="<%= t('homepage.index.promo_boxes.title_2') %>">
              <%= t('homepage.index.promo_boxes.title_2') %>
            </a>
          </h3>
          <p class="home-promo__text">
            <%= t('homepage.index.promo_boxes.text_2') %>
          </p>
        </div>

        <div class="govuk-grid-column-one-third">
          <a href="/travel-abroad"
             aria-hidden="true"
             tabindex="-1"
             data-track-category="homepageClicked"
             data-track-action="promoImageLink"
             data-track-label="/travel-abroad"
             data-track-value="1"
             data-track-dimension-index="29"
             data-track-dimension="homepage/travel-abroad-step-by-step.png">
            <%= image_tag "homepage/travel-abroad-step-by-step.png", {
              alt: "",
              class: "home-promo__image",
              height: 407,
              loading: "lazy",
              width: 610,
            } %>
          </a>
          <h3 class="home-promo__heading">
            <a href="/travel-abroad"
               class="govuk-link home-promo__link"
               data-track-category="homepageClicked"
               data-track-action="promoTextLink"
               data-track-label="/travel-abroad"
               data-track-value="1"
               data-track-dimension-index="29"
               data-track-dimension="<%= t('homepage.index.promo_boxes.title_3') %>">
              <%= t('homepage.index.promo_boxes.title_3') %>
            </a>
          </h3>
          <p class="home-promo__text">
            <%= t('homepage.index.promo_boxes.text_3') %>
          </p>
        </div>
      </div>
    <section>

    <hr class="home-divider" id="more-on-govuk" aria-hidden="true" />

    <section aria-labelledby="more-on-govuk-label">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 id="more-on-govuk-label" class="home-more__title"><%= t('homepage.index.more') %></h2>
        </div>

        <div class="govuk-grid-column-one-third">
          <h3 class="home-more__subtitle"><%= t('homepage.index.most_active') %></h3>
          <ul class="govuk-list home-more__list" data-module="gem-track-click">
            <li>
              <a href="/find-a-job"
                 class="govuk-link"
                 data-track-category="homepageClicked"
                 data-track-action="moreLink"
                 data-track-label="/find-a-job"
                 data-track-value="1"
                 data-track-dimension="<%= t('homepage.index.find_job') %>"
                 data-track-dimension-index="29">
                <%= t('homepage.index.find_job') %>
              </a>
            </li>
            <li>
              <a href="/student-finance-register-login"
                 class="govuk-link"
                 data-track-category="homepageClicked"
                 data-track-action="moreLink"
                 data-track-label="/student-finance-register-login"
                 data-track-value="1"
                 data-track-dimension="<%= t('homepage.index.student_finance_login') %>"
                 data-track-dimension-index="29">
                <%= t('homepage.index.student_finance_login') %>
              </a>
            </li>
            <li>
              <a href="/passport-fees"
                 class="govuk-link"
                 data-track-category="homepageClicked"
                 data-track-action="moreLink"
                 data-track-label="/passport-fees"
                 data-track-value="1"
                 data-track-dimension="<%= t('homepage.index.passport_fees') %>"
                 data-track-dimension-index="29">
                <%= t('homepage.index.passport_fees') %>
              </a>
            </li>
            <li>
              <a href="/jobseekers-allowance"
                 class="govuk-link"
                 data-track-category="homepageClicked"
                 data-track-action="moreLink"
                 data-track-label="/jobseekers-allowance"
                 data-track-value="1"
                 data-track-dimension="<%= t('homepage.index.jobseekers_allowance') %>"
                 data-track-dimension-index="29">
                <%= t('homepage.index.jobseekers_allowance') %>
              </a>
            </li>
            <li>
              <a href="/council-tax-bands"
                 class="govuk-link"
                 data-track-category="homepageClicked"
                 data-track-action="moreLink"
                 data-track-label="/council-tax-bands"
                 data-track-value="1"
                 data-track-dimension="<%= t('homepage.index.council_tax_bands') %>"
                 data-track-dimension-index="29">
                <%= t('homepage.index.council_tax_bands') %>
              </a>
            </li>
            <li>
              <a href="/running-a-limited-company"
                 class="govuk-link"
                 data-track-category="homepageClicked"
                 data-track-action="moreLink"
                 data-track-label="/running-a-limited-company"
                 data-track-value="1"
                 data-track-dimension="<%= t('homepage.index.running_limited_company') %>"
                 data-track-dimension-index="29">
                <%= t('homepage.index.running_limited_company') %>
              </a>
            </li>
            <li>
              <a href="/book-theory-test"
                 class="govuk-link"
                 data-track-category="homepageClicked"
                 data-track-action="moreLink"
                 data-track-label="/book-theory-test"
                 data-track-value="1"
                 data-track-dimension="<%= t('homepage.index.driving_test') %>"
                 data-track-dimension-index="29">
                <%= t('homepage.index.driving_test') %>
              </a>
            </li>
            <li>
              <a href="/calculate-tax-rates-for-new-cars"
                 class="govuk-link"
                 data-track-category="homepageClicked"
                 data-track-action="moreLink"
                 data-track-label="/calculate-tax-rates-for-new-cars"
                 data-track-value="1"
                 data-track-dimension="<%= t('homepage.index.calculate_vehicle_tax') %>"
                 data-track-dimension-index="29">
                <%= t('homepage.index.calculate_vehicle_tax') %>
              </a>
            </li>
            <li>
              <a href="/vehicle-tax"
                 class="govuk-link"
                 data-track-category="homepageClicked"
                 data-track-action="moreLink"
                 data-track-label="/vehicle-tax"
                 data-track-value="1"
                 data-track-dimension="<%= t('homepage.index.vehicle_tax') %>"
                 data-track-dimension-index="29">
                <%= t('homepage.index.vehicle_tax') %>
              </a>
            </li>
            <li>
              <a href="/vat-rates"
                 class="govuk-link"
                 data-track-category="homepageClicked"
                 data-track-action="moreLink"
                 data-track-label="/vat-rates"
                 data-track-value="1"
                 data-track-dimension="<%= t('homepage.index.vat_rates') %>"
                 data-track-dimension-index="29">
                <%= t('homepage.index.vat_rates') %>
              </a>
            </li>
          </ul>
        </div>

        <div class="govuk-grid-column-one-third" id="promo" data-module="gem-track-click">
          <h3 class="home-more-promo">
            <a href="/bank-holidays"
              class="govuk-link home-more-promo__link"
              tabindex="-1"
              data-track-category="homepageClicked"
              data-track-action="promoImageLink"
              data-track-label="/bank-holidays"
              data-track-value="1"
              data-track-dimension="<%= t('homepage.index.uk_bank_holidays') %>"
              data-track-dimension-index="29">
              <span class="home-more-promo__link-content">
                <%= t'homepage.index.uk_bank_holidays' %>
              </span>
            </a>
          </h3>
          <p class="home-promo__text">
            <%= t("homepage.index.uk_bank_holidays_dates_html", dimension: t("homepage.index.uk_bank_holidays")) %>
          </p>
        </div>
      </div>
    </section>
  </div>
</main>
