<% content_for :extra_headers do %>
<link rel="canonical" href="<%= root_path %>" />
<meta name="description" content="GOV.UK - The place to find government services and information - Simpler, clearer, faster" />
<% end %>
<% content_for :title, "Welcome to GOV.UK" %>
<% content_for :body_classes, "homepage" %>

<%= campaign_notification_content = render partial: "campaign_notification" %>
<main id="content" class="root-index" role="main">
  <header class="homepage-top">
    <div class="homepage-top-inner">

      <div class="welcome-block">
        <div class="inner-block floated-children">
          <div class="welcome-text">
            <div class="floated-inner-block">
              <h1>Welcome to GOV.UK</h1>
              <p>The best place to find government services and information</p>
              <p class="simpler">Simpler, clearer, faster</p>

              <form id="header-search" class="site-search" action="/search" method="get" role="search">
                <div class="header-search-content">
                  <label for="search-main">Search GOV.UK</label>
                  <div class="search-input-wrapper">
                    <input type="search" name="q" id="search-main" title="Search" class="search-input js-search-focus">
                  </div>
                  <input class="submit" type="submit" value="Search">
                </div>
              </form>
            </div>
          </div>
          <div class="content-links">
            <div class="floated-inner-block content-links-inner">
              <h2>Popular on GOV.UK</h2>
              <ul>
                <li><a href="/jobsearch">Universal Jobmatch job search</a></li>
                <li><a href="/vehicle-tax">Renew vehicle tax</a></li>
                <li><a href="/student-finance-register-login">Log in to student finance</a></li>
                <li><a href="/book-theory-test">Book your theory test</a></li>
                <li><a href="/personal-tax-account">Personal tax account</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <%= render_promo_banner if campaign_notification_content.strip.blank? %>

  <div id="homepage" class="homepage-content">
    <div class="homepage-content-inner">

      <section class="services-block" aria-labelledby="services-and-information-label" id="services-and-information">
        <div class="inner-block floated-children">
          <div class="two-column-heading">
            <h2 id="services-and-information-label" class="visuallyhidden">Services and information</h2>
          </div>
          <%= render :partial => "categories" %>
        </div>
      </section>

      <hr id="departments-and-policy" aria-hidden="true" />

      <section class="departments-and-policy" aria-labelledby="departments-and-policy-label">
        <div class="inner-block floated-children">
            <h2 id="departments-and-policy-label" class="visuallyhidden">Departments and&nbsp;policy</h2>
          <div class="large-numbers">
            <ol>
              <li><a href="/government/organisations"><strong>25</strong> Ministerial departments</a></li>
              <li><a href="/government/organisations"><strong>374</strong> Other agencies and public&nbsp;bodies</a></li>
            </ol>
          </div>
          <div class="departments-intro">
            <div class="floated-inner-block">
              <p>
                The websites of all <a href="/government/organisations">government
                departments</a> and many other agencies and public bodies have
                been merged into GOV.UK.
              </p>
              <p>
                Here you can see all <a href="/government/policies">policies</a>,
                <a href="/government/announcements">announcements</a>,
                <a href="/government/publications">publications</a>,
                <a href="/government/publications?publication_filter_option=statistics">statistics</a>
                and <a href="/government/publications?publication_filter_option=consultations">consultations</a>.
              </p>
              <p>
                Find out <a href="/performance">how government services are performing</a>
                and how satisfied users are.
              </p>
            </div>
          </div>

          <div class="departments-promo-sections">
            <div class="promo-image">
              <div class="promo-content">
                <a href="/jobsearch"><%= image_tag 'homepage/find-a-job.png', alt: 'Find a job' %></a>
                <h3>Find a job</h3>
                <p>
                  Use <a href="/jobsearch">Universal Jobmatch</a> to find full or part-time work in Great Britain and abroad.
                </p>
              </div>
            </div>
            <div class="promo-image">
              <div class="promo-content">
                <a href="https://www.blog.gov.uk"><%= image_tag 'homepage/govuk-blogs.jpg', alt: 'GOV.UK blogs' %></a>
                <h3>GOV.UK blogs</h3>
                <p><a href="https://www.blog.gov.uk">Search the list</a> of GOV.UK blogs, and find one to match your interest.</p>
              </div>
            </div>
            <div class="promo-image">
              <div class="promo-content">
                <a href="/government/policies/brexit"><%= image_tag 'homepage/leaving-the-eu.jpg', alt: 'The UK and the EU' %></a>
                <h3>The UK and the EU</h3>
                <p>
                  Read the <a href="/government/policies/brexit">latest updates and information</a> as the UK prepares to leave the EU.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <hr id="more-on-govuk" aria-hidden="true" />

      <section class="popular-content" aria-labelledby="more-on-govuk-label">
        <div class="inner-block floated-children">
          <div class="single-column-heading">
            <h2 id="more-on-govuk-label">More on GOV.UK</h2>
          </div>
          <div class="most-active">
            <div class="floated-inner-block">
              <h3>Most active</h3>
              <ul class="most-active-content">
                <li><a href="/jobsearch">Universal Jobmatch job search</a></li>
                <li><a href="/student-finance-register-login">Log in to student finance</a></li>
                <li><a href="/passport-fees">Passport fees</a></li>
                <li><a href="/jobseekers-allowance">Jobseeker's Allowance</a></li>
                <li><a href="/council-tax-bands">Council Tax bands</a></li>
                <li><a href="/running-a-limited-company">Running a limited company</a></li>
                <li><a href="/book-a-driving-theory-test">Driving theory test</a></li>
                <li><a href="/calculate-vehicle-tax-rates">Vehicle tax rates</a></li>
                <li><a href="/vehicle-tax">Renew vehicle tax</a></li>
                <li><a href="/vat-rates">VAT rates</a></li>
              </ul>
            </div>
          </div>
          <div class="promo-image" id="promo">
            <div class="promo-content">
              <h3 class="promo-text-cta">
                <a href="/bank-holidays">
                <span class="main-text">UK bank holidays</span>
                </a>
              </h3>
              <p>Check the dates for <a href="/bank-holidays">bank holidays</a> in England, Wales, Scotland and Northern Ireland.</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
