<% content_for :title do %>
  <%= @presenter.page_title %> - GOV.UK
<% end %>

<% content_for :extra_headers do %>
  <meta name="description" content="<%= content_item.description %>">
  <%= render "govuk_publishing_components/components/machine_readable_metadata",
    schema: (content_item.dataset? ? :dataset : :article),
    content_item: content_item.to_h %>

  <% if @presenter.hide_from_search_engines? %>
    <meta name="robots" content="noindex">
  <% end %>
<% end %>

<%= render "shared/email_subscribe_unsubscribe_flash", { title: content_item.title } %>

<div class="govuk-grid-row gem-print-columns-none translation-nav-header">
  <div class="govuk-grid-column-two-thirds translation-nav-header__child">
    <%= render "govuk_publishing_components/components/heading",
      context: I18n.t("formats.#{content_item.document_type}.name", count: 1),
      context_locale: t_locale_fallback("formats.#{content_item.document_type}.name", count: 1),
      heading_level: 1,
      font_size: "l",
      margin_bottom: 0,
      text: content_item.title %>
  </div>
  <%= render "shared/translations", content_item: %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/lead_paragraph", text: content_item.description %>
  </div>
</div>

<%= render "shared/publisher_metadata", locals: {
    from: govuk_styled_links_list(@presenter.contributor_links),
    first_published: display_date(content_item.initial_publication_date),
    last_updated: display_date(content_item.updated),
    see_updates_link: true,
    logo: @presenter.logo,
  } %>

<%= render "shared/single_page_notification_button", content_item: %>

<%= render "shared/history_notice", content_item: %>

<% if content_item.withdrawn? %>
  <% withdrawn_time_tag = tag.time(display_date(content_item.withdrawn_at), datetime: content_item.withdrawn_at) %>

  <%= render "govuk_publishing_components/components/notice", {
    title: I18n.t("withdrawn_notice.title", schema_name: I18n.t("formats.#{content_item.schema_name}.name", count: 1, locale: :en).downcase, withdrawn_time: withdrawn_time_tag).html_safe,
    description_govspeak: content_item.withdrawn_explanation&.html_safe,
    time: withdrawn_time_tag,
    lang: "en",
  } %>
<% end %>

<div class="govuk-grid-row gem-print-columns-none">
  <div class="govuk-grid-column-two-thirds">
    <div class="responsive-bottom-margin">
      <% if content_item.national_applicability.present? %>
        <%= render "govuk_publishing_components/components/devolved_nations", {
          national_applicability: content_item.national_applicability,
          content_type: content_item.schema_name,
        } %>
      <% end %>

      <div class="responsive-bottom-margin">
        <%= render "shared/attachments_list",
          title: t("formats.publication.documents", count: 5), # This should always be pluralised.
          attachments_for_components: content_item.featured_attachments %>

        <section id="details">
          <%= render "govuk_publishing_components/components/heading", {
            text: t("formats.publication.details"),
            margin_bottom: 4,
          } %>

          <%= render "govuk_publishing_components/components/govspeak", {
            direction: page_text_direction,
          } do %>
            <%= content_item.body.html_safe %>
          <% end %>
        </section>
      </div>
      <%= render "shared/published_dates_with_notification_button" %>
    </div>
  </div>
  <%= render "shared/sidebar_navigation" %>
</div>

<%= render "shared/footer_navigation" %>
