<%
  copyright ||= nil
  map_config = local_assigns[:map_config] || {}
  markers = local_assigns[:markers] || nil
  geojson = local_assigns[:url]
  hide_markers_beneath ||= nil
  height ||= 500
  heading ||= nil
  description ||= nil

  map_config[:heading] = heading
  map_config[:height] = height

  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.set_id("map-#{SecureRandom.hex(4)}")
  component_helper.add_data_attribute({ module: "map" })
  component_helper.add_data_attribute({ config: map_config })
  component_helper.add_data_attribute({ markers: markers.to_json }) if markers
  component_helper.add_data_attribute({ geojson: geojson }) if geojson
  component_helper.add_data_attribute({ csp_worker: ActionController::Base.helpers.asset_path("components/map/maplibre-gl-csp-worker.js") })
  skip_link_id = "skip-#{SecureRandom.hex(4)}"
  @include_script ||= OpenStruct.new(script_included: false)
%>

<%= ActionController::Base.helpers.asset_path("components/map/maplibre-gl-csp-worker.js") %>

<% if map_config[:centre_lat] && map_config[:centre_lng] && map_config[:zoom] && heading || markers || !geojson.nil? %>
  <%= render "govuk_publishing_components/components/heading", heading %>
  <% if description %>
    <%= render "govuk_publishing_components/components/govspeak", {} do %>
      <%= description %>
    <% end %>
  <% end %>

  <%= render "govuk_publishing_components/components/skip_link", {
    text: "Skip map",
    href: "##{skip_link_id}",
  } %>
  <% unless @include_script[:script_included] %>
    <%= javascript_include_tag "components/map/defra-map.js", integrity: false %>
    <%= javascript_include_tag "components/map.js", integrity: false, type: "module" %>
    <%= javascript_include_tag "components/map/map-style-liberty.js", integrity: false %>
    <% @include_script[:script_included] = true %>
  <% end %>

  <%= tag.div(**component_helper.all_attributes) do %>
    <div class="app-c-map"></div>
    <% if copyright %>
      <div class="govuk-grid-row app-c-map__copyright">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-s app-c-map__copyright-text">
            <%= copyright %>
          </p>
        </div>
      </div>
    <% end %>
    <div id="<%= skip_link_id %>"></div>
    <% if markers and !hide_markers_beneath %>
      <div class="app-c-map__markers-list">
        <%= render "govuk_publishing_components/components/details", {
          title: "Locations on this map",
          classes: "js-list-markers",
        } do %>
          <%# this list will be populated by the JavaScript %>
          <ul class="govuk-list govuk-list--bullet">
          </ul>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
