<%= render layout: 'base_page' do %>
  <%= render "govuk_publishing_components/components/heading", {
    text: t('formats.local_transaction.county_district_council'),
    margin_bottom: 4,
    font_size: "m",
  } %>
  <div class="local-authority-results"
       data-module="auto-track-event"
       data-track-category="postcodeSearch:find_local_council"
       data-track-action="postcodeResultShown"
       data-track-label="2 Results">

    <div class="county-result group">
      <p class="govuk-body"><%= @county["name"] %></p>

      <p class="govuk-body">
        <% if @county["homepage_url"].blank? %>
          <%= t('formats.local_transaction.county_district_council') %>
        <% else %>
          <%= t('website') %>: <%= link_to extract_host(@county["homepage_url"]), @county["homepage_url"], class: "govuk-link",
            data: {
              module: 'gem-track-click',
              track_category: 'pageElementInteraction',
              track_action: 'countyLinkClicked',
              track_label: @county["homepage_url"]
            } %>
        <% end %>
      </p>

      <p class="govuk-body"><%= t('formats.local_transaction.county_council_services')%>:</p>
      <ul class="govuk-list govuk-list--bullet">
        <% t('formats.local_transaction.county_council_services_list').each do |service| %>
          <li><%= service %></li>
        <% end %>
      </ul>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="district-result group">
      <p class="govuk-body"><%= @district["name"] %></p>

      <p class="govuk-body">
        <% if @district["homepage_url"].blank? %>
          <%= t('formats.local_transaction.no_website') %>
        <% else %>
          <%= t('website') %> <%= link_to extract_host(@district["homepage_url"]), @district["homepage_url"], class: "govuk-link",
                              data: {
                                module: 'gem-track-click',
                                track_category: 'pageElementInteraction',
                                track_action: 'districtLinkClicked',
                                track_label: @district["homepage_url"]
                              } %>
        <% end %>
      </p>

      <p class="govuk-body"><%= t('formats.local_transaction.district_council_services')%>:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><%= t('formats.local_transaction.rubbish_recycling_collection')%></li>
        <li><%= t('formats.local_transaction.council_tax')%></li>
        <li><%= t('formats.local_transaction.housing')%></li>
      </ul>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <%= render "govuk_publishing_components/components/back_link", {
    href: "/find-local-council"
  } %>
<% end %>
