<% content_for :title, "Find your local council: #{t('formats.local_transaction.search_result')} - GOV.UK" %>

<%= render layout: 'base_page' do %>
  <%= render "govuk_publishing_components/components/heading", {
    text: t('formats.local_transaction.county_district_council'),
    margin_bottom: 4,
    font_size: "m",
  } %>

  <p class="govuk-body govuk-!-margin-bottom-8">
    <%= t('formats.local_transaction.different_local_authorities') %>
  </p>

  <% ga4_type = content_item_hash["document_type"].gsub("_", " ") %>
  <div class="local-authority-results"
       data-module="ga4-auto-tracker"
       data-ga4-auto="<%= {
         event_name: "form_complete",
         action: "complete",
         type: ga4_type,
         text: "#{@county["name"]},#{@district["name"]}",
         tool_name: t('formats.local_transaction.find_council', locale: :en)
      }.to_json %>">

    <div class="county-result group govuk-!-margin-bottom-8">
      <%= render "govuk_publishing_components/components/heading", {
        text: @county["name"],
        heading_level: 3,
        font_size: 'm'
      } %>

      <p class="govuk-body govuk-!-margin-bottom-1">
        <%= t('formats.local_transaction.county_council_services')%>:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <% t('formats.local_transaction.county_council_services_list').each do |service| %>
          <li><%= service %></li>
        <% end %>
      </ul>

      <p class="govuk-body">
        <% if @county["homepage_url"].blank? %>
          <%= t('formats.local_transaction.county_district_council') %>
        <% else %>
          <%= link_to t("formats.local_transaction.local_authority_website",
            local_authority_name: @county["name"]), @county["homepage_url"],
            class: "govuk-link",
            data: {
              module: 'gem-track-click ga4-link-tracker',
              track_category: 'pageElementInteraction',
              track_action: 'countyLinkClicked',
              track_label: @county["homepage_url"],
              ga4_link: {
                event_name: "information_click",
                action: "information click",
                type: ga4_type,
                index_link: 1,
                index_total: 2,
                tool_name: t('formats.local_transaction.find_council', locale: :en)
              }
            }
          %>
        <% end %>
      </p>
    </div>

    <div class="district-result group">
      <%= render "govuk_publishing_components/components/heading", {
        text: @district["name"],
        heading_level: 3,
        font_size: 'm'
      } %>

      <p class="govuk-body govuk-!-margin-bottom-1">
        <%= t('formats.local_transaction.district_council_services')%>:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><%= t('formats.local_transaction.rubbish_recycling_collection')%></li>
        <li><%= t('formats.local_transaction.council_tax')%></li>
        <li><%= t('formats.local_transaction.housing')%></li>
      </ul>

      <p class="govuk-body">
        <% if @district["homepage_url"].blank? %>
          <%= t('formats.local_transaction.no_website') %>
        <% else %>
          <%= link_to t("formats.local_transaction.local_authority_website",
            local_authority_name: @district["name"]), @district["homepage_url"],
            class: "govuk-link",
            data: {
              module: 'gem-track-click ga4-link-tracker',
              track_category: 'pageElementInteraction',
              track_action: 'districtLinkClicked',
              track_label: @district["homepage_url"],
              ga4_link: {
                event_name: "information_click",
                action: "information click",
                type: ga4_type,
                index_link: 2,
                index_total: 2,
                tool_name: t('formats.local_transaction.find_council', locale: :en)
              }
            }
          %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
