<% content_for :title, "Find your local council: #{t('formats.local_transaction.select_address').downcase} - GOV.UK" %>

<%= render layout: "base_page" do %>
  <%= render "govuk_publishing_components/components/heading", {
    text: t("formats.local_transaction.postcode"),
    heading_level: 2,
    margin_bottom: 2,
  } %>

  <p class="govuk-body">
    <strong><%= @postcode %></strong> <%= link_to t("formats.local_transaction.change"), "/find-local-council", class: "govuk-link" %>
  </p>

  <%= form_tag("/find-local-council/multiple_authorities", method: :get) do -%>
    <% if @address_list_presenter.options.count > 6 %>
      <%= render "govuk_publishing_components/components/select", {
        id: "authority_slug",
        label: t("formats.local_transaction.select_address"),
        options: @address_list_presenter.options,
      } %>
    <% else %>
      <%= render "govuk_publishing_components/components/radio", {
        id: "authority_slug",
        name: "authority_slug",
        heading: t("formats.local_transaction.select_address"),
        heading_size: "s",
        items: @address_list_presenter.options,
      } %>
    <% end %>

    <%= render "govuk_publishing_components/components/button", {
      text: t("continue"),
    } %>
  <% end %>
<% end %>
