<% content_for :title, "Find your local council: #{t('formats.local_transaction.search_result')} - GOV.UK" %>

<%= render layout: "base_page" do %>
  <div class="local-authority-results"
    data-module="ga4-auto-tracker"
    data-ga4-auto="<%= {
      event_name: "form_complete",
      action: "complete",
      type: content_item_hash["document_type"].gsub("_", " "),
      text: @authority["name"],
      tool_name: t('formats.local_transaction.find_council', locale: :en)
    }.to_json %>">

    <div class="<%= @authority["tier"] %>-result group">
      <p class="govuk-body"><%= t("formats.local_transaction.local_authority_html", local_authority_name: @authority["name"]) %></p>
      <% if @authority["homepage_url"].blank? %>
        <p class="govuk-body">
          <%= t("formats.local_transaction.no_website") %>
        </p>
      <% else %>
        <p class="govuk-body"><%= t("formats.local_transaction.website") %></p>

        <%= render "govuk_publishing_components/components/button", {
          href: @authority["homepage_url"],
          text: t("formats.local_transaction.local_authority_website", local_authority_name: @authority["name"]),
          data_attributes: {
            module: "gem-track-click ga4-link-tracker",
            track_category: "pageElementInteraction",
            track_action: "unitaryLinkClicked",
            track_label: @authority["homepage_url"],
            ga4_link: {
              event_name: "information_click",
              action: "information click",
              type: content_item_hash["document_type"].gsub("_", " "),
              index_link: 1,
              index_total: 1,
              tool_name: t('formats.local_transaction.find_council', locale: :en)
            }
          }
        } %>
      <% end %>
    </div>
  </div>
<% end %>
