<% content_for :title, "Find your local council: #{t('formats.local_transaction.search_result')} - GOV.UK" %>

<%= render layout: "base_page" do %>
  <div class="local-authority-results"
    data-module="ga4-auto-tracker"
    data-ga4-auto="<%= {
      event_name: "form_complete",
      action: "complete",
      type: content_item.document_type.gsub("_", " "),
      text: @local_authority.name,
      tool_name: t("formats.local_transaction.find_council", locale: :en),
    }.to_json %>">

    <div class="<%= @local_authority.tier %>-result group">
      <p class="govuk-body"><%= t("formats.local_transaction.local_authority_html", local_authority_name: @local_authority.name) %></p>
      <p class="govuk-body"><%= link_to t("formats.local_transaction.search_for_a_different_postcode"), find_local_council_path, class: "govuk-link" %></p>
      <% if @local_authority.homepage_url.blank? %>
        <p class="govuk-body">
          <%= t("formats.local_transaction.no_website") %>
        </p>
      <% else %>
        <p class="govuk-body"><%= t("formats.local_transaction.website") %></p>

        <%= render "govuk_publishing_components/components/button", {
          href: @local_authority.homepage_url,
          text: t("formats.local_transaction.local_authority_website", local_authority_name: @local_authority.name),
          data_attributes: {
            module: "ga4-link-tracker",
            ga4_link: {
              event_name: "information_click",
              action: "information click",
              type: content_item.document_type.gsub("_", " "),
              index_link: 1,
              index_total: 1,
              tool_name: t("formats.local_transaction.find_council", locale: :en),
            },
          },
        } %>
      <% end %>
    </div>
  </div>
<% end %>
