<%= render layout: 'shared/base_page', locals: {
  title: t('formats.local_transaction.find_council'),
  publication: publication,
  edition: @edition,
} do %>

  <div class="local-authority-results"
    data-module="auto-track-event"
    data-track-category="postcodeSearch:find_local_council"
    data-track-action="postcodeResultShown"
    data-track-label="1 Result">

    <div class="<%= @authority["tier"] %>-result group">
      <p class="govuk-body"><%= t("formats.local_transaction.local_authority_html", local_authority_name: @authority["name"]) %></p>
      <% if @authority["homepage_url"].blank? %>
        <p class="govuk-body">
          <%= t("formats.local_transaction.no_website") %>
        </p>
      <% else %>
        <p class="govuk-body"><%= t("formats.local_transaction.website") %></p>

        <%= render "govuk_publishing_components/components/button", {
          href: @authority["homepage_url"],
          text: t("formats.local_transaction.local_authority_website", local_authority_name: @authority["name"]),
          data_attributes: {
            module: "gem-track-click",
            track_category: "pageElementInteraction",
            track_action: "unitaryLinkClicked",
            track_label: @authority["homepage_url"]
          }
        } %>
      <% end %>
    </div>
  </div>
<% end %>
