<%
  add_view_stylesheet("hero")
  image ||= false
  video ||= false
%>
<div class="app-b-hero">
  <% if image %>
    <div class="app-b-hero__imagewrapper">
      <%= image_tag image, alt: alt_text, class: "app-b-hero__image" %>
    </div>
  <% elsif video %>
    <div class="app-b-hero__videowrapper">
      <div class="app-b-hero__videowrapper-inner">
        <%= render "govuk_publishing_components/components/govspeak", {
        } do %>
          <p><a href="<%= video %>">The first 24 hours as Prime Minister - Behind the Scenes with Keir Starmer</a></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="app-b-hero__textbox">
          <%= render "govuk_publishing_components/components/heading", {
            text: text_heading,
            margin_bottom: 4,
            inverse: true
          } %>
          <%= render "govuk_publishing_components/components/govspeak", {
            inverse: true
          } do %>
            <%= text_content %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
