<form action="/search" method="get" accept-charset="utf-8" class="search-header search-header-2" role="search">
  <%= hidden_field_tag(:debug_score, params[:debug_score]) if params[:debug_score] %>
  <%= hidden_field_tag(:debug, params[:debug]) if params[:debug] %>
  <%= hidden_field_tag(:organisation, params[:organisation]) if params[:organisation] %>
  <div class="searchfield">
    <fieldset class="search-input">
      <label for="search-main">
        <%- if @search_term.present? -%>
          <h1>Search results for <span class="visuallyhidden">&ldquo;<%= @search_term %>&rdquo;</span ></h1>
        <%- else -%>
          <h1>Search GOV.UK</h1>
        <%- end -%>
      </label>
      <input type="search" name="q" value="<%= @search_term %>" id="search-main" />
    </fieldset>
    <% if @ui.present? -%>
      <input type="hidden" name="ui" value="<%= @ui %>" />
    <%- end -%>
    <fieldset class="search-submit">
      <button type="submit" class="button">Search</button>
    </fieldset>
  </div>
  <% if @spelling_suggestion %>
    <fieldset class="spelling-suggestion">
      <p>Did you mean <%= link_to "#{@spelling_suggestion.query}", @spelling_suggestion.link %>
      </p>
    </fieldset>
  <% end %>
</form>
