<form action="/search" method="get" accept-charset="utf-8" class="search-header search-header-2 js-search-hash" role="search">
  <%= hidden_field_tag(:top_result, params[:top_result]) if params[:top_result] %>
  <%= hidden_field_tag(:combine, params[:combine]) if params[:combine] %>
  <%= hidden_field_tag(:debug_score, params[:debug_score]) if params[:debug_score] %>
  <%= hidden_field_tag :tab, @results_tab if @results_tab %>
  <fieldset class="search-input">
    <label for="search-main">
      <%- if @search_term -%>
        <h1>Search results for <span class="visuallyhidden">&ldquo;<%= @search_term %>&rdquo;</span></h1>
      <%- else -%>
        <h1>Search GOV.UK</h1>
      <%- end -%>
    </label>
    <input type="search" name="q" value="<%= @search_term %>" id="search-main" />
  </fieldset>
  <fieldset class="search-submit">
    <button type="submit" class="button">Search</button>
  </fieldset>
</form>
