  <li class="section-<%= result.section %> type-<%= result.format %>">
  <% if params[:debug_score] %>
    <span style="color: red;">
      <small>
        <%= result.es_score %>
        &nbsp;
        <%= result.format %>
      </small>
    </span>
  <% end %>

    <h3>
      <a href="<%= result.link %>" title="View <%= result.title %>">
        <%= result.title %>
      </a>
    </h3>
    <p><%= result.description %></p>
