<form id="government-filter" method="get" action="" class="search-filter">
  <%= hidden_field_tag(:q, params[:q]) %>
  <%= render partial: "hidden_form_tags" %>
  <label for="organisation-filter">Show results from </label>
  <select name="organisation" id="organisation-filter">
    <option value="">All organisations</option>
    <optgroup label="Ministerial departments">
      <% ministerial_departments.each do |organisation| %>
        <option value="<%= organisation["slug"] %>" <%= (params[:organisation] == organisation["slug"]) ? "selected=selected" : "" %>>
          <%= organisation["title"] %>
        </option>
      <% end %>
    </optgroup>
    <optgroup label="Other departments &amp; public bodies">
      <% other_organisations.each do |organisation| %>
        <option value="<%= organisation["slug"] %>" <%= (params[:organisation] == organisation["slug"]) ? "selected=selected" : "" %>>
          <%= organisation["title"] %>
        </option>
      <% end %>
    </optgroup>
  </select>

  <fieldset class="sort-by">
    <h3>Sort by</h3>
    <label>
      <%= radio_button_tag "sort", "", params[:sort].blank? %>
      relevance
    </label>
    <label>
      <%= radio_button_tag "sort", "public_timestamp", params[:sort] == "public_timestamp" %>
      date
    </label>
  </fieldset>

  <button type="submit" class="button">
    Refresh results
  </button>
</form>
