<form id="government-filter" method="get" action="" class="search-filter">
  <%= hidden_field_tag(:q, params[:q]) %>
  <label for="organisation-filter">Organisation:</label>
  <select name="organisation" id="organisation-filter">
    <option value="">All</option>
    <optgroup label="Ministerial departments">
      <% ministerial_departments.each do |organisation| %>
        <option value="<%= organisation["slug"] %>"><%= organisation["title"] %></option>
      <% end %>
    </optgroup>
    <optgroup label="Other stuff">
      <% other_organisations.each do |organisation| %>
        <option value="<%= organisation["slug"] %>"><%= organisation["title"] %></option>
      <% end %>
    </optgroup>
  </select>
  <button type="submit" class="button">
    Filter results
  </button>
</form>
