  <li class="type-guide external">
  <%= render partial: "result_debug_score", locals: { result: result } %>

  <h3>
    <a href="<%= result.link %>" title="View <%= result.title %>" rel="external">
      <%= result.title %>
    </a>
  </h3>
  <p class="meta">
    <span class="visuallyhidden">Part of </span>
    <span class="url"><%= truncate(result.link, :length => 48) %></span>
  </p>
  <p><%= result.description %></p>
