<% if result.format == "recommended-link" %>
  <li class="type-guide external">
<% else %>
  <li class="section-<%= result.section %> type-<%= result.format %>">
<% end %>
  <% if params[:debug_score] %>
    <span style="color: red;">
      <small>
        <%= result.es_score %>
        &nbsp;
        <%= result.format %>
      </small>
    </span>
  <% end %>

  <h3>
    <a href="<%= result.link %>" title="View <%= result.title %>"<% if result.format == "recommended-link" %> rel="external"<% end %>>
      <%= result.title %>
    </a>
  </h3>
  <% if result.format == "recommended-link" %>
    <p class="meta">
      <span class="visuallyhidden">Part of </span>
      <span class="url"><%= truncate(result.link, :length => 48) %></span>
    </p>
    <p><%= result.description %></p>
  <% elsif (result.format == 'detailed_guidance' && result.section) || result.section %>
    <p class="meta crumbtrail">
      <span class="visuallyhidden">Part of </span>
      <span class="section"><%= result.formatted_section_name %></span>
      <% if result.subsection %><span class="visuallyhidden">, </span><span class="subsection"><%= result.formatted_subsection_name %></span><% end %>
      <% if result.subsubsection %><span class="visuallyhidden">, </span><span class="subsubsection"><%= result.formatted_subsubsection_name %></span><% end %>
    </p>
    <p><%= result.description %></p>
  <% elsif result.is_a?(GovernmentResult) && result.format %>
    <ul class="attributes">
      <% if result.public_timestamp.present? %>
        <li>
          <span class="visuallyhidden">Published on: </span>
          <%= result.display_timestamp %>
        </li>
      <% end %>
      <% if result.organisations.present? %>
        <li>
          <span class="visuallyhidden">Departments: </span>
            <%= result.display_departments %>
        </li>
      <% end %>
      <% if result.display_topics.present? %>
        <li>
          <span class="visuallyhidden">Topic: </span>
          <%= result.display_topics %>
        </li>
      <% end %>
      <% if result.location.present? %>
        <li>
          <span class="visuallyhidden">Location: </span>
          <%= result.location %>
        </li>
      <% end %>
    </ul>
    
      <p>
        <% if result.display_type.present? %>
          <strong><%= result.display_type %>: </strong>
        <% end %>
        <%= result.description %>
      </p>
  <% end %>
</li>
