<% if result.format == "recommended-link" %>
<li class="section-<%= result.section %> type-guide external">
<% else %>
<li class="section-<%= result.section %> type-<%= result.format %>">
<% end %>
  <p class="search-result-title"><a href="<%= result.link %>" title="View <%= result.title %>"<% if result.format == "recommended-link" %> rel="external"<% end %>><%= result.title %></a></p>
  <p><%= result.description %></p>
  <% if result.format == "recommended-link" %>
  <ul class="result-meta">
    <li>External site</li>
  </ul>
  <% elsif result.format == 'specialist_guidance' %>
    <ul class="result-meta">
    <li class="<%= result.format %>"><%= result.presentation_format %></li>
    <% if result.section %>
    <li><a href="/browse/<%= result.section %>"><%= result.formatted_section_name %></a></li>
    <% end %>
  </ul>
  <% end %>
</li>