<% if result.format == "recommended-link" %>
  <li class="type-guide external">
<% else %>
  <li class="section-<%= result.section %> type-<%= result.format %>">
<% end %>
  <p class="search-result-title"><a href="<%= result.link %>" title="View <%= result.title %>"<% if result.format == "recommended-link" %> rel="external"<% end %>><%= result.title %></a></p>
  <p><%= result.description %></p>

  <% if result.format == "recommended-link" %>
    <ul class="result-meta">
      <li><%= result.link %></li>
    </ul>
  <% elsif result.format == 'specialist_guidance' %>
    <ul class="result-meta">
      <li class="<%= result.format %>"><%= result.humanized_format %></li>
    </ul>
  <% elsif result.section %>
    <ul class="result-meta">
      <li><%= result.formatted_section_name %></li>
    </ul>
  <% end %>
</li>
