<div class="filter checkbox-filter js-openable-filter<%=' closed' unless any_input_checked? %>" tabindex="0">
  <div class="head">
    <span class="legend">Organisations</span>
    <div class="controls">
      <a class="clear-selected<%=' js-hidden' unless any_input_checked? %>">Remove filters</a>
      <div class="toggle"></div>
    </div>
  </div>
  <div class="checkbox-container" id="organisations-filter">
    <ul>
      <% facets['options'].each do | option | %>
      <li>
        <input type="checkbox" name="filter_organisations[]" value="<%= option['value']['slug'] %>" id="<%= option['value']['slug'] %>" <%= input_checked(option['value']['slug']) %>>
        <label for='<%= option['value']['slug'] %>'>
          <%= option["value"]["title"] %>
          (<%= number_with_delimiter(option["documents"]) %>)
        </label>
      </li>
      <% end %>
    </ul>
  </div>
</div>
