<% content_for :title, "#{@search_term} - Search - GOV.UK" %>
<% content_for :body_classes, "search" %>
<% content_for :extra_headers do %>
  <link rel="alternate" type="application/json" href="/api/search.json?q=<%= @search_term %>">
<% end %>

<main id="content" role="main" class="group search">
  <form action="/search" method="get" accept-charset="utf-8" role="search" class="js-live-search-form">
    <div class="search-header">
      <%= render 'search_field' %>
    </div>

    <div id="results" class="js-live-search-results-block">
      <div aria-live="assertive" class='js-aria-live-count visuallyhidden'><%= @results.result_count %> found</div>
      <%= render_mustache('results_block', @results.to_hash) %>
    </div>
  </form>
</main>

<h3 class="visuallyhidden">No more results for &ldquo;<%= @search_term %>&rdquo;. <a href="#search-main">Try a different search?</a></h3>
