<section id="content" role="main" class="group search ancillary">
  <%= render partial: 'form' %>

  <div id="search-results-tabs">
    <% if (@primary_results.any? or @external_link_results.any?) and @secondary_results.any? %>
      <nav class="js-tabs nav-tabs" role="navigation">
        <ul id="search-index-navigation">
          <li>
            <a href="#mainstream-results">General results (<%= @primary_results.length %>)</a>
          </li>
          <li>
            <a href="#detailed-results">Detailed guidance (<%= @secondary_results.length %>)</a>
          </li>
        </ul>
      </nav>
    <% end %>

    <div class="search-container group js-tab-content tab-content">
      <% if @primary_results.any? or @external_link_results.any? %>
        <div id="mainstream-results" class="js-tab-pane tab-pane <%= (@primary_results + @external_link_results).length == 1 ? ' single-item-pane' : ''%>">
          <% if @external_link_results.any? %>
            <div class="external-links">
              <h2>Other sites that may be useful</h2>
              <ul class="results-list">
                <%= render collection: @external_link_results, partial: "result" %>
              </ul>
            </div>
          <% end %>
          <% if @primary_results.any? %>
            <ul class="results-list internal-links">
              <%= render collection: @primary_results, partial: "result" %>
            </ul>
          <% end %>
        </div>
      <% end %>

      <% if @secondary_results.any? %>
        <div id="detailed-results" class="js-tab-pane tab-pane">
          <ul>
            <%= render collection: @secondary_results, partial: "result" %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</section>

<% content_for :extra_headers do %>
  <link rel="alternate" type="application/json" href="/api/search.json?q=<%= @search_term %>">
<% end %>

<% content_for :title, "#{@search_term} - Search - GOV.UK" %>
