<section id="content" role="main" class="group search ancillary">
  <%= render partial: 'form' %>

  <% if @top_result %>
    <div id="top-results">
      <ul class="results-list">
        <%= render partial: "result", locals: { result: @top_result } %>
      </ul>
    </div>
  <% end %>

  <div id="search-results-tabs">
    <% if [(@mainstream_results + @recommended_link_results), @detailed_guidance_results, @government_results].reject(&:blank?).count > 1 %>
      <nav class="js-tabs nav-tabs" role="navigation">
        <ul id="search-index-navigation">
          <% if (@mainstream_results + @recommended_link_results).any? %>
            <li>
              <a href="#mainstream-results">General results (<%= @mainstream_results.length + @recommended_link_results.length %>)</a>
            </li>
          <% end %>
          <% if @detailed_guidance_results.any? %>
            <li>
              <a href="#detailed-results">Detailed guidance (<%= @detailed_guidance_results.length %>)</a>
            </li>
          <% end %>
          <% if @government_results.any? %>
            <li>
              <a href="#government-results">Inside Government (<%= @government_results.length %>)</a>
            </li>
          <% end %>
        </ul>
      </nav>
    <% end %>

    <div class="search-container group js-tab-content tab-content">
      <% if @mainstream_results.any? or @recommended_link_results.any? %>
        <div id="mainstream-results" class="js-tab-pane tab-pane <%= (@mainstream_results + @recommended_link_results).length == 1 ? ' single-item-pane' : ''%>">
          <% if @recommended_link_results.any? %>
            <div class="recommended-links">
              <h2>Other sites that may be useful</h2>
              <ul class="results-list">
                <%= render collection: @recommended_link_results, partial: "result" %>
              </ul>
            </div>
          <% end %>
          <% if @mainstream_results.any? %>
            <ul class="results-list internal-links">
              <%= render collection: @mainstream_results, partial: "result" %>
            </ul>
          <% end %>
        </div>
      <% end %>

      <% if @detailed_guidance_results.any? %>
        <div id="detailed-results" class="js-tab-pane tab-pane">
          <ul>
            <%= render collection: @detailed_guidance_results, partial: "result" %>
          </ul>
        </div>
      <% end %>

      <% if @government_results.any? %>
        <div id="government-results" class="js-tab-pane tab-pane">
          <ul>
            <%= render collection: @government_results, partial: "result" %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</section>

<% content_for :extra_headers do %>
  <link rel="alternate" type="application/json" href="/api/search.json?q=<%= @search_term %>">
<% end %>

<% content_for :title, "#{@search_term} - Search - GOV.UK" %>
