<% content_for :body_classes do %>search<% end %>


<section id="content" role="main" class="group search ancillary">
  <%= render partial: 'form' %>

  <% if @top_results %>
    <div id="top-results">
      <h2 class="visuallyhidden">Top result</h2>
      <ul class="results-list">
        <% @top_results.each_with_index do |top_result, index| %>
        <%= render partial: "result", locals: { result: top_result } %>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div id="search-results-tabs" class="shouty-tabs">
    <h2 class="visuallyhidden">All results</h2>
    <% if show_tabs?(@streams) %>
      <div class="search-navigation js-tabs">
      <% if @streams.count == 2 %>
        <ul id="search-index-navigation" class="two-tabs">
      <% else %>
        <ul id="search-index-navigation">
      <% end %>
        <% @streams.each do |stream| %>
          <li <% if @active_stream == stream %>class="active"<% end %>>
            <a href="#<%= stream.key %>-results">
              <%= stream.title.html_safe %>
            </a>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% if show_tabs?(@streams) %>
      <div class="search-container group js-tab-content tab-content ">
        <% @streams.each do |stream| %>
          <div id="<%= stream.key %>-results" class="js-tab-pane tab-pane <%= stream.total_size == 1 ? ' single-item-pane' : '' %>">
          <div class="filters">
            <% if stream.key == "government" %>
              <%= render partial: "government_filter" %>
            <% end %>
          </div>
          <% if stream.recommended.any? %>
            <div class="recommended-links">
              <h2>Other sites that may be useful</h2>
              <ul class="results-list">
                <%= render collection: stream.recommended, partial: "result" %>
              </ul>
            </div>
          <% end %>
          <div class="results">
          <% if stream.total_size > 0 %>
            <ul class="results-list internal-links">
              <%= render collection: stream.results, partial: "result" %>
            </ul>
          <% end %>
          <% unless stream.anything_to_show? %>
            <%= render partial: "no_results", locals: { context: stream.title } %>
          <% end %>
          </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<h3 class="visuallyhidden">No more results for <span class="visuallyhidden">&ldquo;<%= @search_term %>&rdquo;</span>. <a href="#search-main">Try a different search?</a></h3>

<% content_for :extra_headers do %>
  <link rel="alternate" type="application/json" href="/api/search.json?q=<%= @search_term %>">
<% end %>

<% content_for :title, "#{@search_term} - Search - GOV.UK" %>
