<% if feature_enabled?("metadata") %>
  <% content_for :body_classes do %>search<% end %>
<% end %>

<section id="content" role="main" class="group search ancillary">
  <%= render partial: 'form' %>

  <% if @top_result %>
    <div id="top-results">
      <h2 class="visuallyhidden">Top result</h2>
      <ul class="results-list">
        <%= render partial: "result", locals: { result: @top_result } %>
      </ul>
    </div>
  <% end %>

  <div id="search-results-tabs">
    <h2 class="visuallyhidden">All results</h2>
    <% if @streams.count > 1 %>
      <nav class="search-navigation js-tabs" role="navigation">
        <% if @streams.count == 2 %>
          <ul id="search-index-navigation" class="two-tabs">
        <% else %>
          <ul id="search-index-navigation">
        <% end %>
          <% @streams.each_with_index do |stream, index| %>
            <li <% if index == 0%>class="active"<% end %>>
              <a href="#<%= stream.key %>-results">
                <span class="count"><%= stream.total_size %> </span>
                <span class="visuallyhidden">results in </span>
                <span class="label"><%= stream.title.html_safe %></span>
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    <% end %>

    <div class="search-container group js-tab-content tab-content">
      <% @streams.each do |stream| %>
        <div id="<%= stream.key %>-results" class="js-tab-pane tab-pane <%= stream.total_size == 1 ? ' single-item-pane' : '' %>">
        <% if stream.recommended.any? %>
          <div class="recommended-links">
            <h2>Other sites that may be useful</h2>
            <ul class="results-list">
              <%= render collection: stream.recommended, partial: "result" %>
            </ul>
          </div>
        <% end %>
        <% if stream.total_size > 0 %>
          <ul class="results-list internal-links">
            <%= render collection: stream.results, partial: "result" %>
          </ul>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<h3 class="visuallyhidden">No more results for <span class="visuallyhidden">&ldquo;<%= @search_term %>&rdquo;</span>. <a href="#search-main">Try a different search?</a></h3>

<% content_for :extra_headers do %>
  <link rel="alternate" type="application/json" href="/api/search.json?q=<%= @search_term %>">
<% end %>

<% content_for :title, "#{@search_term} - Search - GOV.UK" %>
