<section id="content" role="main" class="group search ancillary">

  <div class="search-container group">
    <form action="/search" method="get" accept-charset="utf-8" class="search-header search-header-2" role="search">
      <fieldset>
        <legend class="visuallyhidden">Search gov.uk</legend>
        <label for="search-main" ><span class="result-count"><%= capped_search_set_size %></span> <%= pluralize("result", "results") %> found for </label>
        <input type="search" name="q" value="<%= @query %>" id="search-main" /> <input type="submit" value="Search" class="button">
      </fieldset>
    </form>

    <div class="group">
      <div class="results">
        <div class="results-wrapper">
          <ul class="results-list">
            <%= render collection: @results, partial: 'mainstream_result' %>
            <%= render collection: @secondary_results, partial: 'specialist_result' %>
          </ul>
        </div>
      </div>

      <aside class="filters group">
          <h2 class="visuallyhidden">Filter by Section</h2>

          <ul>
            <li data-filter="*" class="active"><a href="#">All results <span><%= capped_search_set_size %></span><span class="visuallyhidden"> results</span></a></li>
            <% @results.group_by(&:section).sort_by { |section, results_in_section|
                 results_in_section.size
               }.reverse_each do |section, results_in_section| %>
              <% next unless section %>
              <li data-filter="section-<%= section %>"><a href="#"><%= formatted_section_name(section) %> <span><%= results_in_section.size %></span><span class="visuallyhidden"> results</span></a></li>
            <% end %>
            <% if not @secondary_results.empty? %>
              <li data-filter="section-specialist"><a href="#">Specialist guidance <span><%= @secondary_results.count %></span><span class="visuallyhidden"> results</span></a></li>
            <% end %>
          </ul>
      </aside>
    </div>
  </div>
</section>

<% content_for :head do %>
  <link rel="alternate" type="application/json" href="/api/search.json?q=<%= @query %>">
<% end %>
<% content_for :title, "#{@search_term} | Search | GOV.UK Beta (Test)" %>