<% content_for :body_classes do %>search<% end %>


<main id="content" role="main" class="group search ancillary">
  <%= render partial: 'form' %>

  <div class="search-options">
    <h2>Search options</h2>
    <select multiple size=20>
    <%= @facets["organisations"]["options"].each do |facet| %>
      <option name="filter_organisations[]" value="{% facet['value']['slug'] %}">
      <% if facet["value"]["acronym"] %>
        <%= facet["value"]["title"] %> (<%= facet["value"]["acronym"] %>)
      <% else %>
        <%= facet["value"]["title"] %>
      <% end %>
      - <%= facet["documents"] %> documents</option>

    <%- end -%>
    </select>
    <%- if @facets["organisations"]["missing_options"] > 0 -%>
      <%= @facets["organisations"]["missing_options"] %> more
    <%- end -%>
  </div>

  <div class="result-count">
    You are viewing all <%= @result_count %> results found <%= @scope %>
  </div>
  <div id="unified-results">
    <h2 class="visuallyhidden">Top result</h2>
    <ul class="results-list">
      <% @results.each_with_index do |top_result, index| %>
      <%= render partial: "result", locals: { result: top_result } %>
      <% end %>
    </ul>
  </div>
</main>

<h3 class="visuallyhidden">No more results for &ldquo;<%= @search_term %>&rdquo;. <a href="#search-main">Try a different search?</a></h3>

<% content_for :extra_headers do %>
  <link rel="alternate" type="application/json" href="/api/search.json?q=<%= @search_term %>">
<% end %>

<% content_for :title, "#{@search_term} - Search - GOV.UK" %>
