<% content_for :title, "#{@search_term} - Search - GOV.UK" %>
<% content_for :body_classes, "unified-search" %>
<% content_for :extra_headers do %>
  <link rel="alternate" type="application/json" href="/api/search.json?q=<%= @search_term %>">
<% end %>

<main id="content" role="main" class="group search">
  <form action="/search" method="get" accept-charset="utf-8" role="search" class="js-live-search-form">
    <div class="search-header">
      <%= hidden_field_tag(:debug_score, params[:debug_score]) if params[:debug_score] %>
      <%= hidden_field_tag(:spelling_suggestion, params[:spelling_suggestion]) if params[:spelling_suggestion] %>
      <div class="searchfield">
        <fieldset class="search-input">
          <label for="search-main">
            <%- if @search_term.present? -%>
              <h1>Search results for <span class="visuallyhidden">&ldquo;<%= @search_term %>&rdquo;</span ></h1>
            <%- else -%>
              <h1>Search GOV.UK</h1>
            <%- end -%>
          </label>
          <input type="search" name="q" value="<%= @search_term %>" id="search-main" />
        </fieldset>
        <% if @ui.present? -%>
          <input type="hidden" name="ui" value="<%= @ui %>" />
        <%- end -%>
        <fieldset class="search-submit">
          <button type="submit" class="button">Search</button>
        </fieldset>
      </div>
      <% if @spelling_suggestion %>
        <fieldset class="spelling-suggestion">
          <p>Did you mean <%= link_to "#{@spelling_suggestion}", search_path(q: @spelling_suggestion, spelling_suggestion: params[:spelling_suggestion]) %>
          </p>
        </fieldset>
      <% end %>
    </div>

    <div id="unified-results">
      <div class="filter-form">
        <div class="inner-block">
          <p class="info">You can filter your results by organistion:</p>
          <%= render partial: 'select_facet', locals: {facets: @facets["organisations"]} %>
          <div class="submit js-live-search-fallback">
            <input type="submit" class="button" value="Submit filters">
          </div>
        </div>
      </div>

      <div class="results-block">
        <div class="inner-block">
          <div class="result-count" id="js-live-search-result-count">
            <%= @result_count %> results found on GOV.UK
          </div>
          <h2 class="visuallyhidden">Top result</h2>
          <ul class="results-list" id="js-live-search-results">
            <% @results.each_with_index do |result, index| %>
              <%= render partial: "result", locals: { result: result } %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </form>
</main>

<h3 class="visuallyhidden">No more results for &ldquo;<%= @search_term %>&rdquo;. <a href="#search-main">Try a different search?</a></h3>

