<% content_for :body_classes do %>search<% end %>


<main id="content" role="main" class="group search ancillary">
  <%= render partial: 'form' %>
  <div class="filter-form">
    <%= render partial: 'select_facet', locals: {facets: @facets["organisations"]} %>
  </div>

  <div id="unified-results">
    <div class="result-count">
      <%= @result_count %> results found on GOV.UK
    </div>
    <h2 class="visuallyhidden">Top result</h2>
    <ul class="results-list">
      <% @results.each_with_index do |result, index| %>
        <%= render partial: "result", locals: { result: result } %>
      <% end %>
    </ul>
  </div>
</main>

<h3 class="visuallyhidden">No more results for &ldquo;<%= @search_term %>&rdquo;. <a href="#search-main">Try a different search?</a></h3>

<% content_for :extra_headers do %>
  <link rel="alternate" type="application/json" href="/api/search.json?q=<%= @search_term %>">
<% end %>

<% content_for :title, "#{@search_term} - Search - GOV.UK" %>
