<%
  data_nation = nation.gsub(/\s/,'_')

  save_description = "Do you want to save # as your location for bank holidays?"
  save_button_aria_label = "Save # as your location for bank holidays"
  save_button_text = "Save"

  undo_description = "You've saved # as your location for bank holidays"
  undo_button_aria_label = "Remove # as your saved location for bank holidays"
  undo_button_text = "Undo"
%>
<section
  class="save-nation js-save-nation"
  data-module="save-bank-holiday-nation"
  data-nation="<%= data_nation %>"
  data-save-description="<%= save_description %>"
  data-save-button-aria-label="<%= save_button_aria_label %>"
  data-save-button-text="<%= save_button_text %>"
  data-undo-description="<%= undo_description %>"
  data-undo-button-aria-label="<%= undo_button_aria_label %>"
  data-undo-button-text="<%= undo_button_text %>"
>
  <h2 class="govuk-heading-m js-nation-description" aria-live="polite">
    <%= sanitize(save_description) %>
  </h2>

  <%= render "govuk_publishing_components/components/button", {
    text: save_button_text,
    margin_bottom: 4,
    classes: "js-nation-button",
    aria_label: save_button_aria_label,
    data_attributes: {
      track_category: "uk-public-holiday",
      track_action: "save-button",
      track_label: nation.gsub(/\s/,'-')
    }
  } %>

  <p class="govuk-body govuk-!-margin-0 js-nation-link">
    <a href="/help/cookie-details" class="govuk-link">We'll add a cookie to your device</a>
  </p>
</section>
