<%= render :partial => "calendar_head" %>

<main id="content" role="main" class="govuk-main-wrapper govuk-!-padding-top-0">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if @calendar.show_bunting? %>
      <div class="app-o-epic-bunting">
        <span class="app-o-epic-bunting__bunt<%= " app-o-epic-bunting__bunt--#{@calendar.bunting_styles}" if @calendar.bunting_styles %>"></span>
      </div>
      <% end %>
      <section  class="app-o-main-container <%= "app-o-main-container--bunted" if @calendar.show_bunting? %>" lang="<%= I18n.locale %>">
        <%= render "govuk_publishing_components/components/title", {
          title: @calendar.title
        } %>

        <article role="article" data-module="gem-track-click ga4-event-tracker" class="js-tab-track">
          <% tab_content ||= [] %>
          <% @calendar.divisions.each_with_index do |division, index| %>
            <% tab_content[index] = capture do %>

              <% if division.upcoming_event %>
                <%= render "govuk_publishing_components/components/panel", {
                  prepend: t("common.next_holiday_in_is", :in_nation => t("#{division.title}_in")),
                  title: division.upcoming_event.date == Date.today ? t("common.today") : l(division.upcoming_event.date, format: "%e %B"),
                  append: division.upcoming_event.title
                } %>
              <% end %>

              <% caption = "#{t "common.upcoming_bank_holidays"} #{t "#{division.title}_in"}" %>
              <h2 class="govuk-heading-m" id="<%= caption.parameterize %>"><%= caption %></h2>

              <% division.upcoming_events_by_year.each do |year, events| %>
                <%= render "components/calendar", {
                  title: caption,
                  year: year,
                  events: events,
                  headings: [
                    {
                      text: I18n.t("bank_holidays.date")
                    },
                    {
                      text: I18n.t("bank_holidays.day_of_week")
                    },
                    {
                      text: I18n.t("bank_holidays.bank_holiday")
                    }
                  ]
                } %>
              <% end %>

              <p class="govuk-body"><%= t("common.bank_holiday_on_wkend") %></p>
              <p class="govuk-body"><%= t("common.holiday_entitlement_html") %></p>
              <p class="govuk-body"><%= t("common.bank_holiday_benefits_html") %></p>
              <%= render "govuk_publishing_components/components/inset_text", {
                text: t("common.bank_holiday_translation_html")
              } %>

              <%= render "components/subscribe", {
                label: t("common.add_holiday_ics", :for_nation => t("#{division.title}_for")),
                url: division_path(@calendar, division, :format => 'ics'),
                title: t("common.download_ics"),
                data: {
                  track_category: "Download link clicked",
                  track_action: division_path(@calendar, division, :format => 'ics'),
                  track_label: t("common.add_holiday_ics", :for_nation => t("#{division.title}_for")),
                }
              } %>

              <% caption = "#{t "common.past_bank_holidays"} #{t "#{division.title}_in"}" %>
              <h2 class="govuk-heading-m" id="<%= caption.parameterize %>"><%= caption %></h2>

              <% division.past_events_by_year.each do |year, events| %>
                <%= render "components/calendar", {
                  title: caption,
                  year: year,
                  events: events,
                  headings: [
                    {
                      text: I18n.t("bank_holidays.date")
                    },
                    {
                      text: I18n.t("bank_holidays.day_of_week")
                    },
                    {
                      text: I18n.t("bank_holidays.bank_holiday")
                    }
                  ]
                } %>
              <% end %>

            <% end %>
          <% end %>

          <%= render "govuk_publishing_components/components/tabs", {
            panel_border: false,
            tabs: @calendar.divisions.each_with_index.map { |division, index| {
              :id => t(division.slug),
              :label => t(division.title),
              :content => tab_content[index],
              :tab_data_attributes => {
                track_category: "uk-public-holiday",
                track_action: "tab",
                track_label: "#{t "#{division.title}"}".gsub(/\s/,'-'),
                ga4: {
                  event_name: 'select_content',
                  type: "tabs",
                  text: t(division.title),
                  index: index + 1,
                  index_total: @calendar.divisions.length,
                }
              }
            } }
          } %>
        </article>

        <%= render "components/metadata", {
          last_updated: last_updated_date
        } %>
      </section>
    </div>
      <% content_for :related_container_class do %><% if @calendar.show_bunting? -%>app-o-related-container--bunted<% end %><% end %>
      <%= render :partial => "calendar_footer" %>
  </div>

</main>
