<%
  ga4_type = content_item_hash["schema_name"].gsub("_", " ")

  ga4_form_complete_attributes = {
    event_name: "form_complete",
    action: "complete",
    type: ga4_type,
    text: "From #{licence_details.authority['name']}",
    tool_name: publication.title,
  }.to_json

  ga4_information_click_attributes = {
    event_name: "information_click",
    action: "information click",
    type: ga4_type,
    tool_name: publication.title,
  }.to_json

  ga4_change_response_attributes = {
    event_name: "form_change_response",
    action: "change response",
    type: ga4_type,
    tool_name: publication.title
  }.to_json

  ga4_data_modules = "ga4-link-tracker"

  if !licence_details.action
    # Only trigger a GA4 form complete if the user is currently on the first contents link.
    trigger_ga4_form_complete = true
    ga4_data_modules << " ga4-auto-tracker"
  end

%>

<p class="govuk-body">From <strong><%= licence_details.authority['name'] %></strong></p>

<nav role="navigation" class="page-navigation">
  <ol class="govuk-list govuk-list--number">
    <% if licence_details.action %>
      <li><%= link_to "Overview", licence_transaction_authority_path(publication.slug, licence_details.authority["slug"]), class: "govuk-link" %></li>
    <% else %>
      <li class="active">Overview</li>
    <% end %>
    <% licence_details.authority['actions'].keys.uniq.each do |action| %>
      <% if licence_details.action == action %>
        <li class="active"><%= "How to #{action}" %></li>
      <% else %>
        <li><%= link_to "How to #{action}", licence_transaction_authority_path(publication.slug, licence_details.authority["slug"], action), class: "govuk-link" %></li>
      <% end %>
    <% end %>
  </ol>
</nav>

<article 
  role="article" 
  class="content-block group"
  data-module="<%= ga4_data_modules %>"
  <% if trigger_ga4_form_complete %>
    data-ga4-auto="<%= ga4_form_complete_attributes %>"
  <% end %>
  data-ga4-link="<%= ga4_information_click_attributes %>"
  data-ga4-track-links-only
  data-ga4-set-indexes
>
  <div id="overview" class="inner">
    <% if licence_details.action.present? %>
      <% if licence_details.uses_licensify %>
        <%= render :partial => "action", :locals => {:action => licence_details.action } %>
      <% elsif licence_details.uses_authority_url %>
        <%= render :partial => 'authority_url', :locals => {:action => licence_details.action, :index => 0} %>
      <% else %>
        <%= render :partial => 'licensify_unavailable' %>
      <% end %>
    <% elsif publication.body.present? %>
      <%= render "govuk_publishing_components/components/govspeak", {
      } do %>
        <%= raw publication.body %>
      <% end %>
    <% end %>

    <% if licence_details.local_authority_specific? or licence_details.multiple_licence_authorities_present? %>
      <div class="contact">
        <p class="govuk-body">The issuing authority for this licence is <strong><%= licence_details.authority["name"] %></strong>
          <%= link_to (licence_details.local_authority_specific? ? '(change location)' : '(change authority)'), 
            licence_transaction_path(publication.slug), 
            class: "govuk-link",
            data: {
              ga4_link: ga4_change_response_attributes,
              # As per the GA4 implementation guide, we don't add an index to change_response links. Therefore, the data-ga4-do-not-index
              # attribute is used to override behaviour of data-ga4-set-indexes on the parent element, therefore preventing this link from
              # having an index added.
              ga4_do_not_index: ""
            }
          %>
        </p>

        <% if licence_details.authority['contact'] and ! licence_details.authority['contact']['address'].blank? %>
          <p class="govuk-body">You can contact them using the details below.</p>
          <%= render "govuk_publishing_components/components/govspeak", {
          } do %>
            <%= simple_format licence_details.authority['contact']['address'] %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</article>
