<% content_for :overview do %>
  <li><%= link_to "Overview", licence_transaction_authority_path(publication.slug, licence_details.authority["slug"]), class: "govuk-link" %></li>
<% end %>

<% content_for :interactions_contents_list do %>
  <% licence_details.authority['actions'].keys.uniq.each do |action| %>
    <% if licence_details.action == action %>
      <li class="active"><%= "How to #{action}" %></li>
    <% else %>
      <li><%= link_to "How to #{action}", licence_transaction_authority_path(publication.slug, licence_details.authority["slug"], action), class: "govuk-link" %></li>
    <% end %>
  <% end %>
<% end %>

<% content_for :main_content do %>
  <% if licence_details.action.present? %>
    <% if licence_details.uses_licensify %>
      <%= render "action", locals: { action: licence_details.action } %>
    <% elsif licence_details.uses_authority_url %>
      <%= render 'authority_url', locals: { action: licence_details.action, index: 0 } %>
    <% else %>
      <%= render 'licensify_unavailable' %>
    <% end %>
  <% end %>
<% end %>

<%= render 'authority_base' %>
