<%= render layout: 'shared/base_page', locals: {
  context: "Licence",
  title: publication.title,
  publication: publication,
  edition: @edition,
} do %>
  <article role="article" class="content-block group">
    <div class="inner">
      <div class="intro">
        <div class="get-started-intro">
          <%= render "govuk_publishing_components/components/heading", text: "Apply for this licence", margin_bottom: 4 %>

          <p id="get-started" class="get-started group">
            <% info_text = "#{t('formats.transaction.on')} #{publication.licence_transaction_will_continue_on}" if publication.licence_transaction_will_continue_on.present? %>
            <%= render "govuk_publishing_components/components/button",
                        text: "Start now",
                        rel: "external",
                        start: true,
                        info_text: info_text,
                        margin_bottom: true,
                        href: publication.licence_transaction_continuation_link %>
          </p>
        </div>
      </div>

      <div id="overview">
        <%= render "govuk_publishing_components/components/heading", text: "Overview", margin_bottom: 4 %>
        <%= render "govuk_publishing_components/components/govspeak", {
        } do %>
          <%= raw publication.body %>
        <% end %>
      </div>
    </div>
  </article>
<% end %>
