<%= render layout: 'shared/base_page', locals: {
  context: "Licence",
  title: content_item.title,
  publication: content_item,
  edition: @edition,
} do %>

  <%= render "govuk_publishing_components/components/lead_paragraph", text: content_item.description %>

  <article role="article" class="group content-block">
    <div class="inner">
      <%= render partial: 'licensify_unavailable' %>

      <div id="overview">
        <%= render "govuk_publishing_components/components/govspeak", {
        } do %>
          <%= raw content_item.body %>
        <% end %>
      </div>
    </div>
  </article>
<% end %>
