<%= render layout: 'shared/base_page', locals: {
  context: "Licence",
  title: content_item.title,
  publication: content_item,
  edition: @edition,
} do %>

  <%= render "govuk_publishing_components/components/lead_paragraph", text: content_item.description %>

  <article role="article" class="group content-block">
    <div class="inner">
      <div class="intro">
        <div class="get-started-intro">
          <%= render "govuk_publishing_components/components/heading", text: "Apply for this licence" %>
          <%= render partial: 'location_form',
                     locals: {
                       format: 'licence',
                       publication_format: 'licence',
                       postcode: @postcode,
                      margin_top: @location_error ? 5 : 0,
                      publication_title: content_item.title,
                     } %>
        </div>
      </div>

      <div id="overview">
        <%= render "govuk_publishing_components/components/govspeak", {
        } do %>
          <%= raw content_item.body %>
        <% end %>
      </div>
    </div>
  </article>
<% end %>
