<% content_for :extra_headers do %>
  <%= render 'govuk_publishing_components/components/machine_readable_metadata',
    schema: :article,
    content_item: content_item.to_h %>
<% end %>

<%= render layout: 'shared/base_page', locals: {
  title: content_item.title,
  publication: content_item,
  edition: @edition,
} do %>

  <% if content_item.introduction.present? %>
    <section class="intro">
      <div class="get-started-intro">
        <%= render "govuk_publishing_components/components/govspeak", {} do %>
          <%= raw content_item.introduction %>
        <% end %>
      </div>
    </section>
  <% end %>

  <%= render partial: 'location_form',
           locals: {
             action: current_page?(electoral_services_path) && electoral_services_path,
             form_method: current_page?(electoral_services_path) && 'get',
             format: 'service',
             publication_format: 'local_transaction',
             postcode: current_page?(electoral_services_path) ? @postcode.sanitized_postcode : @postcode,
             margin_top: @location_error ? 5 : 0,
             publication_title: content_item.title,
           }
  %>

  <% if content_item.need_to_know.present? || content_item.more_information.present? %>
    <section class="more">
      <% if content_item.need_to_know.present? %>
        <%= render "govuk_publishing_components/components/heading", {
          text: t('formats.local_transaction.what_you_need_to_know'),
          margin_bottom: 4
        } %>
        <%= render "govuk_publishing_components/components/govspeak", {} do %>
          <%= raw content_item.need_to_know %>
        <% end %>
      <% end %>

      <% if content_item.more_information.present? %>
        <div class="more">
          <%= render "govuk_publishing_components/components/govspeak", {} do %>
            <%= raw content_item.more_information %>
          <% end %>
        </div>
      <% end %>
    </section>
  <% end %>
<% end %>
