<%= render layout: 'shared/base_page', locals: {
  title: @publication.title,
  publication: @publication,
  edition: @edition,
} do %>
  <div class="interaction">
    <p class="govuk-body"
       data-module="auto-track-event"
       data-track-category="postcodeSearch:local_transaction"
       data-track-action="postcodeResultShown"
       data-track-label="<%= @local_authority.name %>">
      We've matched this postcode to <span class="local-authority"><%= @local_authority.name %></span>.
    </p>
    <% if @interaction_details['local_interaction'] %>
      <p class="govuk-body">
        You can get information on their website.
      </p>
      <p id="get-started" class="get-started group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Go to #{@local_authority.name} website",
          rel: "external",
          margin_bottom: true,
          href: @interaction_details['local_interaction']['url'],
        } %>
      </p>
    <% else %>
      <% if @local_authority.url.present? %>
        <p class="govuk-body">
          We do not know if they offer this service. Search their website to find out if they do, or what other services they offer.
        </p>
        <div class="local-authority-result"
             data-module="auto-track-event"
             data-track-category="userAlerts:local_transaction"
             data-track-action="postcodeResultShown:laMatchNoLink">
          <p id="get-started" class="get-started group">
            <%= render "govuk_publishing_components/components/button", {
              text: "Go to #{@local_authority.name} website",
              rel: "external",
              margin_bottom: true,
              href: @local_authority.url,
            } %>
          </p>
        </div>
      <% else %>
        <div class="local-authority-result"
             data-module="auto-track-event"
             data-track-category="userAlerts:local_transaction"
             data-track-action="postcodeResultShown:laMatchNoLinkNoAuthorityUrl">
          <p class="govuk-body">We don't have a link for their website. Try the <a href="/find-local-council">local council search</a> instead.</p>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if @publication.more_information.present? %>
    <section class="more">
      <div class="more">
        <%= render "govuk_publishing_components/components/govspeak", {} do %>
          <%= raw @publication.more_information %>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>
