<% content_for :extra_headers do %>
  <%= education_navigation_variant.analytics_meta_tag.html_safe %>
<% end %>

<%= render layout: 'shared/base_page', locals: {
  title: @publication.title,
  publication: @publication,
  edition: @edition,
  json_link: local_transaction_search_path(@publication.slug, edition: @edition, format: :json, all: true),
} do %>
  <% if @interaction_details['local_interaction'] %>
    <div class="interaction">
      <p class="interaction-match">
        We've matched this postcode to <span class="local-authority"><%= @local_authority.name %></span>.
      </p>
      <p id="get-started" class="get-started group">
        <a href="<%= @interaction_details['local_interaction']['url'] %>" rel="external" class="button" role="button">
          Go to their website
        </a>
      </p>
    </div>
  <% elsif @location_error && @location_error.no_location_interaction? %>
    <div class="interaction">
      <p class="interaction-match">
        <%= t(@location_error.message, @location_error.message_args) %>
      </p>
      <% if @local_authority.url.present? %>
        <div class="local-authority-result"
             data-module="auto-track-event"
             data-track-category="userAlerts:local_transaction"
             data-track-action="postcodeResultShown:laMatchNoLink">
          <p id="get-started" class="get-started group">
            <a href="<%= @local_authority.url %>" rel="external" class="button" role="button">
              Go to their website
            </a>
          </p>
        </div>
      <% else %>
        <div class="local-authority-result"
             data-module="auto-track-event"
             data-track-category="userAlerts:local_transaction"
             data-track-action="postcodeResultShown:laMatchNoLinkNoAuthorityUrl">
          <p>We don't have a link for their website. Try the <a href="/find-local-council">local council search</a> instead.</p>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="search-again"><%= link_to 'Back', local_transaction_search_path(@publication.slug), title: "Search again using a different postcode." %></div>
  <section class="more">
    <div class="more">
      <%= raw @publication.more_information %>
    </div>
  </section>
<% end %>
