<%
  if defined? @individual_stylesheets
    @individual_stylesheets.add_view("local-transaction")
  end
%>
<%= render layout: 'shared/base_page', locals: {
  title: publication.title,
  publication: publication,
  edition: @edition,
} do %>
  <div class="interaction">
    <p class="govuk-body"
       data-module="auto-track-event"
       data-track-category="postcodeSearch:local_transaction"
       data-track-action="postcodeResultShown"
       data-track-label="<%= @local_authority.name %>">
      <%= t('formats.local_transaction.matched_postcode_html', local_authority: @local_authority.name) %>
    </p>
    <% if @interaction_details['local_interaction'] %>
      <p class="govuk-body">
        <%= t('formats.local_transaction.info_on_website') %>
      </p>
      <p id="get-started" class="get-started group">
        <%= render "govuk_publishing_components/components/button", {
          text: t('formats.local_transaction.local_authority_website', local_authority_name: @local_authority.name),
          rel: "external",
          margin_bottom: true,
          href: @interaction_details['local_interaction']['url'],
        } %>
      </p>
    <% else %>
      <% if @local_authority.url.present? %>
        <p class="govuk-body">
          <%= t('formats.local_transaction.unknown_service') %>
        </p>
        <div class="local-authority-result"
             data-module="auto-track-event"
             data-track-category="userAlerts:local_transaction"
             data-track-action="postcodeResultShown:laMatchNoLink">
          <p id="get-started" class="get-started group">
            <%= render "govuk_publishing_components/components/button", {
              text: t('formats.local_transaction.local_authority_website', local_authority_name: @local_authority.name),
              rel: "external",
              margin_bottom: true,
              href: @local_authority.url,
            } %>
          </p>
        </div>
      <% else %>
        <%= render partial: 'no_local_authority_url' %>
      <% end %>
    <% end %>
  </div>

  <% if publication.more_information.present? %>
    <section class="more">
      <div class="more">
        <%= render "govuk_publishing_components/components/govspeak", {} do %>
          <%= raw publication.more_information %>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>
