<%= render layout: 'shared/base_page', locals: {
  title: @publication.title,
  publication: @publication,
  edition: @edition,
} do %>
  <% if @interaction_details['local_interaction'] %>
    <div class="interaction">
      <p class="govuk-body interaction-match">
        We've matched this postcode to <span class="local-authority"><%= @local_authority.name %></span>.
      </p>
      <p id="get-started" class="get-started group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Go to their website",
          rel: "external",
          start: true,
          margin_bottom: true,
          href: @interaction_details['local_interaction']['url'],
        } %>
      </p>
    </div>
  <% elsif @location_error && @location_error.no_location_interaction? %>
    <div class="interaction">
      <p class="govuk-body interaction-match">
        <%= t(@location_error.message, **@location_error.message_args) %>
      </p>
      <% if @local_authority.url.present? %>
        <div class="local-authority-result"
             data-module="auto-track-event"
             data-track-category="userAlerts:local_transaction"
             data-track-action="postcodeResultShown:laMatchNoLink">
          <p id="get-started" class="get-started group">
            <%= render "govuk_publishing_components/components/button", {
              text: "Go to their website",
              rel: "external",
              start: true,
              margin_bottom: true,
              href: @local_authority.url,
            } %>
          </p>
        </div>
      <% else %>
        <div class="local-authority-result"
             data-module="auto-track-event"
             data-track-category="userAlerts:local_transaction"
             data-track-action="postcodeResultShown:laMatchNoLinkNoAuthorityUrl">
          <p class="govuk-body">We don't have a link for their website. Try the <a href="/find-local-council">local council search</a> instead.</p>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @publication.more_information.present? %>
    <section class="more">
      <div class="more">
        <%= render "govuk_publishing_components/components/govspeak", {} do %>
          <%= raw @publication.more_information %>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>
