<% content_for :extra_headers do %>
  <%= render 'govuk_publishing_components/components/machine_readable_metadata',
    schema: :article,
    content_item: @content_item %>
  <%= sab_page_variant.analytics_meta_tag.html_safe if is_testable_sab_page? %>
<% end %>

<%= render layout: 'shared/base_page', locals: {
  title: @publication.title,
  publication: @publication,
  edition: @edition,
} do %>

  <%= render 'govuk_publishing_components/components/intervention' if should_show_sab_intervention? %>

  <% if @publication.introduction.present? %>
    <section class="intro">
      <div class="get-started-intro">
        <%= render "govuk_publishing_components/components/govspeak", {} do %>
          <%= raw @publication.introduction %>
        <% end %>
      </div>
    </section>
  <% end %>

  <% if current_page?(electoral_services_path) %>
    <%= render partial: "electoral/form" %>
  <% else %>
    <%= render partial: 'location_form',
             locals: {
               method: 'post',
               format: 'service',
               publication_format: 'local_transaction',
               postcode: @postcode
             }
    %>
  <% end %>

  <% if @publication.need_to_know.present? || @publication.more_information.present? %>
    <section class="more">
      <% if @publication.need_to_know.present? %>
        <%= render "govuk_publishing_components/components/heading", {
          text: "What you need to know",
          margin_bottom: 4
        } %>
        <%= render "govuk_publishing_components/components/govspeak", {} do %>
          <%= raw @publication.need_to_know %>
        <% end %>
      <% end %>

      <% if @publication.more_information.present? %>
        <div class="more">
          <%= render "govuk_publishing_components/components/govspeak", {} do %>
            <%= raw @publication.more_information %>
          <% end %>
        </div>
      <% end %>
    </section>
  <% end %>
<% end %>
