<%= render layout: 'shared/base_page', locals: {
  title: "This service is not available in #{@country_name}",
  publication: @publication,
  edition: @edition,
} do %>
  <div class="interaction">
    <%= @content.html_safe %>

    <p id="get-started" class="get-started group">
      <%= render "govuk_publishing_components/components/button", {
        text: "Find other services",
        rel: "external",
        margin_bottom: true,
        href: @local_authority.url,
      } %>
    </p>
  </div>

  <% if @publication.more_information.present? %>
    <section class="more">
      <div class="more">
        <%= render "govuk_publishing_components/components/govspeak", {} do %>
          <%= raw @publication.more_information %>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>
