<%= render layout: 'shared/base_page', locals: {
  title: @service.title,
  publication: @publication,
  edition: @edition,
} do %>
  <div class="interaction">
    <p class="govuk-body">
      We've matched the postcode to <span class="local-authority"><%= @local_authority.name %></span>.
    </p>

  <% if @service.body.present? %>
    <p class="govuk-body"><%= @service.body %></p>
  <% end %>

    <p id="get-started" class="get-started group">
      <%= render "govuk_publishing_components/components/button", {
        text: @service.button_text,
        rel: "external",
        margin_bottom: true,
        href: @service.button_link,
      } %>
    </p>
  </div>

  <% if @publication.more_information.present? %>
    <section class="more">
      <div class="more">
        <%= render "govuk_publishing_components/components/govspeak", {} do %>
          <%= raw @publication.more_information %>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>
