<div id="manuals-frontend">

  <%= render "govuk_publishing_components/components/machine_readable_metadata",
    schema: :article,
    content_item: content_item.to_h %>

  <% if @content_item.description.present? %>
    <%= render "govuk_publishing_components/components/heading", {
      text: t("formats.manuals.summary_title"),
      margin_bottom: 4,
    } %>
    <%= render "govuk_publishing_components/components/lead_paragraph", {
      text: @content_item.description,
    } %>
  <% end %>
  <% if @content_item.body.present? %>
    <%= render "govuk_publishing_components/components/govspeak", {} do %>
      <%= @content_item.body.html_safe %>
    <% end %>
  <% end %>

  <%= render "govuk_publishing_components/components/heading", {
    text: t("formats.manuals.contents_title"),
    margin_bottom: 4,
  } %>

  <%= yield %>

  <%= render "govuk_publishing_components/components/print_link" %>
</div>
