<% content_for :title, build_page_title([content_item.title]) %>

<% content_for :head do %>
  <meta name="description" content="<%= content_item.description %>">

  <%= render "govuk_publishing_components/components/machine_readable_metadata",
    schema: :article,
    content_item: content_item.to_h %>
<% end %>

<% content_for :header do %>
  <%= render "shared/headers/page_title", options: content_presenter.page_title_options %>
<% end %>

<% content_for :sidebar do %>
  <nav>
    <% if content_presenter.sidebar_image %>
      <%= image_tag(content_presenter.sidebar_image.src(key: "s960"), alt: content_presenter.sidebar_image.caption, class: "card__image govuk-!-width-full", loading: "lazy") %>
    <% end %>

    <%= render "govuk_publishing_components/components/contents_list", {
      contents: content_presenter.contents_list,
      id: "contents",
    } %>
  </nav>
<% end %>

<% content_for :content do %>
  <%= render "govuk_publishing_components/components/govspeak", { margin_bottom: 8 } do %>
    <%= content_item.body.html_safe %>
  <% end %>
<% end %>
