<%= render "govuk_publishing_components/components/heading",
    text: title,
    font_size: "m",
    margin_bottom: 4
%>
<% if name %>
  <p class="govuk-body"><%= name %></p>
<% end %>

<p class="govuk-body"><%= description %></p>

<% if contact_details %>
  <%= render "govuk_publishing_components/components/govspeak", {
  } do %>
    <address class="address govuk-body">
      <% contact_details.each do |address_line| %>
        <%= address_line %><br>
      <% end %>
      <%= postcode %><br>
    </address>
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/list", {
  items: [
    sanitize(link_to website, website, class: "govuk-link"),
    phone,
    email,
  ]
} %>
