<div class="postcode-search-form"
      data-module="track-submit"
      data-track-category="postcodeSearch:local_transaction"
      data-track-action="postcodeSearchStarted">

  <% if @location_error %>
    <%
      if @location_error.sub_message.present?
        description = t(@location_error.sub_message)
      end
    %>

    <%= render "govuk_publishing_components/components/error_alert", {
      message: t(@location_error.message),
      description: description,
      data_attributes: {
        module: "auto-track-event",
        track_category: "userAlerts: local_transaction",
        track_action: "postcodeErrorShown: #{@location_error.postcode_error}",
        track_label: t(@location_error.message)
      }
    } %>
  <% end %>

    <%
      #TODO: Add a visually hideen legend option to the fieldset component; then
      #      the component can be used here.
      if defined? @component_stylesheets
        @component_stylesheets.add_stylesheet("fieldset")
      end
    %>

  <%= form_with url: electoral_services_path,
    method: :get,
    id: "local-locator-form",
    class: "location-form" do |form| %>
    <%= tag.fieldset class: "govuk-fieldset" do %>
      <%= tag.legend t('formats.local_transaction.postcode_lookup'), class: "govuk-fieldset__legend govuk-visually-hidden" %>
      <%= render partial: 'draft_fields' %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t('formats.local_transaction.enter_postcode')
        },
        value: @postcode.sanitized_postcode,
        name: "postcode",
        id: "postcode",
        hint: t('formats.local_transaction.postcode_hint'),
        invalid: false,
        autocomplete: "postal-code",
      } %>

      <%= render "govuk_publishing_components/components/button", text: t('find'), margin_bottom: true %>

      <%= tag.p link_to(t('formats.local_transaction.find_postcode_royal_mail'),
                    "https://www.royalmail.com/find-a-postcode",
                    id: 'postcode-finder-link',
                    class: "govuk-link",
                    rel: "external"),
                class: "govuk-body" %>
    <% end %>
  <% end %>
</div>
