<main id="content" role="main" class="<%= main_class if local_assigns.include?(:main_class) %>">
  <header class="page-header">
    <div>
      <h1>
        <% if local_assigns.include?(:context) %><span><%= context %></span><% end %>
        <% if should_show_benchmarking_variant? %>
            Find out how to contact DVLA
        <% else %>
          <%= title %>
        <% end %>
      </h1>
    </div>
  </header>
  <div class="article-container group">
    <%= render :partial => 'beta_label' if publication.in_beta %>

    <div class="content-block">
      <div class="inner">
        <%= yield %>
      </div>
    </div>
    <%= render 'shared/publication_metadata', :publication => publication %>
  </div>
</main>

<% if @navigation_helpers %>
<div class="related-container">
  <% if present_new_navigation? %>
    <%= render partial: 'govuk_component/taxonomy_sidebar', locals: navigation_helpers.taxonomy_sidebar %>
  <% else %>
    <%= render partial: 'govuk_component/related_items', locals: navigation_helpers.related_items %>
  <% end %>
</div>
<% end %>
