<% content_for :title, "Error: #{page_title(content_item)}" if @location_error %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: title,
      font_size: "xl",
      margin_bottom: 8,
      heading_level: 1,
      context: local_assigns[:context],
    } %>
  </div>
  <div class="article-container group govuk-grid-column-two-thirds">
    <div class="content-block">
      <div class="inner">
        <%= yield %>
      </div>
    </div>
    <%= render "shared/publication_metadata" %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/contextual_sidebar",
      content_item: content_item.to_h %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/contextual_footer",
      content_item: content_item.to_h %>
  </div>
</div>
