<main id="content" role="main" class="<%= main_class if local_assigns.include?(:main_class) %>">
  <header class="page-header">
    <%= render "govuk_publishing_components/components/title", context: local_assigns[:context], title: title %>
  </header>
  <div class="article-container group">
    <%= render :partial => 'beta_label' if publication.in_beta %>
    <div class="content-block">
      <div class="inner">
        <%= yield %>
      </div>
    </div>
    <%= render 'shared/publication_metadata', :publication => publication %>
  </div>
</main>

<div class="related-container">
  <%= render 'govuk_publishing_components/components/contextual_sidebar', content_item: @content_item %>
</div>

<% content_for :after_content do %>
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/contextual_footer', content_item: @content_item %>
  </div>
<% end %>
