<%
  add_view_stylesheet("csv_preview")
%>

<main id="content" role="main" class="govuk-main-wrapper">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-body">
          <%= link_to("See more information about this guidance", @asset["parent_document_url"], class: "govuk-link") %>
        </p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render 'govuk_publishing_components/components/inverse_header', {} do %>
          <%= render "govuk_publishing_components/components/title", {
            title: @attachment_metadata.first["title"],
            font_size: "xl",
            inverse: true,
            margin_bottom: 8,
            margin_top: 8,
          } %>
          <p class="govuk-body csv-preview__updated">
            Updated <%= I18n.l(Time.zone.parse(@content_item["public_updated_at"]), format: "%-d %B %Y") %>
            <br>
            <%= link_to("<strong>Download CSV</strong> #{number_to_human_size(@attachment_metadata.first['file_size'])}".html_safe, @attachment_metadata.first['url'], class: "csv-preview__download-link") %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</main>
