<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("gone.title"),
      heading_level: 1,
      font_size: "xl",
      margin_bottom: 8,
      lang: "#{I18n.locale}",
    } %>

    <p class="govuk-body" lang="<%= I18n.locale %>">
      <%= t("gone.published_in_error") %>
    </p>
    <% if !content_item.explanation.blank? %>
      <%= render "govuk_publishing_components/components/govspeak", {} do %>
        <%= content_item.explanation.html_safe %>
      <% end %>
    <% end %>
    <% if !content_item.alternative_path.blank? %>
      <p class="govuk-body">
        <%= t("common.visit") %> <%= link_to(content_item.alternative_path, content_item.alternative_path, class: "govuk-link") %>
      </p>
    <% end %>
  </div>
</div>
