<div class="relevant-authority">From <strong><%= @interaction_details[:authority]['name'] %></strong></div>

<aside>
  <div class="inner">
    <nav role="navigation" class="page-navigation">
      <ol>
        <% if @interaction_details[:action] %>
          <li><%= link_to "Overview", publication_path(@publication.slug, @interaction_details[:authority]['slug']) %></li>
        <% else %>
          <li class="active">Overview</li>
        <% end %>
        <% @interaction_details[:authority]['actions'].keys.uniq.each do |action| %>
          <% if @interaction_details[:action] == action %>
            <li class="active"><%= "How to #{action}" %></li>
          <% else %>
            <li><%= link_to "How to #{action}", licence_authority_action_path(@publication.slug, @interaction_details[:authority]['slug'], action) %></li>
          <% end %>
        <% end %>
      </ol>
    </nav>
  </div>
</aside>

<article role="article" class="group">
  <div id="overview" class="inner">
    <% if @interaction_details[:action].present? %>
      <%= render :partial => "licences/action", :locals => {:action => @interaction_details[:action] } %>
    <% else %>
      <header><h1>Overview</h1></header>
      <%= raw @publication.licence_overview %>
    <% end %>

    <% if @interaction_details[:licence]['location_specific'] or @interaction_details[:licence]['authorities'].size > 1 %>
    <div class="contact">
      <p>The issuing authority for this licence is <strong><%= @interaction_details[:authority]['name'] %></strong>
        <%= link_to (@interaction_details[:licence]['location_specific'] ? '(change location)' : '(change authority)'), publication_path(@publication.slug) %>
      </p>

      <% if @interaction_details[:authority]['contact'] and ! @interaction_details[:authority]['contact']['address'].blank? %>
        <p>You can contact them using the details below.</p>
        <%= simple_format @interaction_details[:authority]['contact']['address'] %>
      <% end %>
    </div>
    <% end %>
  </div>
</article>

