<% if @licence_details['authorities'] %>
<aside>
  <div class="inner">
    <nav role="navigation" class="page-navigation">
      <ol>
        <li <% unless @licence_details['action'] %>class="active"<% end %>><%= link_to "Overview", publication_path(@publication.slug, params[:part]) %></li>
        <% @licence_authority['actions'].each do |action,links| %>
          <li <% if @licence_details['action'] == action %>class="active"<% end %>><%= link_to "How to #{action}", licence_authority_action_path(@licence.slug, params[:part], action) %></li>
        <% end %>
      </ol>
    </nav>
  </div>
</aside>
<% end %>

<article role="article" class="group">
  <% if @licence_details['authorities'] %>
    <section class="intro inner">
      We're showing actions for <strong><%= @licence_authority['name'] %></strong> (<%= link_to 'change', publication_path(@publication.slug) %>)
    </section>
  <% elsif @licence_from_licensify['location_specific'] %>
    <section class="intro inner">
      <div class="get-started-intro">
        <h1>Apply for this licence</h1>
        <%= render :partial => 'location_form', :locals => {:format => 'licence'} %>
      </div>
    </section>
  <% else %>
    <!-- no authorities present and the licence is not location specific -->
    <p>Choose from the list of this...</p>
  <% end %>

  <div id="overview" class="inner">
    <% if @licence_details['action'].present? %>
      <%= render :partial => "licences/action", :locals => {:action => @licence_details['action'] } %>
    <% else %>
      <h1>Overview</h1>
      <%= to_govspeak(@licence.licence_overview) %>
    <% end %>
  </div>
</article>
