<!DOCTYPE html>

<html>
<head>
  <title>frontend development page</title>
  <meta name="robots" content="noindex, nofollow">
  <%= stylesheet_link_tag "application", integrity: false %>
</head>
<body>
  <div id="wrapper">
    <main class="govspeak  govuk-main-wrapper--auto-spacing">
      <%= render "govuk_publishing_components/components/heading", {
        text: "frontend",
        heading_level: 1,
        font_size: "xl",
        margin_bottom: 8,
      } %>
      <% html = capture do %>
        <p>Here is a list of the content types that frontend renders and an example page.</p>
        <table>
          <% @paths.each do |name, path| %>
            <tr>
              <td>
                <%= name %>
              </td>
              <td>
                <%= link_to path, path %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>

      <%= render "govuk_publishing_components/components/govspeak", content: html %>
    </main>
  </div>
</body>
</html>
