
<%
  add_view_stylesheet("landing_page/hero")

  hero_classes = %w[app-b-hero]
  hero_classes << "app-b-hero--mid-page" if block.theme == "middle_left"

  grid_class = "govuk-grid-column-two-thirds-from-desktop"
  grid_class = "govuk-grid-column-one-third-from-desktop" if block.theme == "middle_left"

  hero_textbox_classes = %w[app-b-hero__textbox]
  hero_textbox_classes << "border-top--#{style(block.theme_colour)}" if block.theme_colour
%>

<%= content_tag("div", class: hero_classes) do %>
  <%= picture_tag(class: "app-b-hero__imagewrapper") do %>
    <%= tag.source srcset: "#{image_path(block.image.sources.desktop)}, #{image_path(block.image.sources.desktop_2x)} 2x", media: "(min-width: 769px)" %>
    <%= tag.source srcset: "#{image_path(block.image.sources.tablet)}, #{image_path(block.image.sources.tablet_2x)} 2x", media: "(min-width: 641px) and (max-width: 768px)" %>
    <%= tag.source srcset: "#{image_path(block.image.sources.mobile)}, #{image_path(block.image.sources.mobile_2x)} 2x", media: "(max-width: 640px)" %>
    <%= image_tag(block.image.sources.desktop, alt: block.image.alt, class: "app-b-hero__image") %>
  <% end %>

  <div class="govuk-width-container app-b-hero__textbox-wrapper">
    <div class="govuk-grid-row">
      <%= content_tag("div", class: grid_class) do %>
        <%= content_tag("div", class: hero_textbox_classes) do %>
          <% block.hero_content.each_with_index do |subblock, index| %>
            <%
              is_last_subblock = block.hero_content.length - 1 == index
              options = {
                heading_font_size: ("l" if block.theme == "default"),
                margin_bottom: (0 if is_last_subblock)
              }.compact %>
            <%= render_block(subblock, options:) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
