<%
  add_view_stylesheet("landing_page/map")
  add_view_stylesheet("landing_page/map/leaflet")
  add_view_stylesheet("landing_page/map/os-api-branding")
%>
<% content_for :extra_javascript do %>
  <%= javascript_include_tag "views/landing_page/map/os-api-branding.js", integrity: false %>
  <%= javascript_include_tag "views/landing_page/map/main.js", integrity: false, type: "module" %>
<% end %>

<div id="api-warning"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/checkboxes", {
      name: "favourite_small_synonym[]",
      heading: "Filter map elements",
      no_hint_text: true,
      id: "mapfilter",
      small: true,
      items: [
        {
          label: "Community Diagnostic Centres",
          value: "cdc",
          checked: true,
        },
        {
          label: "Surgical hubs",
          value: "sh",
          checked: true,
        },
      ]
    } %>
  </div>
</div>

<div class="map"
  id="map"
  data-api-key="<%= ENV["OS_MAPS_API_KEY"] %>"
  data-icon-cdc-default="<%= asset_path('landing_page/map/CDC-symbol-default.svg') %>"
  data-icon-cdc-active="<%= asset_path('landing_page/map/CDC-symbol-active.svg') %>"
  data-icon-sh-default="<%= asset_path('landing_page/map/SH-symbol-default.svg') %>"
  data-icon-sh-active="<%= asset_path('landing_page/map/SH-symbol-active.svg') %>"
  data-module="ga4-event-tracker">
</div>
<div id="copyright-statement-ordsvy"></div>
<div id="copyright-statement-other"></div>
