<div class="js-tabs nav-tabs">
  <ul>
    <% if transaction.more_information.present? %><li class="active"><a href="#more-information"><%= t 'formats.transaction.more_information' %></a></li><% end %>
    <% if transaction.what_you_need_to_know.present? %><li><a href="#what-you-need-to-know"><%= t 'formats.transaction.what_you_need_to_know' %></a></li><% end %>
    <% if transaction.other_ways_to_apply.present? %><li><a href="#other-ways-to-apply"><%= t 'formats.transaction.other_ways_to_apply' %></a></li><% end %>
  </ul>
</div>

<div class="js-tab-content tab-content">
  <% if transaction.more_information.present? %>
    <div class="js-tab-pane tab-pane" id="more-information">
      <%= transaction.more_information.try(:html_safe) %>
    </div>
  <% end %>

  <% if transaction.what_you_need_to_know.present? %>
    <div class="js-tab-pane tab-pane" id="what-you-need-to-know">
      <%= transaction.what_you_need_to_know.try(:html_safe) %>
    </div>
  <% end %>

  <% if transaction.other_ways_to_apply.present? %>
    <div class="js-tab-pane tab-pane" id="other-ways-to-apply">
      <%= transaction.other_ways_to_apply.try(:html_safe) %>
    </div>
  <% end %>
</div>
