<div class="govuk-grid-row flexible-section">
  <div class="govuk-grid-column-two-thirds" data-flexible-section="feed_document_list">
    <%= render "govuk_publishing_components/components/heading", {
      text: flexible_section.feed_heading_text,
      font_size: "l",
      padding: true,
      border_top: 5,
      margin_bottom: 3,
    } %>

    <%= render "govuk_publishing_components/components/document_list", {
      margin_bottom: 5,
      items: flexible_section.items.first(5),
      ga4_extra_data: {
        section: flexible_section.feed_heading_text,
      },
    } %>

    <%= tag.p(class: "govuk-body", data: { module: "ga4-link-tracker", ga4_link: { event_name: "navigation", type: "see all", section: flexible_section.feed_heading_text }.to_json }) do %>
      <%= link_to(flexible_section.see_all_items_link_text, flexible_section.see_all_items_link, class: "govuk-link") %>
    <% end %>

    <%= render "govuk_publishing_components/components/subscription_links", {
      email_signup_link: flexible_section.email_signup_link,
      email_signup_link_text: flexible_section.email_signup_link_text,
      data_attributes: {
        module: "ga4-link-tracker",
        ga4_link: { "event_name": "navigation", "type": "subscribe", "index_link": 1, "index_total": 1, "section": flexible_section.feed_heading_text }.to_json,
      },
      margin_bottom: 3,
    } %>
  </div>

  <% if flexible_section.share_links.any? %>
    <div class="govuk-grid-column-one-third" data-flexible-section="feed_share_links">
      <%= render "govuk_publishing_components/components/heading", {
        text: flexible_section.share_links_heading_text,
        font_size: "l",
        margin_bottom: 1,
        padding: true,
        border_top: 5,
      } %>

      <%= render "govuk_publishing_components/components/share_links", {
        stacked: true,
        links: flexible_section.share_links.map(&:symbolize_keys),
        track_as_follow: true,
      } %>
    </div>
    <% end %>
</div>
