<% text = capture do %>
  <%= render "govuk_publishing_components/components/breadcrumbs",
    collapse_on_mobile: true,
    margin_bottom: 8,
    breadcrumbs: flexible_section.breadcrumbs %>

  <%= render "govuk_publishing_components/components/heading", {
    text: flexible_section.title,
    font_size: "xl",
    margin_bottom: 6,
    heading_level: 1,
  } %>

  <%= render "govuk_publishing_components/components/lead_paragraph", {
    text: flexible_section.description,
    margin_bottom: 6,
  } %>
<% end %>

<div class="flexible-section" data-flexible-section="impact-header">
  <% if flexible_section.image %>
    <div class="impact-header">
      <div class="impact-header__container">
        <div class="impact-header__detail">
          <%= text %>
        </div>

        <%= picture_tag(class: "impact-header__image-wrapper") do %>
          <%= tag.source srcset: "#{image_path(flexible_section.image[:sources][:desktop])}, #{image_path(flexible_section.image[:sources][:desktop_2x])} 2x", media: "(min-width: 769px)" %>
          <%= tag.source srcset: "#{image_path(flexible_section.image[:sources][:tablet])}, #{image_path(flexible_section.image[:sources][:tablet_2x])} 2x", media: "(min-width: 641px) and (max-width: 768px)" %>
          <%= tag.source srcset: "#{image_path(flexible_section.image[:sources][:mobile])}, #{image_path(flexible_section.image[:sources][:mobile_2x])} 2x", media: "(max-width: 640px)" %>
          <%= image_tag(flexible_section.image[:sources][:desktop], class: "impact-header__image", alt: "") %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="impact-header impact-header--grid">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= text %>
        </div>
      </div>
    </div>
  <% end %>
</div>
