<%= render "govuk_publishing_components/components/heading", {
  text: "Help us improve this service",
  margin_bottom: 4
} %>

<form action="/contact/govuk/assisted-digital-survey-feedback" method="post" id="completed-transaction-form">
  <input type="hidden" id="service_slug" name="service_feedback[slug]" value="<%= publication.slug.gsub("done/", "") %>" />
  <input type="hidden" id="service_done_page_url" name="service_feedback[url]" value="<%= publication.web_url %>" />

  <div id="transaction-completed-form-notice">
    <p class="govuk-body">When filling in this survey please don't include any personal or financial information, for example your National Insurance or credit card numbers.</p>
  </div>

  <% government_staff = capture do %>
    <%= render 'assistance_received', locals: { id_prefix: 'staff_member'} %>
  <% end %>

  <% other_person = capture do %>
    <%= render 'assistance_received', locals: { id_prefix: 'other'} %>
  <% end %>

  <% other_input = capture do %>
    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: "Tell us who the other person was"
      },
      name: "service_feedback[assistance_provided_by_other]",
      id: "other-specified"
    } %>

    <%= other_person %>
  <% end %>

  <% did_you_receive_assistance = capture do %>
    <%= render "govuk_publishing_components/components/textarea", {
      label: {
        text: "What assistance did you receive?",
        bold: true
      },
      name: "service_feedback[assistance_received_comments]",
      id: "assistance-received-comments"
    } do %>
      <span class="govuk-hint">Limit is 1200 characters</span>
    <% end %>
    <%= render "govuk_publishing_components/components/radio", {
      name: "service_feedback[assistance_provided_by]",
      heading: "Who provided the assistance?",
      heading_size: "s",
      items: [
        {
          value: "friend-relative",
          text: "A friend or relative"
        },
        {
          value: "work-colleague",
          text: "A work colleague"
        },
        {
          value: "government-staff",
          text: "A staff member of the responsible government department",
          conditional: government_staff
        },
        {
          value: "other",
          text: "Other (please specify)",
          conditional: other_input
        },
      ]
    } %>
  <% end %>

  <%= render "govuk_publishing_components/components/radio", {
    name: "service_feedback[assistance_received]",
    heading: "Did you receive any assistance to use this service today?",
    heading_size: "s",
    items: [
      {
        value: "yes",
        text: "Yes",
        conditional: did_you_receive_assistance
      },
      {
        value: "no",
        text: "No"
      }
    ]
  } %>

  <%= render "govuk_publishing_components/components/radio", {
    name: "service_feedback[service_satisfaction_rating]",
    heading: "Overall, how satisfied are you with the online service?",
    heading_size: "s",
    items: [
      {
        value: 5,
        text: "Very satisfied"
      },
      {
        value: 4,
        text: "Satisfied"
      },
      {
        value: 3,
        text: "Neither satisfied or dissatisfied"
      },
      {
        value: 2,
        text: "Dissatisfied"
      },
      {
        value: 1,
        text: "Very dissatisfied"
      },
    ]
  } %>

  <%= render "govuk_publishing_components/components/textarea", {
    label: {
      text: "Do you have any ideas for how this service could be improved?",
      bold: true
    },
    name: "service_feedback[improvement_comments]",
  } do %>
    <span class="govuk-hint">Limit is 1200 characters</span>
  <% end %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Send feedback"
  } %>
</form>
