<%= render "govuk_publishing_components/components/heading", {
  text: t('formats.transaction.help_improve'),
  margin_bottom: 4
} %>

<form action="/contact/govuk/assisted-digital-survey-feedback" method="post" data-module="transaction-survey-form">
  <input type="hidden" id="service_slug" name="service_feedback[slug]" value="<%= publication.slug.gsub("done/", "") %>" />
  <input type="hidden" id="service_done_page_url" name="service_feedback[url]" value="<%= publication.web_url %>" />

  <div id="transaction-completed-form-notice">
    <p class="govuk-body"> <%= t('formats.transaction.pii_warning') %> </p>
  </div>

  <% government_staff = capture do %>
    <%= render 'assistance_received', locals: { id_prefix: 'staff_member'} %>
  <% end %>

  <% other_person = capture do %>
    <%= render 'assistance_received', locals: { id_prefix: 'other'} %>
  <% end %>

  <% other_input = capture do %>
    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: t('formats.transaction.other_person')
      },
      name: "service_feedback[assistance_provided_by_other]",
      id: "other-specified"
    } %>

    <%= other_person %>
  <% end %>

  <% did_you_receive_assistance = capture do %>
    <%= render "govuk_publishing_components/components/character_count", {
      textarea: {
        label: {
          text: t('formats.transaction.what_assistance'),
          bold: true,
        },
        name: "service_feedback[assistance_received_comments]",
      },
      maxlength: 1200
    } %>

    <%= render "govuk_publishing_components/components/radio", {
      name: "service_feedback[assistance_provided_by]",
      heading: t('formats.transaction.who_assisted'),
      heading_size: "s",
      items: [
        {
          value: "friend-relative",
          text: t('formats.transaction.friend_or_relative')
        },
        {
          value: "work-colleague",
          text: t('formats.transaction.work_colleague')
        },
        {
          value: "government-staff",
          text: t('formats.transaction.government_staff'),
          conditional: government_staff
        },
        {
          value: "other",
          text: t('formats.transaction.other'),
          conditional: other_input
        },
      ]
    } %>
  <% end %>

  <%= render "govuk_publishing_components/components/radio", {
    name: "service_feedback[assistance_received]",
    heading: t('formats.transaction.assistance_question'),
    heading_size: "s",
    items: [
      {
        value: "yes",
        text: t('yes'),
        conditional: did_you_receive_assistance
      },
      {
        value: "no",
        text: t('no')
      }
    ]
  } %>

  <%= render "govuk_publishing_components/components/radio", {
    name: "service_feedback[service_satisfaction_rating]",
    heading: t('formats.transaction.online_satisfaction_check'),
    heading_size: "s",
    items: [
      {
        value: 5,
        text: t('formats.transaction.very_satisfied')
      },
      {
        value: 4,
        text: t('formats.transaction.satisfied')
      },
      {
        value: 3,
        text: t('formats.transaction.neither')
      },
      {
        value: 2,
        text: t('formats.transaction.dissatisfied')
      },
      {
        value: 1,
        text: t('formats.transaction.very_dissatisfied')
      },
    ]
  } %>

  <%= render "govuk_publishing_components/components/character_count", {
    textarea: {
      label: {
        text: t('formats.transaction.service_improvement_question'),
        bold: true,
      },
      name: "service_feedback[improvement_comments]",
    },
    maxlength: 1200
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: t('formats.transaction.send_feedback'),
    margin_bottom: true
  } %>
</form>
