<%= render "govuk_publishing_components/components/heading", {
  text: "Satisfaction survey",
  margin_bottom: 4
} %>

<form action="/contact/govuk/service-feedback" method="post" id="completed-transaction-form">
  <input type="hidden" id="service_slug" name="service_feedback[slug]" value="<%= publication.slug.gsub("done/", "") %>" />
  <input type="hidden" id="service_done_page_url" name="service_feedback[url]" value="<%= publication.web_url %>" />

  <%= render "govuk_publishing_components/components/radio", {
    name: "service_feedback[service_satisfaction_rating]",
    heading: "Overall, how did you feel about the service you received today?",
    heading_size: "s",
    items: [
      {
        value: 5,
        text: "Very satisfied"
      },
      {
        value: 4,
        text: "Satisfied"
      },
      {
        value: 3,
        text: "Neither satisfied or dissatisfied"
      },
      {
        value: 2,
        text: "Dissatisfied"
      },
      {
        value: 1,
        text: "Very dissatisfied"
      },
    ]
  } %>

  <%= render "govuk_publishing_components/components/character_count", {
    textarea: {
      label: {
        text: "How could we improve this service?",
        bold: true,
      },
      name: "service_feedback[improvement_comments]",
      hint: "Do not include any personal or financial information, for example your National Insurance or credit card numbers."
    },
    maxlength: 1200
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Send feedback",
    margin_bottom: true
  } %>
</form>
