<%= render "govuk_publishing_components/components/heading", {
  text: t('formats.transaction.satisfaction_survey'),
  margin_bottom: 4
} %>

<form action="/contact/govuk/service-feedback" method="post" data-module="transaction-survey-form">
  <input type="hidden" id="service_slug" name="service_feedback[slug]" value="<%= publication.slug.gsub("done/", "") %>" />
  <input type="hidden" id="service_done_page_url" name="service_feedback[url]" value="<%= publication.web_url %>" />

  <%= render "govuk_publishing_components/components/radio", {
    name: "service_feedback[service_satisfaction_rating]",
    heading: t('formats.transaction.service_satisfaction_check'),
    heading_size: "s",
    items: [
      {
        value: 5,
        text: t('formats.transaction.very_satisfied')
      },
      {
        value: 4,
        text: t('formats.transaction.satisfied')
      },
      {
        value: 3,
        text: t('formats.transaction.neither')
      },
      {
        value: 2,
        text: t('formats.transaction.dissatisfied')
      },
      {
        value: 1,
        text: t('formats.transaction.very_dissatisfied')
      },
    ]
  } %>

  <%= render "govuk_publishing_components/components/character_count", {
    textarea: {
      label: {
        text: t('formats.transaction.how_improve'),
        bold: true,
      },
      name: "service_feedback[improvement_comments]",
      hint: t('formats.transaction.no_pii_hint')
    },
    maxlength: 1200
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: t('formats.transaction.send_feedback'),
    margin_bottom: true
  } %>
</form>
