<% content_for :extra_headers do %>
  <meta name="robots" content="noindex, nofollow" />
<% end %>

<%= render layout: 'shared/base_page', locals: {
  title: publication.title,
  publication: publication,
  edition: @edition,
} do %>
  <% if publication.promotion %>
    <div class="promotion">
      <% if publication.promotion['category'] == 'organ_donor' %>
        <%= render "govuk_publishing_components/components/heading", {
          text: t('formats.transaction.organ_donation_title'),
          font_size: "s",
          margin_bottom: 3
        } %>

        <p class="govuk-body">
          <%= t('formats.transaction.organ_donation_laws') %> - 
          <%= link_to t('formats.transaction.organ_donation_in_your_country'), "https://www.organdonation.nhs.uk/uk-laws/", { class: "govuk-link" } %>.
        </p>

        <p class="govuk-body">
          <%= t('formats.transaction.organ_transplant_question') %>
        </p>

        <p class="govuk-body">
          <%= t('formats.transaction.tell_your_family') %>
        </p>

        <p class="govuk-body govuk-!-margin-bottom-0">
          <%= link_to t('formats.transaction.register_to_donate'), publication.promotion['url'], { class: "govuk-link" } %>
        </p>
      <% elsif publication.promotion['category'] == 'mot_reminder' %>
        <%= render "govuk_publishing_components/components/heading", {
          text: t('formats.transaction.mot_reminder_title'),
          font_size: "s",
          margin_bottom: 3
        } %>

        <p class="govuk-body">
          <%= t('formats.transaction.mot_reminder') %>
        </p>

        <p class="govuk-body govuk-!-margin-bottom-0">
          <%= link_to t('formats.transaction.get_mot_reminders'), publication.promotion['url'], { class: "govuk-link" } %>
        </p>
      <% elsif publication.promotion['category'] == 'electric_vehicle' %>
        <%= render "govuk_publishing_components/components/heading", {
          text: t('formats.transaction.e_vehicle_info_title'),
          font_size: "s",
          margin_bottom: 3
        } %>

        <p class="govuk-body"><%= t('formats.transaction.e_vehicle_info') %></p>
        
        <p class="govuk-body govuk-!-margin-bottom-0">
          <%= link_to t('formats.transaction.next_car_electric'), publication.promotion['url'], { class: "govuk-link" } %>
        </p>
      <% end %>
    </div>
    <hr class="govuk-section-break govuk-section-break--l">
  <% end %>

  <% if show_survey? %>
    <% if AssistedDigitalSatisfactionSurvey.show_survey? publication.slug %>
      <%= render 'assisted_digital_satisfaction_survey', publication: publication %>
    <% else %>
      <%= render 'standard_satisfaction_survey', publication: publication %>
    <% end %>
  <% end %>
<% end %>
