<% content_for :extra_headers do %>
  <meta name="robots" content="noindex, nofollow" />
<% end %>

<%= render layout: 'shared/base_page', locals: {
  main_class: 'transaction-done',
  title: "Thank you",
  publication: @publication,
  edition: @edition,
} do %>

  <% if @publication.promotion %>
    <div class="promotion">
      <% if @publication.promotion.organ_donor? %>
        <p>
          Please consider
          <%= link_to 'joining the NHS Organ Donor Register', @publication.promotion.opt_in_url,
                rel: "external" %>.
        </p>

        <% if @publication.promotion.opt_out_url %>
          <p>
            Organ donation law in England is changing.
            From spring 2020, you’ll be treated as an organ donor unless you
            <%= link_to 'opt out of the donor register', @publication.promotion.opt_out_url,
                  rel: "external" %>.
            This law already applies in Wales.
          </p>
        <% end %>

        <p><strong>Please tell your family your organ donation decision.</strong></p>
      <% elsif @publication.promotion.mot_reminder? %>
        <p>Get a text or email reminder when your MOT is due.</p>
        <p>
          <%= link_to 'Sign up', @publication.promotion.url,
                title: "Get a text or email reminder when your MOT is due", rel: "external", class: "button", role: "button" %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if show_survey? %>
    <div class="satisfaction-survey">
      <% if AssistedDigitalSatisfactionSurvey.show_survey? @publication.slug %>
        <%= render 'assisted_digital_satisfaction_survey', publication: @publication %>
      <% else %>
        <%= render 'standard_satisfaction_survey', publication: @publication %>
      <% end %>
    </div>
  <% end %>
<% end %>
