<% content_for :extra_headers do %>
  <meta name="robots" content="noindex, nofollow" />
<% end %>

<%= render layout: 'shared/base_page', locals: {
  title: publication.title,
  publication: publication,
  edition: @edition,
} do %>
  <% if !show_survey? %>
    <p class="govuk-body"><%= t('formats.transaction.completed_transaction_text')%></p>
  <% end %>
  
  <% if promotion %>
    <%= render "promo", t("formats.transaction.#{promotion['category']}").merge({ link_href: promotion['url'] }) %>
    <hr class="govuk-section-break govuk-section-break--l">
  <% end %>

  <% if show_survey? %>
    <% if AssistedDigitalSatisfactionSurvey.show_survey? publication.slug %>
      <%= render 'assisted_digital_satisfaction_survey', publication: publication %>
    <% else %>
      <%= render 'standard_satisfaction_survey', publication: publication %>
    <% end %>
  <% end %>
<% end %>
