<%
  add_view_stylesheet("landing_page")
%>

<% content_for :extra_headers do %>
  <meta name="description" content="<%= @content_item.description %>">

  <%= render "govuk_publishing_components/components/machine_readable_metadata", {
    content_item: @content_item.to_h,
    schema: :article
  } %>
<% end %>

<% content_for :landing_page_breadcrumbs do %>
  <% if @content_item.breadcrumbs.present? %>
    <%= render 'govuk_publishing_components/components/breadcrumbs', {
      collapse_on_mobile: true,
      breadcrumbs: @content_item.breadcrumbs
    } %>
  <% end %>
<% end %>

<% content_for :landing_page_blocks do %>
  <% @content_item.blocks.each do |block| %>
    <%= tag.div class: ["govuk-block govuk-block__#{block.type}", ("govuk-block--background" if block.full_width_background?)] do %>
      <% if block.full_width? %>
        <%= render_block(block) %>
      <% else %>
        <div class="govuk-width-container">
          <%= render_block(block) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% if @content_item.blocks.empty? %>
    Warning: No blocks specified for this page
  <% end %>
<% end %>

<%= render "landing_page/themes/#{content_item.theme}" %>
