<% content_for :title do %><%= @page_title %><% end %>

<section id="content" role="main" class="group category-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1><%= @category.title %></h1>
    </hgroup>
  </header>

  <div class="browse-container full-width group">
    <div class="category-description">
      <p><%= @category.details.description %></p>
    </div>

    <ul class="sub-categories group">
      <% @sub_categories.each do |category|%>
      <li>
        <h2><a href="<%= category.content_with_tag.web_url %>"><%= category.title %></a></h2>
        <p><%= category.details.description %></p>
      </li>
      <% end %>
    </ul>
  </div>
</section>

<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'browse-categories' %>
<% end %>