<% content_for :title do %><%= @page_title %><% end %>

<main id="content" role="main" class="group category-page">
  <header class="page-header group">
    <div class="full-width">
      <h1><%= @category.title %></h1>
    </div>
  </header>

  <div class="browse-container full-width group">
    <div class="category-description">
      <p><%= @category.details.description %></p>
    </div>

    <ul class="sub-categories group">
      <% @sub_categories.each do |category|%>
      <li>
        <h2><a href="<%= category.content_with_tag.web_url %>"><%= category.title %></a></h2>
        <p><%= category.details.description %></p>
      </li>
      <% end %>
    </ul>
  </div>
</main>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_headers do %>
<link rel="alternate" type="application/json" href="/api/tags.json?type=section&amp;parent_id=<%= params[:section] %>">
<% end %>
