<% content_for :title do %><%= @page_title %><% end %>

<section id="content" role="main" class="group category-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1><%= @sub_category.title %></h1>
    </hgroup>
  </header>

  <div class="browse-container full-width group">

    <ul class="content-list group">
    <% @results.each do |content| %>
      <li>
        <h3><a href="<%= content.web_url %>"><%= content.title %></a></h3>
        <p><%= content.details.overview.nil? ? nil : content.details.overview.html_safe %></p>
      </li>
    <% end %>
    </ul>

  <% if @detailed_categories.any? %>
    <div class="detailed-guidance">
      <h2>Additional detailed guidance from government departments</h2>
      <ul class="group">
        <% @detailed_categories.each do |category| %>
          <li>
            <h3><%= link_to category.title, category.content_with_tag.web_url %></h3>
            <% if category.details.description.present? %>
              <p><%= category.details.description %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  </div>
</section>

<% content_for :body_classes do %>full-width<% end %>
