<% content_for :title do %><%= @page_title %><% end %>

<section id="content" role="main" class="group sections-page">
  <header class="page-header group">
    <hgroup>
      <h1><%= @category.title %></h1>
      <h2><%= @sub_category.title %></h2>
    </hgroup>
  </header>

  <div class="browse-sections">
    <p><%= @sub_category.details.description %></p>
    <% @results.each do |content| %>
      <a href="<%= content.web_url %>"><%= content.title %></a>
      <p><%= content.details.overview %></p>
    <% end %>
  </div>
</section>

<% content_for :head do %>
  <link rel="alternate" type="application/json" href="/browse.json">
<% end %>
