<% content_for :title do %><%= @page_title %><% end %>

<main id="content" role="main" class="group category-page">
  <header class="page-header group">
    <div class="full-width">
      <h1><%= @category.title %></h1>
    </div>
  </header>

  <div class="browse-container full-width business-browse">

    <nav class="popular">
      <h1>Popular pages</h1>
      <ul>
        <li>
          <h2><a href="/check-uk-visa">Check if you need a UK visa</a></h2>
          <p>Use this tool to decide if you need a UK visa. If you need a visa you'll be told how to apply.</p>
        </li>
        <li>
          <h2><a href="/apply-uk-visa">Apply for a UK visa</a></h2>
          <p>Register your details and complete an application for the UK visa you need</p>
        </li>
        <li>
          <h2><a href="/visa-fees">Visa fees</a></h2>
          <p>Check how much your visa will cost</p>
        </li>
      </ul>
    </nav>

    <ul class="sub-categories group">
      <% @sub_categories.each do |category|%>
      <li>
        <h2><a href="<%= category.content_with_tag.web_url %>"><%= category.title %></a></h2>
        <p><%= category.details.description %></p>
      </li>
      <% end %>
    </ul>
  </div>

  <div id="report-a-problem"></div>
</main>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_headers do %>
<link rel="alternate" type="application/json" href="/api/tags.json?type=section&amp;parent_id=<%= params[:section] %>">
<% end %>
