<% places.each do |place| %>
  <li>
    <div class="place group">
      <div class="information">
        <div class="address vcard">
          <div class="adr org fn">
            <div class="adr govuk-body">
              <% if place["name"].present? %>
                <h3 class="fn govuk-!-margin-bottom-0 govuk-heading-s govuk-!-display-inline"><%= place["name"] %></h3>
              <% end %>

              <% if place["address"].present? %>
                <br /><span class="street-address"><%= place["address"] %></span><span class="govuk-visually-hidden">,</span>
              <% end %>

              <% if place["town"].present? %>
                <br /><span class="locality"><%= place["town"] %></span><span class="govuk-visually-hidden">,</span>
              <% end %>

              <% if place["postcode"].present? %>
                <br /><span class="postal-code"><%= place["postcode"] %></span>
              <% end %>
            </div>

            <% if place["location"].present? %>
              <ul class="govuk-list view-maps">
                <li><a class="govuk-link" href="https://maps.google.com/maps?z=16&amp;ie=UTF8&amp;q=loc:<%= place["location"]["latitude"] %>%2C<%= place["location"]["longitude"] %>&amp;ll=<%= place["location"]["latitude"] %>%2C<%= place["location"]["longitude"] %>">View on Google Maps</a></li>
                <li><a class="govuk-link" href="http://www.openstreetmap.org/index.html?mlat=<%= place["location"]["latitude"] %>&amp;mlon=<%= place["location"]["longitude"] %>&amp;zoom=16">View on Open Street Map</a></li>
              </ul>
            <% end %>

            <div class="additional-information">
              <% if place["url"].present? %>
                <p class="govuk-body url">
                  <a class="govuk-link truncated-url" href="<%= place["url"] %>"><%= place["text"] %></a>
                </p>
              <% end %>

              <% if place["email"].present? %>
                <p class="govuk-body">
                  <a class="govuk-link " data-ga4-do-not-redact href="mailto:<%= place["email"] %>"><%= place["email"] %></a>
                </p>
              <% end %>

              <% if place["phone"].present? %>
                <p class="govuk-body">
                  Phone: <%= place["phone"] %>
                </p>
              <% end %>

              <% if place["fax"].present? %>
                <p class="govuk-body">
                  Fax: <%= place["fax"] %>
                </p>
              <% end %>

              <% if place["text_phone"].present? %>
                <p class="govuk-body">
                  Text Phone: <%= place["text_phone"] %></a>
                </p>
              <% end %>

              <%= render "govuk_publishing_components/components/govspeak" do %>
                <%= simple_format place["general_notes"] if place["general_notes"].present? %>
                <%= simple_format place["access_notes"] if place["access_notes"].present? %>
              <% end if place["access_notes"].present? || place["general_notes"].present? %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
<% end %>
