<% place = places.first %>
<li class="govuk-!-margin-bottom-8">
  <div class="place group">
    <div class="information">
      <div class="address vcard">
        <div class="adr org fn">
          <div class="adr govuk-body">
            <% if place["name"].present? %>
              <h3 class="fn govuk-!-margin-bottom-0 govuk-heading-s govuk-!-display-inline"><%= place["name"] %></h3>
            <% end %>

          <div class="additional-information">
            <% if place["url"].present? %>
              <p class="govuk-body url">
                <a class="govuk-link truncated-url" href="<%= place["url"] %>"><%= place["text"] %></a>
              </p>
            <% end %>

            <% if place["email"].present? %>
              <p class="govuk-body">
                <a class="govuk-link " data-ga4-do-not-redact href="mailto:<%= place["email"] %>"><%= place["email"] %></a>
              </p>
            <% end %>

            <% if place["phone"].present? %>
              <p class="govuk-body">
                Phone: <a class="govuk-link tel" href="tel://<%= place["phone"] %>"><%= place["phone"] %></a>
              </p>
            <% end %>

            <% if place["fax"].present? %>
              <p class="govuk-body">
                Fax: <a class="govuk-link tel" href="tel://<%= place["fax"] %>"><%= place["fax"] %></a>
              </p>
            <% end %>

            <% if place["text_phone"].present? %>
              <p class="govuk-body">
                Text Phone: <a class="govuk-link tel" href="tel://<%= place["text_phone"] %>"><%= place["text_phone"] %></a>
              </p>
            <% end %>

            <%= render "govuk_publishing_components/components/govspeak" do %>
              <%= simple_format place["general_notes"] if place["general_notes"].present? %>
              <%= simple_format place["access_notes"] if place["access_notes"].present? %>
            <% end if place["access_notes"].present? || place["general_notes"].present? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
