<%
  add_view_stylesheet("report-child-abuse")

  places ||= []
%>
<% 
  content_for :title, "#{publication.title}: #{t('formats.local_transaction.search_result')} - GOV.UK" 
%>
<% places.each do |place| %>
  <li>
    <div class="place group">
      <div class="information">
        <div class="address vcard">
          <div class="adr org fn">

            <p class="adr govuk-body">
              <% if place["name"].present? %>
                <span class="fn"><%= t('place.children_social_care') %> <%= place["name"] %></span>
              <% end %>
            </p>

            <div class="phone-numbers-report-child-abuse">
              <% if place["phone"].present? %>
                <p class="tel-report-child-abuse govuk-body">
                  <% phone_digits = phone_digits(place["phone"]) %>
                  <%= phone_digits %>
                  <%= phone_text(place["phone"]) %>
                </p>
                <% end %>

              <% if place["general_notes"].present? %>
                <p class="tel-report-child-abuse govuk-body">
                  <% out_of_hours_digits = phone_digits(place["general_notes"]) %>
                  <%= out_of_hours_digits %>
                  <%= phone_text(place["general_notes"]) %>
                </p>
              <% end %>
            </div>

            <% if place["url"].present? %>
              <p class="url govuk-body">
                <a href="<%= place["url"] %>" class="govuk-link"><%= t('place.go_to_website') %></a>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </li>
<% end %>
