<%
  add_view_stylesheet("place-list")
%>

<%
  results_anchor ||= nil
  ga4_type = content_item.document_type.gsub("_", " ")

  if postcode_provided? && !location_error
    ga4_form_complete_attributes = {
      event_name: "form_complete",
      action: "complete",
      type: ga4_type,
      text: "Results #{@places_presenter.preposition} [postcode]",
      tool_name: content_item.title
    }.to_json
  end

  ga4_information_click_attributes = {
    event_name: "information_click",
    action: "information click",
    type: ga4_type,
    tool_name: content_item.title,
  }.to_json
%>

<% content_for :extra_headers do %>
  <%= render 'govuk_publishing_components/components/machine_readable_metadata',
    schema: :article,
    content_item: content_item.to_h %>
<% end %>

<%= render layout: 'shared/base_page', locals: {
  title: content_item.title,
  publication: content_item,
  edition: @edition,
} do %>
  <section class="intro">
    <div class="get-started-intro">
      <div class="find-nearest">
        <% if content_item.introduction.present? %>
          <%= render "govuk_publishing_components/components/govspeak", {} do %>
            <%= raw content_item.introduction %>
          <% end %>
        <% end %>
        <%= render partial: 'location_form',
          locals: {
            format: 'service',
            publication_format: 'place',
            postcode: postcode,
            margin_top: @location_error ? 5 : 0,
            publication_title: content_item.title,
          }.merge(results_anchor ? {
            action: "/#{params[:slug]}\##{results_anchor}",
            results_anchor: results_anchor,
          } : {})
        %>
      </div>
    </div>
  </section>
  <% if postcode_provided? && !location_error %>
    <%= content_tag "section", id: results_anchor, class: "places-results",
      data: {
        module: "ga4-auto-tracker ga4-link-tracker",
        ga4_auto: ga4_form_complete_attributes,
        ga4_link: ga4_information_click_attributes,
        ga4_track_links_only: "",
        ga4_set_indexes: "",
      } do %>
        <% if @places_presenter.places.any? %>
          <%= render "govuk_publishing_components/components/heading", {
            text: "Results #{@places_presenter.preposition} <strong>#{postcode}</strong>".html_safe,
            margin_bottom: 4,
          } %>
          <ol id="options" class="govuk-list place-list">
            <%= render partial: "place", locals: { places: @places_presenter.places } %>
          </ol>
        <% end %>
    <% end %>
  <% else %>
    <% if content_item.need_to_know.present? || content_item.more_information.present? %>
      <section class="more">
        <div class="further-information">
          <%= render "govuk_publishing_components/components/heading", {
            text: "Further information",
            margin_bottom: 4,
          } %>
          <% if content_item.need_to_know.present? %>
            <%= render "govuk_publishing_components/components/govspeak", {} do %>
              <%= raw content_item.need_to_know %>
            <% end %>
          <% end %>
          <% if content_item.more_information.present? %>
            <%= render "govuk_publishing_components/components/govspeak", {} do %>
              <%= raw content_item.more_information %>
            <% end %>
          <% end %>
        </div>
      </section>
    <% end %>
  <% end %>
<% end %>
