<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <%= completed_question_counter + 1 %>. <%= completed_question.question.title %>
  </dt>
  <dd class="govuk-summary-list__value">
    <%= completed_question.label %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="<%= change_completed_question_path(completed_question_counter) %>" class="govuk-link"><%= t('formats.simple_smart_answer.change.visible') %> <span class="govuk-visually-hidden"><%= t('formats.simple_smart_answer.change.hidden') %></span></a>
  </dd>
</div>
