<div class="step current">
  <div class="current-question">
    <h2><span class="question-number"><%= @flow_state.current_question_number %></span> <%= question.title %></h2>

    <%# TODO: generate form URL more robustly %>
    <%= form_tag url_for, :method => :get do %>
      <div class="question-body">
        <ul class="options">
          <% question.options.each do |option| %>
            <li>
              <label for="response_<%= option.slug %>">
                <%= radio_button_tag "response", option.slug, false, :id => "response_#{ option.slug }" %>
                <%= option.label %>
              </label>
            </li>
          <% end %>
        </ul>

      </div>

      <div class="next-question">
        <button type="submit" class="medium button">Next step</button>
      </div>
    <% end %>

  </div>
</div>

