<%
  content_for :title do
    simple_smart_answer_page_title(outcome.title)
  end

  ga4_attributes = {
    event_name: "form_complete",
    type: "simple smart answer",
    section: @flow_state.current_node.title,
    action: "complete",
    tool_name: content_item.title,
    text: outcome.slug
  }.to_json
%>
<div
  data-module="ga4-auto-tracker"
  data-ga4-auto="<%= ga4_attributes %>"
>
  <% if content_item.title %>
    <span class="govuk-caption-xl"><%= content_item.title %></span>
  <% end %>
  <%= render "govuk_publishing_components/components/heading", {
    text: outcome.title,
    font_size: "l",
    margin_bottom: 4,
    heading_level: 1,
  } %>

  <% if outcome.body %>
    <%= render "govuk_publishing_components/components/govspeak", {} do %>
      <%= raw outcome.body %>
    <% end %>
  <% end %>
</div>
