<%
  content_for :title do
    simple_smart_answer_page_title(outcome.title)
  end

  ga4_attributes = {
    event_name: "form_complete",
    type: "simple smart answer",
    section: @flow_state.current_node.title,
    action: "complete",
    tool_name: publication.title,
    text: outcome.slug
  }.to_json
%>
<div 
  data-module="track-smart-answer ga4-auto-tracker" 
  data-smart-answer-node-type="outcome" 
  data-smart-answer-slug="<%= outcome.slug %>"
  data-ga4-auto="<%= ga4_attributes %>"
>
  <%= render "govuk_publishing_components/components/title", {
    context: publication.title,
    font_size: "l",
    margin_bottom: 4,
    margin_top: 0,
    average_title_length: "long",
    title: outcome.title,
  } %>

  <% if outcome.body %>
    <%= render "govuk_publishing_components/components/govspeak", {} do %>
      <%= raw outcome.body %>
    <% end %>
  <% end %>
</div>
