<% content_for :extra_headers do %>
  <meta name="robots" content="noindex" />
<% end %>

<main id="content" class="govuk-grid-column-two-thirds simple-smart-answer-wrapper">
  <section class="simple-smart-answer__answers">
    <% if @flow_state.current_node.outcome? %>
      <%= render partial: "outcome", object: @flow_state.current_node %>
    <% else %>
      <%= render partial: "current_question", locals: {
        question: @flow_state.current_node
      } %>
    <% end %>
  </section>
  <section>
    <% if @flow_state.completed_questions.any? %>
      <%= render "govuk_publishing_components/components/heading", {
        font_size: "l",
        heading_level: 2,
        margin_bottom: 4,
        text: t("formats.simple_smart_answer.your_answers"),
      } %>

      <p class="govuk-body">
        <%= link_to(
          t("formats.simple_smart_answer.start_again"),
          simple_smart_answer_path(@publication.slug, :edition => @edition),
          class: "govuk-link"
        ) %>
      </p>

      <%= render "govuk_publishing_components/components/summary_list", {
        items: answer_summary_data,
      } %>
    <% end %>
  </section>
</main>

<% if @flow_state.current_node.outcome? %>
  <div class="govuk-grid-column-one-third govuk-!-margin-top-7">
    <%= render "govuk_publishing_components/components/contextual_sidebar", {
      content_item: @content_item
    } %>
  </div>
<% end %>
