<% content_for :extra_headers do %>
  <meta name="robots" content="noindex" />
<% end %>

<main id="content" class="govuk-grid-column-two-thirds">
  <header class="page-header group">
    <%= render "govuk_publishing_components/components/title", title: @publication.title %>
  </header>

  <% if @flow_state.completed_questions.any? %>
    <div class="done-questions">
      <div class="start-again">
        <%= link_to "Start again", simple_smart_answer_path(@publication.slug, :edition => @edition), class: "govuk-link" %>
      </div>
      <ol>
        <%= render :partial => "completed_question", :collection => @flow_state.completed_questions %>
      </ol>
    </div>
  <% end %>

  <% if @flow_state.current_node.outcome? %>
    <%= render :partial => "outcome", :object => @flow_state.current_node %>
  <% else %>
    <%= render :partial => "current_question", :locals => {:question => @flow_state.current_node } %>
  <% end %>
</main>

<% if @flow_state.current_node.outcome? %>
  <div class="govuk-grid-column-one-third govuk-!-margin-top-7">
    <%= render 'govuk_publishing_components/components/contextual_sidebar', content_item: @content_item %>
  </div>
<% end %>

