<% content_for :extra_headers do %>
  <%= education_navigation_variant.analytics_meta_tag.html_safe if ab_test_applies? %>
    <%= tasklist_variant.analytics_meta_tag.html_safe if tasklist_ab_test_applies? %>
<% end %>

<%= render layout: 'shared/base_page', locals: {
  title: @publication.title,
  publication: @publication,
  edition: @edition,
  tasklist: tasklist
} do %>
  <div class="intro">
    <%= raw @publication.body %>
    <p class="get-started">
      <a rel="nofollow" href="<%= smart_answer_flow_path(:slug => @publication.slug, :edition => @edition) %>" class="big button" role="button"><%= @publication.start_button_text %></a>
    </p>
  </div>
<% end %>
