<% content_for :title do %>
  <%= @content_item.title %> - GOV.UK
<% end %>

<% content_for :extra_headers do %>
   <%= render "govuk_publishing_components/components/machine_readable_metadata", { content_item: @content_item.to_h, schema: :article } %>
<% end %>

<main role="main" id="content" class="speech" <%= lang_attribute(@content_item.locale) %>>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render 'govuk_publishing_components/components/title', {
          title: content_item.title,
          context: I18n.t("formats.#{content_item.document_type}", count: 1),
          context_locale: t_locale_fallback("formats.#{content_item.document_type}", count: 1),
          average_title_length: "long",
        } %>
    </div>
    <%= render 'shared/translations' %>
    <div class="govuk-grid-column-two-thirds">
      <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
    </div>
  </div>

<%= render 'shared/publisher_metadata_with_logo' %>
<%= render 'shared/history_notice', content_item: @content_item %>
<% if @content_item.withdrawn? %>
  <%= render 'govuk_publishing_components/components/notice', @content_item.withdrawal_notice_component  %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="content-bottom-margin">
      <div class="responsive-bottom-margin">
        <% if @presenter.important_metadata.any? %>
          <%= content_tag :div, class: "important-metadata inverse-background responsive-bottom-margin" do %>
           <%= render 'components/important_metadata',
           items: @presenter.important_metadata %>
           <!--
           <%= render "govuk_publishing_components/components/metadata", {
              inverse: true, 
              other: @presenter.important_metadata,
              margin_bottom: 0,
            } %>
           -->
          <% end %>
        <% end %>

        <%= render 'components/figure',
          src: @content_item.image["url"],
          alt: @content_item.image["alt_text"],
          credit: @content_item.image["credit"],
          caption: @content_item.image["caption"] if @content_item.image %>

        <%= render "govuk_publishing_components/components/govspeak", {
          direction: page_text_direction,
        } do %>
          <%= raw(@content_item.body) %>
        <% end %>
      </div>

      <%= render 'components/published_dates', {
          published: display_date(@content_item.first_published_at),
          last_updated: display_date(@content_item.updated),
          history: @content_item.history
      } %>
    </div>
  </div>

  <%= render 'shared/sidebar_navigation' %>
</div>

<%= render 'shared/footer_navigation' %>
