<% content_for :title do %>
  <%= content_item.title %> - GOV.UK
<% end %>

<% content_for :extra_headers do %>
   <%= render "govuk_publishing_components/components/machine_readable_metadata", { content_item: content_item.to_h, schema: :news_article } %>
   <meta name="description" content="<%= strip_tags(content_item.description) %>">
<% end %>

  <div class="govuk-grid-row gem-print-columns-none">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
          text: content_item.title,
          context: I18n.t("formats.#{content_item.document_type}", count: 1),
          context_locale: t_locale_fallback("formats.#{content_item.document_type}", count: 1),
          average_title_length: "long",
          heading_level: 1,
          font_size: "l",
          margin_bottom: 8,
        } %>
    </div>
    <%= render "shared/translations" %>
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/lead_paragraph", text: content_item.description %>
    </div>
  </div>

 <%= render "shared/publisher_metadata", locals: {
    from: govuk_styled_links_list(@presenter.speech_contributor_links),
    first_published: display_date(content_item.initial_publication_date),
    last_updated: display_date(content_item.updated),
    see_updates_link: true,
    } %>
  <%= render "shared/history_notice", content_item: content_item %>
  <% if content_item.withdrawn? %>
    <% withdrawn_time_tag = tag.time(display_date(content_item.withdrawn_at), datetime: content_item.withdrawn_at) %>

    <%= render "govuk_publishing_components/components/notice", {
      title: I18n.t("withdrawn_notice.title", schema_name: I18n.t("formats.#{content_item.schema_name}", count: 1, locale: :en).downcase, withdrawn_time: withdrawn_time_tag).html_safe,
      description_govspeak: content_item.withdrawn_explanation&.html_safe,
      time: withdrawn_time_tag,
      lang: "en",
    } %>
  <% end %>

<div class="govuk-grid-row gem-print-columns-none">
  <div class="govuk-grid-column-two-thirds">
    <div class="content-bottom-margin">
      <div class="responsive-bottom-margin">
          <%= content_tag :div, class: "important-metadata inverse-background responsive-bottom-margin" do %>
          <% delivered_on = tag.time(display_date(content_item.delivered_on_date), datetime: content_item.delivered_on_date) %>
          <% speech_type_explanation = content_item.speech_type_explanation %>
           <%= render "govuk_publishing_components/components/metadata", {
              inverse: true,
              other: { I18n.t("formats.speech.location") => content_item.location , @presenter.delivery_type => "#{delivered_on}#{speech_type_explanation}" },
              margin_bottom: 0,
            } %>
        <% end %>

        <%= render "govuk_publishing_components/components/figure",
          src: content_item.image["url"],
          alt: content_item.image["alt_text"],
          credit: content_item.image["credit"],
          caption: content_item.image["caption"] if content_item.image %>

        <%= render "govuk_publishing_components/components/govspeak", {
          direction: page_text_direction,
        } do %>
          <%= raw(content_item.body) %>
        <% end %>
      </div>

      <%= render "govuk_publishing_components/components/published_dates", {
          published: display_date(content_item.initial_publication_date),
          last_updated: display_date(content_item.updated),
          history: content_item.history,
      } %>
    </div>
  </div>

  <%= render "shared/sidebar_navigation" %>
</div>

<%= render "shared/footer_navigation" %>
