<% content_for :title do %><%= t('funding_form.company_house_or_charity_commision_number.title') %> - GOV.UK<% end %>
<% content_for :extra_headers do %>
  <meta name="description" content="<%= t('funding_form.company_house_or_charity_commision_number.title') %>" />
<% end %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= form_tag do %>
        <%= render "govuk_publishing_components/components/radio", {
          heading: t('funding_form.company_house_or_charity_commision_number.title'),
          is_page_heading: true,
          name: "company_house_or_charity_commision_number",
          items: [
            {
              value: t('funding_form.company_house_or_charity_commision_number.options.number_yes.label'),
              text: t('funding_form.company_house_or_charity_commision_number.options.number_yes.label'),
              checked: session[:company_house_or_charity_commision_number_yes],
              conditional: render("govuk_publishing_components/components/input", {
                label: {
                  text: t('funding_form.company_house_or_charity_commision_number.options.number_yes.input.label'),
                },
                name: "company_house_or_charity_commision_number_other",
                value: session[:company_house_or_charity_commision_number],
                width: 10
              })
            },
            {
              value: t('funding_form.company_house_or_charity_commision_number.options.number_no.label'),
              text: t('funding_form.company_house_or_charity_commision_number.options.number_no.label'),
              checked: session[:company_house_or_charity_commision_number]==t('funding_form.company_house_or_charity_commision_number.options.number_no.label')
            },
          ]
        } %>
        <%= render "govuk_publishing_components/components/button", text: "Save and continue", margin_bottom: true %>
        <% end %>
      </div>
    </div>
  </main>
</div>
