<% content_for :title do %><%= t('funding_form.confirmation.title') %> - GOV.UK<% end %>
<% content_for :extra_headers do %>
  <meta name="description" content="<%= t('funding_form.confirmation.title') %>" />
<% end %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/panel", {
          title: "Registration complete",
          description: sanitize("Your reference number<br>
            <strong>#{params[:reference_number]}</strong>
            ")
        } %>
        <div class="gem-c-govspeak govuk-govspeak ">
          <%= render "govuk_publishing_components/components/lead_paragraph", {
            text: t('funding_form.confirmation.description')
          } %>
        </div>
        <%= render "govuk_publishing_components/components/heading", {
          text: t('funding_form.confirmation.heading'),
          margin_bottom: 4
        } %>
        <div class="gem-c-govspeak govuk-govspeak ">
          <p><%= t('funding_form.confirmation.paragraph_1') %> </p>
          <p><%= t('funding_form.confirmation.paragraph_2') %> </p>
        </div>
      </div>
    </div>
  </main>
</div>
