<% content_for :title do %><%= t('funding_form.grant_agreement_number.title') %> - GOV.UK<% end %>
<% content_for :extra_headers do %>
  <meta name="description" content="<%= t('funding_form.grant_agreement_number.title') %>" />
<% end %>

<div class="govuk-width-container">
  <%= render "govuk_publishing_components/components/back_link", { href: companies_house_number_path } %>
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "funding_form/validation_error" %>

        <%= form_tag({},
          "data-module": "track-funding-form",
          "data-question-key": "grant_agreement_number"
        ) do %>
        <%= render "govuk_publishing_components/components/radio", {
          heading: t('funding_form.grant_agreement_number.title'),
          is_page_heading: true,
          name: "grant_agreement_number",
          description: t('funding_form.grant_agreement_number.description'),
          items: [
            {
              value: t('funding_form.grant_agreement_number.options.grant_yes'),
              text: t('funding_form.grant_agreement_number.options.grant_yes'),
              checked: session[:grant_agreement_number] != t('funding_form.grant_agreement_number.options.grant_yes'),
              conditional: render("govuk_publishing_components/components/input", {
                label: {
                  text: t('funding_form.grant_agreement_number.options.yes_input.label'),
                },
                name: "grant_agreement_number_other",
                value: session[:grant_agreement_number] == t('funding_form.grant_agreement_number.options.grant_yes') ? "" : session[:grant_agreement_number],
                width: 10
              })
            },
            {
              value: t('funding_form.grant_agreement_number.options.grant_no'),
              text: t('funding_form.grant_agreement_number.options.grant_no'),
              checked: session[:grant_agreement_number]==t('funding_form.grant_agreement_number.options.grant_no')
            }
          ]
        } %>
        <%= render "govuk_publishing_components/components/button", text: "Save and continue", margin_bottom: true %>
        <% end %>
      </div>
    </div>
  </main>
</div>
