<% content_for :title do %><%= t('funding_form.organisation_details.title') %> - GOV.UK<% end %>
<% content_for :extra_headers do %>
  <meta name="description" content="<%= t('funding_form.organisation_details.title') %>" />
<% end %>

<% address_fieldset = capture do %>
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: sanitize(t('funding_form.organisation_details.address_line_1.label') + " " + tag.span(t('funding_form.organisation_details.address_line_1.label_hidden'), class: "govuk-visually-hidden")),
    },
    name: "address_line_1",
    value: session["address_line_1"]
  } %>
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: tag.span(t('funding_form.organisation_details.address_line_2.label_hidden'), class: "govuk-visually-hidden")
    },
    name: "address_line_2",
    value: session["address_line_2"],
  } %>
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: t('funding_form.organisation_details.address_town.label')
    },
    name: "address_town",
    width: 20,
    value: session["address_town"],
  } %>
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: t('funding_form.organisation_details.address_county.label')
    },
    name: "address_county",
    width: 20,
    value: session["address_county"],
  } %>
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: t('funding_form.organisation_details.address_postcode.label')
    },
    name: "address_postcode",
    value: session["address_postcode"],
    width: 10
  } %>
<% end %>

<div class="govuk-width-container">
  <%= render "govuk_publishing_components/components/back_link", { href: organisation_type_path } %>
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "funding_form/validation_error" %>

        <%= form_tag({},
          "data-module": "track-funding-form",
          "data-question-key": "organisation_details"
        ) do %>
        <%= render "govuk_publishing_components/components/title", {
          title: t('funding_form.organisation_details.title'),
        } %>
        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: t('funding_form.organisation_details.organisation_name.label'),
            bold: true
          },
          name: "organisation_name",
          value: session["organisation_name"],
          hint: t('funding_form.organisation_details.organisation_name.hint')
        } %>
        <%= render "govuk_publishing_components/components/fieldset", {
          legend_text: t('funding_form.organisation_details.address_legend'),
          heading_size: "s",
          text: address_fieldset
        } %>
        <%= render "govuk_publishing_components/components/button", text: "Save and continue", margin_bottom: true %>
      <% end %>
      </div>
    </div>
  </main>
</div>
