<% content_for :title do %><%= t('funding_form.organisation_type.title') %> - GOV.UK<% end %>
<% content_for :extra_headers do %>
  <meta name="description" content="<%= t('funding_form.organisation_type.title') %>" />
<% end %>

<div class="govuk-width-container">
  <%= render "govuk_publishing_components/components/back_link", { href: contact_information_path } %>
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "funding_form/validation_error" %>

        <%= form_tag({},
          "data-module": "track-funding-form",
          "data-question-key": "organisation_type"
        ) do %>
        <%= render "govuk_publishing_components/components/radio", {
          heading: t('funding_form.organisation_type.title'),
          description: t('funding_form.organisation_type.description'),
          is_page_heading: true,
          name: "organisation_type",
          items: [
            {
              value: t('funding_form.organisation_type.options.business.label'),
              text: t('funding_form.organisation_type.options.business.label'),
              hint_text: t('funding_form.organisation_type.options.business.hint'),
              checked: session[:organisation_type]==t('funding_form.organisation_type.options.business.label'),
              bold: true
            },
            {
              value: t('funding_form.organisation_type.options.research.label'),
              text: t('funding_form.organisation_type.options.research.label'),
              hint_text: t('funding_form.organisation_type.options.research.hint'),
              checked: session[:organisation_type]==t('funding_form.organisation_type.options.research.label'),
              bold: true
            },
            {
              value: t('funding_form.organisation_type.options.research_and_technology.label'),
              text: t('funding_form.organisation_type.options.research_and_technology.label'),
              hint_text: t('funding_form.organisation_type.options.research_and_technology.hint'),
              checked: session[:organisation_type]==t('funding_form.organisation_type.options.research_and_technology.label'),
              bold: true
            },
            {
              value: t('funding_form.organisation_type.options.public_sector_or_charity.label'),
              text: t('funding_form.organisation_type.options.public_sector_or_charity.label'),
              hint_text: t('funding_form.organisation_type.options.public_sector_or_charity.hint'),
              checked: session[:organisation_type]==t('funding_form.organisation_type.options.public_sector_or_charity.label'),
              bold: true
            },
            {
              value: t('funding_form.organisation_type.options.other.label'),
              text: t('funding_form.organisation_type.options.other.label'),
              checked: session[:organisation_type_other],
              conditional: render("govuk_publishing_components/components/input", {
                label: {
                  text: t('funding_form.organisation_type.options.other.input.label'),
                },
                name: "organisation_type_other",
                value: session[:organisation_type_other]
              }),
              bold: true
            }
          ]
        } %>
        <%= render "govuk_publishing_components/components/button", text: "Save and continue", margin_bottom: true %>
        <% end %>
      </div>
    </div>
  </main>
</div>
