<% content_for :title do %><%= t('funding_form.programme_funding.title') %> - GOV.UK<% end %>
<% content_for :extra_headers do %>
  <meta name="description" content="<%= t('funding_form.programme_funding.title') %>" />
<% end %>

<div class="govuk-width-container">
  <%= render "govuk_publishing_components/components/back_link", { href: grant_agreement_number_path } %>
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "funding_form/validation_error" %>

        <%= form_tag({},
          "data-module": "track-funding-form",
          "data-question-key": "programme_funding"
        ) do %>
        <%= render "govuk_publishing_components/components/radio", {
          heading: t('funding_form.programme_funding.title'),
          description: t('funding_form.programme_funding.description'),
          is_page_heading: true,
          name: "funding_programme",
          items: [
            {
              value: t('funding_form.programme_funding.options.option_1.label'),
              text: t('funding_form.programme_funding.options.option_1.label'),
              checked: session[:funding_programme]==t('funding_form.programme_funding.options.option_1.label'),
            },
            {
              value: t('funding_form.programme_funding.options.option_2.label'),
              text: t('funding_form.programme_funding.options.option_2.label'),
              checked: session[:funding_programme]==t('funding_form.programme_funding.options.option_2.label'),
            },
            {
              value: t('funding_form.programme_funding.options.option_3.label'),
              text: t('funding_form.programme_funding.options.option_3.label'),
              checked: session[:funding_programme]==t('funding_form.programme_funding.options.option_3.label'),
            },
            {
              value: t('funding_form.programme_funding.options.option_4.label'),
              text: t('funding_form.programme_funding.options.option_4.label'),
              checked: session[:funding_programme]==t('funding_form.programme_funding.options.option_4.label'),
            },
            {
              value: t('funding_form.programme_funding.options.option_5.label'),
              text: t('funding_form.programme_funding.options.option_5.label'),
              checked: session[:funding_programme]==t('funding_form.programme_funding.options.option_5.label'),
            },
            {
              value: t('funding_form.programme_funding.options.option_6.label'),
              text: t('funding_form.programme_funding.options.option_6.label'),
              checked: session[:funding_programme]==t('funding_form.programme_funding.options.option_6.label'),
            },
            {
              value: t('funding_form.programme_funding.options.option_7.label'),
              text: t('funding_form.programme_funding.options.option_7.label'),
              checked: session[:funding_programme]==t('funding_form.programme_funding.options.option_7.label'),
            },
            {
              value: t('funding_form.programme_funding.options.option_8.label'),
              text: t('funding_form.programme_funding.options.option_8.label'),
              checked: session[:funding_programme]==t('funding_form.programme_funding.options.option_8.label'),
            },
            {
              value: t('funding_form.programme_funding.options.option_9.label'),
              text: t('funding_form.programme_funding.options.option_9.label'),
              checked: session[:funding_programme]==t('funding_form.programme_funding.options.option_9.label'),
            },
            {
              value: t('funding_form.programme_funding.options.option_10.label'),
              text: t('funding_form.programme_funding.options.option_10.label'),
              checked: session[:funding_programme]==t('funding_form.programme_funding.options.option_10.label'),
            },
          ]
        } %>
        <%= render "govuk_publishing_components/components/button", text: "Save and continue", margin_bottom: true %>
        <% end %>
      </div>
    </div>
  </main>
</div>
