<% content_for :title do %><%= t('funding_form.project_details.title') %> - GOV.UK<% end %>
<% content_for :extra_headers do %>
  <meta name="description" content="<%= t('funding_form.project_details.title') %>" />
<% end %>

<div class="govuk-width-container">
  <%= render "govuk_publishing_components/components/back_link", { href: programme_path } %>
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "funding_form/validation_error" %>

        <%= form_tag({},
          "data-module": "track-funding-form",
          "data-question-key": "project_details"
        ) do %>
        <%= render "govuk_publishing_components/components/title", {
          title: t('funding_form.project_details.title'),
        } %>
        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: t('funding_form.project_details.project_name.label'),
            bold: true
          },
          name: "project_name",
          hint: t('funding_form.project_details.project_name.hint'),
          value: session["project_name"]
        } %>
        <%= render "govuk_publishing_components/components/input", {
          label: {
            text:t('funding_form.project_details.amount_awarded.label'),
            bold: true
          },
          hint: t('funding_form.project_details.amount_awarded.hint'),
          name: "total_amount_awarded",
          width: 10,
          value: session["total_amount_awarded"]
        } %>
        <%= render "govuk_publishing_components/components/date_input", {
          legend_text: t('funding_form.project_details.award_start_date.label'),
          hint: t('funding_form.project_details.award_start_date.hint'),
          items: [
            {
              label: "Day",
              name: "start_date_day",
              width: 2,
              value: session["start_date_day"]
            },
            {
              label: "Month",
              name: "start_date_month",
              width: 2,
              value: session["start_date_month"]
            },
            {
              label: "Year",
              name: "start_date_year",
              width: 4,
              value: session["start_date_year"]
            }
          ]
        } %>
        <%= render "govuk_publishing_components/components/date_input", {
          legend_text: t('funding_form.project_details.award_end_date.label'),
          hint: t('funding_form.project_details.award_end_date.hint'),
          items: [
            {
              label: "Day",
              name: "end_date_day",
              width: 2,
              value: session["end_date_day"]
            },
            {
              label: "Month",
              name: "end_date_month",
              width: 2,
              value: session["end_date_month"]
            },
            {
              label: "Year",
              name: "end_date_year",
              width: 4,
              value: session["end_date_year"]
            }
          ]
        } %>
        <%= render "govuk_publishing_components/components/button", text: "Save and continue", margin_bottom: true %>
        <% end %>
      </div>
    </div>
  </main>
</div>
