<% content_for :title, t("account.cookies_and_feedback.heading") %>

<%= render "govuk_publishing_components/components/back_link", { href: GovukPersonalisation::Urls.manage } %>

<% if @success %>
  <%= render "govuk_publishing_components/components/success_alert", {
    message: t("account.cookies_and_feedback.success"),
  } %>
<% end %>

<%= render "govuk_publishing_components/components/heading", {
  text: yield(:title),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 4,
} %>

<%= form_with(url: account_cookies_and_feedback_path, method: :post) do %>
  <%= render "govuk_publishing_components/components/heading", {
    text: t("account.cookies_and_feedback.cookie_consent.heading"),
    heading_level: 2,
    font_size: "m",
    margin_bottom: 3,
  } %>

  <p class="govuk-body">
    <%= t("account.cookies_and_feedback.cookie_consent.description") %>
  </p>

  <%= render "govuk_publishing_components/components/radio", {
    name: "cookie_consent",
    id: "cookie_consent",
    heading: t("account.cookies_and_feedback.cookie_consent.field.heading"),
    heading_size: "s",
    heading_level: 3,
    items: [
      {
        value: "yes",
        text: t("yes"),
        checked: @cookie_consent,
      },
      {
        value: "no",
        text: t("no"),
        checked: !@cookie_consent,
      }
    ]
  } %>

  <%= render "govuk_publishing_components/components/heading", {
    text: t("account.cookies_and_feedback.feedback_consent.heading"),
    heading_level: 2,
    font_size: "m",
    margin_bottom: 3,
  } %>

  <p class="govuk-body">
    <%= t("account.cookies_and_feedback.feedback_consent.description") %>
  </p>

  <%= render "govuk_publishing_components/components/radio", {
    name: "feedback_consent",
    id: "feedback_consent",
    heading: t("account.cookies_and_feedback.feedback_consent.field.heading"),
    heading_size: "s",
    heading_level: 3,
    items: [
      {
        value: "yes",
        text: t("yes"),
        checked: @feedback_consent,
      },
      {
        value: "no",
        text: t("no"),
        checked: !@feedback_consent,
      }
    ]
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: t("save"),
    inline_layout: true,
  } %>
  <span class="govuk-body"><%= t("or") %></span>
  <%= link_to t("cancel"),
    GovukPersonalisation::Urls.manage,
    class: "govuk-body govuk-link"
  %>
<% end %>
