<% if @publication.parts.size > 1 then %>
<aside>
  <div class="inner">
    <nav role="navigation" class="page-navigation" aria-label="parts to this guide">
      <% @publication.parts.each_slice(parts_column_height(@publication.parts)).with_index do |parts,i| %>
        <ol<%= " start=\"#{parts_column_height(@publication.parts) + 1}\"".html_safe if i == 1 %>>
          <% parts.each do |nav_part| %>
            <% if @publication.current_part == nav_part %>
              <li class="active">
                <span class="part-number"><%= @publication.parts.find_index(nav_part) + 1 %>.</span>
                <span><%= nav_part.title %></span>
              </li>
            <% else %>
              <li>
                <span class="part-number"><%= @publication.parts.find_index(nav_part) + 1 %>.</span>
                <%= link_to nav_part.title, guide_path(slug: @publication.slug, part: nav_part.slug), :title => "#{ t 'formats.guide.part' } #{ @publication.part_number(nav_part) }: #{ nav_part.title }" %>
              </li>
            <% end %>
          <% end %>
        </ol>
      <% end %>
    </nav>
  </div>
</aside>
<% end %>
