<% content_for :extra_headers do %>
  <%= render 'pagination_headers' %>
<% end %>

<%= render layout: 'shared/base_page', locals: {
  main_class: "#{@publication.parts.size > 1 ? "multi" : "single"}-page",
  title: @publication.title,
  publication: @publication,
  edition: @edition,
} do %>
  <%= render :partial => "navigation" %>
  <% if @publication.parts.size > 1 then %>
    <header>
      <h1><%= @publication.current_part_number %>. <%= @publication.current_part.title %></h1>
    </header>
  <% end %>

  <%= raw @publication.current_part.body %>

  <%= render :partial => "pagination" %>

  <div class="print-link">
    <%= link_to t('formats.guide.printer_friendly_page'), guide_path(@publication.slug, :part => 'print', :edition => @edition), rel: "nofollow" %>
  </div>
<% end %>
