
<%= render "govuk_publishing_components/components/heading", {
  text: t("formats.#{content_item.schema_name}.ways_to_respond"),
  id: "ways-to-respond",
  margin_bottom: 4,
} %>
<%= render "govuk_publishing_components/components/govspeak", {
  direction: page_text_direction,
} do %>
  <% if content_item.respond_online_url %>
    <div class="call-to-action">
      <p><%= link_to t("formats.#{content_item.schema_name}.respond_online"), content_item.respond_online_url %></p>
    </div>

    <% if content_item.email || content_item.postal_address %>
      <p><%= t("formats.#{content_item.schema_name}.or") %></p>
    <% end %>
  <% end %>

  <% if content_item.response_form? %>
    <p>
      <%= t("formats.#{content_item.schema_name}.complete_a") %> <%= link_to "response form", content_item.attachment_url %> <%= t("formats.#{content_item.schema_name}.and") %>
      <%= t("formats.#{content_item.schema_name}.either") if content_item.email && content_item.postal_address %>
    </p>
  <% end %>

  <% if content_item.email %>
    <h3><%= t("formats.#{content_item.schema_name}.email_to") %></h3>
    <p><%= mail_to content_item.email, content_item.email %></p>
  <% end %>

  <% if content_item.postal_address %>
    <h3><%= t("formats.#{content_item.schema_name}.write_to") %></h3>
    <div class="contact">
      <div class="content">
        <%= simple_format(content_item.postal_address) %>
      </div>
    </div>
  <% end %>
<% end %>
