<div class="find-nearest">
  <form method="post" id="local-locator-form" class="find-location-for-<%= format %>">
    <fieldset>

      <legend class="visuallyhidden">Postcode lookup</legend>
      <% if @edition %>
        <input type="hidden" name="edition" value="<%= @edition %>">
      <% end %>
      <div class="location_error error-notification hidden"></div>

      <div class="ask_location <%= geo_known_to_at_least?('ward') ? 'hidden' : '' %>">
        <label for="postcode">Enter a UK postcode <input class="postcode" id="postcode" name="postcode" type="text" placeholder="e.g. SW1A 2AA"></label>
        <input type="submit" value="Find" class="button">
      </div>

      <div class="finding_location hidden">
        <p>Locating you&hellip;</p>
      </div>
      <div class="found_location <%= geo_known_to_at_least?('ward') ? '' : 'hidden' %>">
        <p class="friendly-name">Your location is set to <strong><%= geo_header['friendly_name'] if geo_known_to_at_least?('ward') %></strong>.<br/><a class="change-location" href="<%= publication_path(@publication.slug) %>"><%= "Change your location".html_safe %></a></p>
      </div>
    </fieldset>
  </form>
</div>
