<div class="meta-data">
  <% if artefact.present? && (contact = artefact.contact).present? %>
    <%= render 'contact_details.html', :contact => contact %>
  <% end %>

  <% if publication.updated_at %>
  <p class="modified-date">Last updated: <%= publication.updated_at.to_formatted_s(:short_ordinal) %></p>
  <% end %>

  <% unless api_links.blank? %>
  <p>Re-use this data:</p>
  
  <ul class="api-links">
    <% api_links.each do |format, url| %>
      <%= content_tag :li, link_to(format.to_s.upcase, url), :class => format %>
    <% end %>
  </ul>
  <% end %>                           
  
  <% if [:programme].include? publication.type.to_sym %>
    <p class="print-link"><%= link_to "Print this benefit", publication_path(publication.slug, :part => 'print') %></p>
  <% end %>
  <% if [:guide].include? publication.type.to_sym %>
    <p class="print-link"><%= link_to "Print this guide", publication_path(publication.slug, :part => 'print') %></p>
  <% end %>
</div>
