<div class="meta-data group">
  <div class="inner">
    <% if publication.updated_at %>
      <p class="modified-date">Last updated: <%= publication.updated_at.to_formatted_s(:short_ordinal) %></p>
    <% end %>
    <% if [:programme, :guide].include? publication.type.to_sym %>
      <p class="print-link"><%= link_to "Print this guide", publication_path(publication.slug, :part => 'print') %></p>
    <% end %>
  </div>
</div>

<% content_for :extra_headers do %>
  <% if api_links.any? %>
    <% api_links.each do |type, href| %>
      <link rel="alternate" type="<%= type %>" href="<%= href %>">
    <% end %>
  <% end %>
  <% unless params[:format] && params[:format] == :video %>
    <%= tag("link", :rel => "canonical", :href => guide_path(@guide.slug, params[:part]) %>
  <% end %>  
<% end %>
