<% if presenter.before_you_start? %>
  <div id="before-you-start">
    <h1><%= t 'formats.transaction.before_you_start' %></h1>

    <%= raw transaction.more_information %>
  </div>
<% end %>

<% if presenter.what_you_need_to_know? %>
  <div id="what-you-need-to-know">
    <h1><%= t 'formats.transaction.what_you_need_to_know' %></h1>
    <%= render :partial => 'transaction_expectations', :locals => { :transaction => transaction } %>
  </div>
<% end %>

<% if presenter.other_ways_to_apply? %>
  <div id="other-ways-to-apply">
    <h1><%= t 'formats.transaction.other_ways_to_apply' %></h1>
    <%= raw transaction.alternate_methods %>
  </div>
<% end %>
