<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
      <h1><span>Quick answer</span> <%= @publication.title %></h1>
    </hgroup>
  </header>

  <div class="article-container group">
    <article role="article" class="group">

      <div class="inner">
        
        <section class="intro">
          <div class="get-started-intro"><%= to_govspeak(@publication.short_description) %></div>
          <p id="get-started" class="get-started group">
            <a href="<%= @publication.continuation_link %>" rel="external" class="button" target="_blank">
              <span class="button-content"><span class="call-to-action">Get started</span> <!-- this space is important --><%
                if @publication.will_continue_on.present?
                  %><span class="destination">on the <%= @publication.will_continue_on %></span><%
                end
              %></span>
            </a>
          </p>
        </section>
        
        <section class="more">

          <nav class="js-tabs nav-tabs" role="navigation">
            <ul>
              <li class="active"><a href="#what-you-need-to-know">What you need to know</a></li>
              <li><a href="#additional-information">Additional information</a></li>
            </ul>
          </nav>

          <div class="js-tab-content tab-content">

            <article class="js-tab-pane tab-pane what-you-need-to-know" id="what-you-need-to-know">
              <p>To be elligible for this support, your business must fit into the following categories:</p>
              <% if @publication.organiser.present? -%>
                <section>
                  <h2>Organiser</h2>
                  <div class="support-detail">
                    <%= @publication.organiser %>
                  </div>  
                </section>
              <% end -%>
              <% if @publication.max_value.present? and @publication.max_value > 0 %>
                <section>
                  <h2>Grant value</h2>
                  <div class="support-detail">&pound;<%= 
                    @publication.min_value == 0 ? '1' : @publication.min_value 
                  %> - &pound;<%= @publication.max_value %></div>  
                </section>
              <% end %>
              <% if @publication.max_employees.present? %>
                <section>
                  <h2>Maximum employees</h2>
                  <div class="support-detail"><%= @publication.max_employees %></div>
                </section>
              <% end %>
              <% if @publication.eligibility.present? %>
                <section>
                  <h2>Eligibility</h2>
                  <div class="support-detail"><%= to_govspeak(@publication.eligibility) %></div>
                  </section>
              <% end %>
              <% if @publication.evaluation.present? %>
                <section>
                  <h2>Evaluation</h2>
                  <div class="support-detail"><%= to_govspeak(@publication.evaluation) %></div>
                </section>
              <% end %>
              <% if @publication.additional_information.present? %>
                <section>
                  <h2>Additional information</h2>
                  <div class="support-detail"><%= to_govspeak(@publication.additional_information) %></div>
                </section>
              <% end %>
              <% if @publication.contact_details.present? %>
                <section class="last">
                  <h2>Contact details</h2>
                  <div class="support-detail"><%= to_govspeak(@publication.contact_details) %></div>
                </section>  
              <% end %>
            </article>

            <article class="js-tab-pane tab-pane" id="additional-information">
              <section class="long-description">
                <%= to_govspeak(@publication.body) %>
              </section>
            </article>
          </div>
        </section>
      </div>
    </article>
    
    <%= render 'publication_metadata', :publication => @publication, :artefact => @artefact, :api_links => { 'application/json' => publication_path(@publication.slug, :edition => @edition, :format => :json) } %>
  </div>

</section>
