<header>
  <h1><%= @guide.title %>, a guide from GOV.UK</h1>
  <p>Notes</p>
</header>

<% @guide.parts.each do |part| %>
<article id="<%= part.slug %>">
  <header>
    <h1>Part <%= part_number(@guide.parts, part) %>: <%= part.title %></h1>
  </header>

  <%= to_govspeak(part.body) %>
</article>
<% end %>

<%= render 'publication_metadata.html', :publication => @guide, :artefact => @artefact, :api_links => { 'application/json' => publication_path(@guide.slug, :edition => @edition, :format => :json) } %>

