<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
      <h1><span>Guide to </span><%= @guide.title %></h1>
    </hgroup>
  </header>

	<div class="article-container group">
    <article role="article" class="group">
      <div class="inner">

				<div class="view-text-version">
					<p>This is a video guide to <%= @guide.title %>. You can also <a href="<%= publication_path(@guide.slug,:edition=>@edition) %>">read the text version</a></p>
				</div>

				<div class="summary">
					<p><%= @guide.video_summary %></p>
				</div>

        <% video = @guide.video_url.scan(/\?v=([A-Za-z0-9_\-]+)/) %>
        <% if video[0] %>
          <figure class="media-player-wrapper" id="video" style="margin: 0 20px;">
            <a href="http://www.youtube.com/watch?v=<%=video[0][0]%>">Watch <%= @guide.title %></a>
          </figure>
        <% end %>

      </div>
    </article>

		<div class="meta-data">
			<p class="modified-date">Last updated: <%= @guide.updated_at.to_formatted_s(:short_ordinal) %></p>
		</div>

	</div>

</section>

<!-- related -->
<div class="related-positioning">
	<div class="related-container">
   		<div class="related">
		     <div class="inner group">
		       <h2>Related tools &amp; topics</h2>
		       <nav role="navigation">
		         <ul>
               <%= (@guide.related_items || "").html_safe %>
               <% if @guide.section %>
                 <li class="related-topic"><a href="/<%= @guide.section.parameterize %>">View more in <span><%= @guide.section %>&rarr;</span></a></li>
               <% end %>
		         </ul>
		       </nav>
		     </div>
	   </div>
	</div>
</div>
<!-- end related -->
<% content_for :extra_javascript do %>
  <%= javascript_include_tag '/javascripts/media-player/swfobject/swfobject.js', '/javascripts/media-player/jquery.player.min.js', '/javascripts/media-player/jquery.loader.js', :defer => 'defer' %>
<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag '/stylesheets/media-player/player-core.css', '/stylesheets/media-player/player-theme.css' %>
<% end %>