<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
      <h1><span>Guide</span> <%= @publication.title %></h1>
    </hgroup>
  </header>

	<div class="article-container group">
    <article role="article" class="group">
      <div class="inner">

	<div class="summary">
		<p><%= @publication.video_summary %></p>
	</div>


        <% if video_embed_url(@publication) %>
          <figure class="media-player-wrapper" id="video">
            <a href="<%= video_embed_url(@publication) %>">Watch <%= @publication.title %></a>
          </figure>
        <% end %>

	<div class="application-notice info-notice">
		<p>This is the video version of this guide. You can also <a href="<%= publication_path(@publication.slug,:edition=>@edition) %>">read the text version</a>.</p>
	</div>
	<p class="beta-notice">
		These video guides are an experiment, and are very early prototypes. We hope they’ll help people with reading difficulties. We’d love your <a href="/feedback">feedback</a> on how you think they’re working.
	<p/>
      </div>
    </article>

		<div class="meta-data">
			<p class="modified-date">Last updated: <%= @publication.updated_at.to_formatted_s(:short_ordinal) %></p>
		</div>

	</div>

</section>

<div id="related-items"></div>

<% content_for :extra_javascript do %>
  <%= javascript_include_tag 'media-player.js', :defer => 'defer' %>
<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'media-player.css' %>
<% end %>