<header>
  <h1><%= @publication.title %>, a guide from GOV.UK</h1>
  <p>Notes</p>
</header>

<% @publication.parts.each do |part| %>
<article id="<%= part.slug %>">
  <header>
    <h1>Part <%= part_number(@publication.parts, part) %>: <%= part.title %></h1>
  </header>

  <%= raw part.body %>
</article>
<% end %>

<%= render partial: 'publication_metadata', locals: {:publication => @publication, :artefact => @artefact, :api_links => { 'application/json' => publication_api_path(@publication, :edition => @edition) }}, formats: ["html"] %>

