<% content_for :extra_javascript do %>
	<%= javascript_include_tag 'trackers/guide.js', :defer=>"defer" %>
<% end %>
<section id="content" role="main" class="group">

	<header class="page-header group">
		<hgroup>
			<h1><span>Guide to </span><%= @guide.title %></h1>
		</hgroup>
		<% if ! @guide.video_url.blank? %>
		<div class="alternative-guide video">
		  <%video_id = @guide.video_url.scan(/\?v=([A-Za-z0-9_\-]+)/) %>
      <a href="<%= guide_path(@guide.slug, 'video',@edition) %>#video"><div class="video-wrapper"><img src="http://img.youtube.com/vi/<%=video_id[0][0]%>/1.jpg" width="120" height="96" alt=""></div><span>Watch <span class="visuallyhidden">the</span> video <span class="visuallyhidden">version of this</span> guide</span></a>
		</div>
		<% end %>
	</header>

	<div class="article-container group">

   <aside>
     <div class="inner">

       <nav role="navigation" class="chapters-navigation">
         <ol>
           <% @guide.parts.each do |nav_part| %>
           <li <% if @part == nav_part %>class="active"<% end %>>
             <a href="<%= guide_path(@guide.slug, nav_part.slug,@edition) %>" title="Part <%= part_number(@guide.parts, nav_part) %>: <%= nav_part.title %>">
               <span class="part-label">Part <%= part_number(@guide.parts, nav_part) %><span class="visuallyhidden">:</span></span> <span class="part-title"><%= nav_part.title %></span>
             </a>
           </li>
           <% end %>
         </ol>
       </nav>

     </div>
   </aside>

   <article role="article" class="group">
     <div class="inner">

       <header>
         <h1><span>Part <%= part_number(@guide.parts, @part) %><span class="visuallyhidden">:</span> </span><%= @part.title %></h1>
       </header>

       <%= to_govspeak(@part.body) %>

       <footer>
 	      <nav class="pagination" role="navigation">
           <ul class="group">
          <%- if @guide.has_parts?(@part) -%>
   	        <%- if @guide.has_previous_part?(@part) -%>
   	          <li class="previous">
  							<a href="<%= guide_path(@guide.slug, @guide.part_before(@part).slug,@edition) %>" title="Navigate to previous part" rel="prev">
  							  <span class="pagination-label">&larr; Part <%= part_number(@guide.parts, @guide.part_before(@part)) %></span> <%= (@guide.part_before(@part).title) %></a>
                </li>
              <%- else -%>
                <li class="first">
                  You are at the beginning of this guide
                </li>
   	        <%- end -%>
   	        <%- if @guide.has_next_part?(@part) -%>
  						<li class="next">
  							<a href="<%= guide_path(@guide.slug, @guide.part_after(@part).slug,@edition) %>" title="Navigate to next part" rel="next"><span class="pagination-label">Next part (<%= part_number(@guide.parts, @guide.part_after(@part)) %> of <%= @guide.parts.length %>) &rarr;</span> <%= (@guide.part_after(@part).title) %></a>
                  </li>
              <%- else -%>
                <li class="last">
                  You have reached the end of this guide
                </li>
   	        <%- end -%>
   	      <%- else -%>
   	        <li class="last">
   	          You have reached the end of this guide
   	        </li>
   	      <%- end -%>
 	      </nav>
       </footer>

     </div>
   </article>

    <%= render 'publication_metadata', :publication => @guide, :artefact => @artefact, :api_links => { :json => publication_path(@guide.slug, :edition => @edition, :format => :json) } %>
	</div>

</section>

<!-- related -->
<div class="related-positioning">
	<div class="related-container">
 		<div class="related">
	     <div class="inner group">
	       <h2>Related tools &amp; topics</h2>
	       <nav role="navigation">
	         <ul>
              <%= (@guide.related_items || "").html_safe %>
              <% if @guide.section %>
                <li class="related-topic"><a href="/<%= @guide.section.parameterize %>">View more in <span><%= @guide.section %>&rarr;</span></a></li>
              <% end %>
	         </ul>
	       </nav>
	     </div>
		</div>
	</div>
</div>
<!-- end related -->

<% content_for :extra_headers do %>
  <%- if @guide.has_previous_part?(@part) -%>
    <link rel="prev" href="<%= guide_path(@guide.slug, @guide.part_before(@part).slug,@edition) %>" />
  <%- end -%>
  <%- if @guide.has_next_part?(@part) -%>
    <link rel="next" href="<%= guide_path(@guide.slug, @guide.part_after(@part).slug,@edition) %>" />
  <%- end -%>
<% end %>
