<section id="content" role="main" class="group">

  <header class="group">
   <hgroup>
     <h1><span>Guide to </span><%= @guide.title %></h1>
   </hgroup>
   <% if ! @guide.video_url.blank? %>
	<div class="alternative-guide video">
	  <%video_id = @guide.video_url.scan(/\?v=([A-Za-z0-9_\-]+)/) %>
		<a href="<%= guide_path(@guide.slug, 'video',@edition) %>" title="Watch the video version"><img src="http://img.youtube.com/vi/<%=video_id[0][0]%>/1.jpg" width="96" height="48" alt="Watch the video version of this guide"></a>
	</div>
	<% end %>
  </header>

	<div class="article-container group">

   <aside role="navigation">
     <div class="inner">

       <nav class="chapters-navigation">
         <ol>
           <% @guide.parts.each do |nav_part| %>
           <li <% if @part == nav_part %>class="active"<% end %>>
             <a href="<%= guide_path(@guide.slug, nav_part.slug,@edition) %>" title="Part <%= part_number(@guide.parts, nav_part) %>: <%= nav_part.title %>">
               <span class="part-label">Part <%= part_number(@guide.parts, nav_part) %><span class="visuallyhidden">:</span></span> <span class="part-title"><%= nav_part.title %></span>
             </a>
           </li>
           <% end %>
         </ol>
       </nav>

			<div class="meta-data">
				<p class="modified-date">Last updated: <%= @guide.updated_at.to_formatted_s(:short_ordinal) %></p>

				<p>Re-use this data:</p>
  				<ul class="api-links">
            <li class="json"><a href="<%= publication_path(@guide.slug,:edition=>@edition,:format=>:json) %>">JSON</a></li>
          </ul>
			</div>

     </div>
   </aside>

   <article role="article" class="group">
     <div class="inner">

       <header>
         <h1><span>Part <%= part_number(@guide.parts, @part) %><span class="visuallyhidden">:</span> </span><%= @part.title %></h1>
       </header>

       <%= to_govspeak(@part.body) %>

       <footer>
 	      <nav class="pagination" role="navigation">
           <ul class="group">
 	        <%- if @guide.has_previous_part?(@part) -%>
 	          <li class="previous" rel="previous">
							<a href="<%= guide_path(@guide.slug, @guide.part_before(@part).slug,@edition) %>" title="Navigate to previous part">
							  <span class="pagination-label">&larr; Part <%= part_number(@guide.parts, @guide.part_before(@part)) %></span> <%= (@guide.part_before(@part).title) %></a>
              </li>
            <%- else -%>
              <li class="first" rel="previous">
                You are at the beginning of this guide
              </li>
 	        <%- end -%>
 	        <%- if @guide.has_next_part?(@part) -%>
						<li class="next" rel="next">
							<a href="<%= guide_path(@guide.slug, @guide.part_after(@part).slug,@edition) %>" title="Navigate to next part"><span class="pagination-label">Next part (<%= part_number(@guide.parts, @guide.part_after(@part)) %> of <%= @guide.parts.length %>) &rarr;</span> <%= (@guide.part_after(@part).title) %></a>
                </li>
            <%- else -%>
              <li class="last" rel="next">
                You have reached the end of this guide
              </li>
 	        <%- end -%>
 	      </nav>
       </footer>

     </div>
   </article>

	</div>

</section>

<!-- related -->
<div class="related-positioning">
	<div class="related-container">
 		<div class="related">
	     <div class="inner group">
	       <h2>Related tools &amp; topics</h2>
	       <nav role="navigation">
	         <ul>
              <%= (@guide.related_items || "").html_safe %>
              <% if @guide.section %>
                <li class="related-topic"><a href="/<%= @guide.section.parameterize %>">View more in <span><%= @guide.section %>&rarr;</span></a></li>
              <% end %>
	         </ul>
	       </nav>
	     </div>
		</div>
	</div>
</div>
<!-- end related -->