<section id="content" role="main" class="group">

  <header class="group">
    <hgroup>
      <h1><span>Guide to </span><%= @guide.title %></h1>
    </hgroup>
		<div class="alternative-guide text">
			<a href="<%= publication_path(@guide.slug,:edition=>@edition) %>"><span>Read text version</span></a>
		</div>
  </header>

	<div class="article-container group">
    <article role="article" class="group">
      <div class="inner">

				<div class="summary">
					<p><%= @guide.video_summary %></p>
				</div>

        <% video = @guide.video_url.scan(/\?v=([A-Za-z0-9_\-]+)/) %>
        <% if video[0] %>
          <iframe frameborder="0" type="text/html" style="width:640px; height:385px;" src="http://www.youtube.com/embed/<%= video[0][0] %>"></iframe>
        <% end %>

      </div>
    </article>

		<div class="meta-data">
			<p class="modified-date">Last updated: <%= @guide.updated_at.to_formatted_s(:short_ordinal) %></p>
		</div>

	</div>

</section>

<!-- related -->
<div class="related-positioning">
	<div class="related-container">
   		<div class="related">
		     <div class="inner group">
		       <h2>Related tools &amp; topics</h2>
		       <nav role="navigation">
		         <ul>
               <%= (@guide.related_items || "").html_safe %>
               <% if @guide.section %>
                 <li class="related-topic"><a href="/<%= @guide.section.parameterize %>">View more in <span><%= @guide.section %>&rarr;</span></a></li>
               <% end %>
		         </ul>
		       </nav>
		     </div>
	   </div>
	</div>
</div>
<!-- end related -->
