<% content_for :extra_headers do %>
<link rel="canonical" href="<%= root_path %>" />
<meta name="description" content="GOV.UK - The new place to find government services and information replacing Directgov and Business Link - Simpler, clearer, faster" />
<% end %>
<% content_for :title, "Welcome to GOV.UK" %>
<% content_for :body_classes, "homepage" %>

<main id="content" class="root-index" role="main">
  <header class="homepage-top">
    <div class="homepage-top-inner">

      <div class="welcome-block">
        <div class="inner-block floated-children">
          <div class="welcome-text">
            <div class="floated-inner-block">
              <h1>Welcome to GOV.UK</h1>
              <p>The best place to find government services and information</p>
              <p class="simpler">Simpler, clearer, faster</p>

              <form id="header-search" class="site-search" action="/search" method="get" role="search">
                <div class="header-search-content">
                  <label for="site-search-text">Search GOV.UK</label>
                  <input type="search" name="q" id="header-search-text" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
                </div>
              </form>
            </div>
          </div>
          <div class="content-links">
            <div class="floated-inner-block content-links-inner">
              <h2>Contents</h2>
              <ul>
                <li><a href="#services-and-information">Services and information</a></li>
                <li><a href="#departments-and-policy">Departments and policy</a></li>
                <li><a href="#active-content">What people are viewing on GOV.UK</a></li>
                <li><a href="#more-on-govuk">More on GOV.UK</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="homepage" class="homepage-content">
    <div class="homepage-content-inner">

      <section class="services-block" id="services-and-information">
        <div class="inner-block floated-children">
          <div class="replaces">
            <p>This website replaces</p>
            <ul>
              <li><%= image_tag 'homepage/directgov-logo-2x.png', :alt => 'Directgov', :width => '105', :height => '20' %></li>
              <li><%= image_tag 'homepage/businesslink-logo-2x.png', :alt => 'Businesslink', :width => '75', :height => '30' %></li>
            </ul>
          </div>
          <div class="two-column-heading">
            <h2>Services and information</h2>
          </div>
          <ul class="categories-list">
            <li>
              <h2><a href="/browse/driving">Driving and transport</a></h2>
              <p>Includes car tax, MOT and driving licences</p>
            </li>
            <li>
              <h2><a href="/browse/benefits">Benefits</a></h2>
              <p>Includes tax credits, eligibility and appeals</p>
            </li>
            <li>
              <h2><a href="/browse/business">Businesses and self-employed</a></h2>
              <p>Tools and guidance for businesses</p>
            </li>
            <li class="nth-child">
              <h2><a href="/browse/employing-people">Employing people</a></h2>
              <p>Includes pay, contracts and hiring</p>
            </li>
            <li>
              <h2><a href="/browse/abroad">Passports, travel and living abroad</a></h2>
              <p>Includes renewing passports and travel advice by country</p>
            </li>
            <li>
              <h2><a href="/browse/education">Education and learning</a></h2>
              <p>Includes student loans and admissions</p>
            </li>
            <li class="nth-child">
              <h2><a href="/browse/working">Working, jobs and pensions</a></h2>
              <p>Includes holidays and finding a job</p>
            </li>
            <li>
              <h2><a href="/browse/housing">Housing and local services</a></h2>
              <p>Owning or renting and council services</p>
            </li>
            <li>
              <h2><a href="/browse/justice">Crime, justice and the law</a></h2>
              <p>Legal processes, courts and the police</p>
            </li>
            <li class="nth-child">
              <h2><a href="/browse/tax">Money and tax</a></h2>
              <p>Includes debt and Self Assessment</p>
            </li>
            <li>
              <h2><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></h2>
              <p>Parenting, civil partnerships, divorce and Lasting Power of Attorney</p>
            </li>
            <li>
              <h2><a href="/browse/disabilities">Disabled people</a></h2>
              <p>Includes carers, your rights, benefits and the Equality Act</p>
            </li>
            <li class="nth-child">
              <h2><a href="/browse/citizenship">Citizenship and living in the UK</a></h2>
              <p>Voting, community participation, life in the UK, international projects</p>
            </li>
          </ul>
        </div>
      </section>

      <hr id="departments-and-policy" />
  
      <section class="departments-and-policy">
        <div class="inner-block floated-children">
          <div class="single-column-heading">
            <h2>Departments and&nbsp;policy</h2>
          </div>
          <div class="departments-intro">
            <div class="floated-inner-block">
              <p>
                The websites of all <a href="/government/organisations">government
                departments</a> and many other agencies and public bodies are
                being merged into GOV.UK.
              </p>
              <p>
                Here you can see all their <a href="/government/policies">policies</a>,
                <a href="/government/announcements">announcements</a>,
                <a href="/government/publications">publications</a>,
                <a href="/government/publications?publication_filter_option=statistics">statistics</a>
                and <a href="/government/publications?publication_filter_option=consultations">consultations</a>.
              </p>
            </div>
          </div>
          <div class="large-numbers">
            <ol>
              <li><a href="/government/organisations"><strong>24</strong> Ministerial departments</a></li>
              <li><a href="/government/organisations"><strong>334</strong> Other agencies and public&nbsp;bodies</a></li>
              <li><a href="/government/topics"><strong>72</strong> Topics</a></li>
              <li><a href="/government/policies"><strong>223</strong> Policies</a></li>
            </ol>
          </div>

          <div class="departments-promo-sections">
            <article class="promo-image">
              <div class="promo-content">
                <%= image_tag 'homepage/cabinet-office.jpg', alt: '' %>
                <h3>How government works</h3>
                <p>
                  In the UK, the Prime Minister leads the government with the
                  support of the cabinet and ministers. You can find out who runs
                  government and how government is run, as well as learning about
                  the history of government.
                </p>
                <p><a href="/government/how-government-works">Read more</a></p>
              </div>
            </article>
            <article class="promo-image">
              <div class="promo-content">
                <%= image_tag 'homepage/library-girl.jpg', alt: '' %>
                <h3>Get involved</h3>
                <p>
                  Find out how you can engage with government directly, and take
                  part locally, nationally or internationally. You can also read
                  policies about how government is increasing participation.
                </p>
                <p><a href="/government/get-involved">Read more</a></p>
              </div>
            </article>
            <article class="promo-image">
              <div class="promo-content">
                <%= image_tag 'homepage/worldwide.jpg', alt: '' %>
                <h3>Worldwide</h3>
                <p>
                  Find out what the UK government is doing in over 200 world
                  locations. You can read the priorities for each location and
                  get embassy information and contact details.
                </p>
                <p><a href="/government/world">Read more</a></p>
              </div>
            </article>
          </div>
        </div>
      </section>

      <hr id="active-content" />

      <section class="popular-content">
        <div class="inner-block floated-children">
          <div class="single-column-heading">
            <h2>What people are viewing on GOV.UK</h2>
          </div>
          <article class="promo-image">
            <div class="promo-content">
              <%= image_tag 'homepage/tax-credits.jpg', :alt => "The tax credits deadline is 31 July 2013" %>
              <h3>Tax credits</h3>
              <p>Time is running out.<br />Don't miss the 31 July deadline.<br />Renew your tax credits today.</p>
              <p><a href="/renewing-your-tax-credits-claim">Find out more on tax credit renewals</a></p>
            </div>
          </article>
          <div class="most-active">
            <div class="floated-inner-block">
              <h3>Most active</h3>
              <ol class="most-active-content">
                <li><span>1</span> <a href="/jobsearch">Universal Jobmatch job search</a></li>
                <li><span>2</span> <a href="/student-finance-register-login">Log in to student finance</a></li>
                <li><span>3</span> <a href="/passport-fees">Passport fees</a></li>
                <li><span>4</span> <a href="/jobseekers-allowance">Jobseeker's Allowance</a></li>
                <li><span>5</span> <a href="/council-tax-bands">Council Tax bands</a></li>
                <li><span>6</span> <a href="/running-a-limited-company">Running a limited company</a></li>
                <li><span>7</span> <a href="/book-a-driving-theory-test">Driving theory test</a></li>
                <li><span>8</span> <a href="/calculate-vehicle-tax-rates">Car tax rates</a></li>
                <li><span>9</span> <a href="/tax-disc">Get a car tax disc</a></li>
                <li><span>10</span> <a href="/vat-rates">VAT rates</a></li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <hr id="more-on-govuk" />

      <section class="more-on-govuk">
        <div class="inner-block floated-children">
          <h2>More on GOV.UK</h2>
          <article class="content-promo">
            <div class="floated-inner-block">
              <h3><a href="/service-manual">Service Design Manual</a></h3>
              <p>From April 2014, digital services from the government must meet the new Digital by Default Service Standard.</p>
            </div>
          </article>
          <article class="content-promo">
            <div class="floated-inner-block">
              <h3><a href="/performance">Performance Platform</a></h3>
              <p>Government handles over one and a half billion transactions
              every year, allowing the exchange of information, money,
              permission, goods and services. We’re using data to improve
              them.</p>
            </div>
          </article>
          <article class="content-promo clear-promo">
            <div class="floated-inner-block">
              <h3><a href="http://publications.cabinetoffice.gov.uk/digital/">Government Digital Strategy</a></h3>
              <p>The Government Digital Strategy sets out how government will
              redesign its digital services to make them so straightforward and
              convenient that all those who can use them prefer to do so.</p>
            </div>
          </article>
          <article class="content-promo">
            <div class="floated-inner-block">
              <h3><a href="http://transactionsexplorer.cabinetoffice.gov.uk/">Transactions Explorer</a></h3>
              <p>This is an &lsquo;alpha&rsquo; release of data about the
              government's transactional services. The data is intended as an
              overview, showing the breadth of services that departments,
              agencies and other public bodies provide.</p>
            </div>
          </article>
        </div>
      </section>

    </div>
  </div>
</main>
