<% content_for :extra_headers do %>
<link rel="canonical" href="<%= root_path %>" />
<meta name="description" content="GOV.UK - The new place to find government services and information replacing Directgov and Business Link - Simpler, clearer, faster" />
<% end %>
<% content_for :title, "Welcome to GOV.UK" %>
<% content_for :body_classes, "homepage" %>

<%= render :partial => "campaign_notification" %>
<main id="content" class="root-index" role="main" tabindex="-1">
  <header class="homepage-top">
    <div class="homepage-top-inner">

      <div class="welcome-block">
        <div class="inner-block floated-children">
          <div class="welcome-text">
            <div class="floated-inner-block">
              <h1>Welcome to GOV.UK</h1>
              <p>The best place to find government services and information</p>
              <p class="simpler">Simpler, clearer, faster</p>

              <form id="header-search" class="site-search" action="/search" method="get" role="search">
                <div class="header-search-content">
                  <label for="search-main">Search GOV.UK</label>
                  <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
                </div>
              </form>
            </div>
          </div>
          <div class="content-links">
            <div class="floated-inner-block content-links-inner">
              <h2>Contents</h2>
              <ul>
                <li><a href="#services-and-information">Services and information</a></li>
                <li><a href="#departments-and-policy">Departments and policy</a></li>
                <li><a href="#more-on-govuk">More on GOV.UK</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="homepage" class="homepage-content">
    <div class="homepage-content-inner">

      <section class="services-block" aria-labelledby="services-and-information-label" id="services-and-information">
        <div class="inner-block floated-children">
          <div class="replaces">
            <p>This website replaces</p>
            <ul>
              <li><%= image_tag 'homepage/directgov-logo-2x.png', :alt => 'Directgov', :width => '105', :height => '20' %></li>
              <li><%= image_tag 'homepage/businesslink-logo-2x.png', :alt => 'Businesslink', :width => '75', :height => '30' %></li>
            </ul>
          </div>
          <div class="two-column-heading">
            <h2 id="services-and-information-label">Services and information</h2>
          </div>
          <ul class="categories-list">
            <li>
              <h2><a href="/browse/driving">Driving and transport</a></h2>
              <p>Includes car tax, MOT and driving licences</p>
            </li>
            <li>
              <h2><a href="/browse/benefits">Benefits</a></h2>
              <p>Includes tax credits, eligibility and appeals</p>
            </li>
            <li>
              <h2><a href="/browse/business">Business and self-employed</a></h2>
              <p>Tools and guidance for businesses</p>
            </li>
            <li class="nth-child">
              <h2><a href="/browse/employing-people">Employing people</a></h2>
              <p>Includes pay, contracts and hiring</p>
            </li>
            <li>
              <h2><a href="/browse/abroad">Passports, travel and living abroad</a></h2>
              <p>Includes renewing passports and travel advice by country</p>
            </li>
            <li>
              <h2><a href="/browse/education">Education and learning</a></h2>
              <p>Includes student loans and admissions</p>
            </li>
            <li class="nth-child">
              <h2><a href="/browse/working">Working, jobs and pensions</a></h2>
              <p>Includes holidays and finding a job</p>
            </li>
            <li>
              <h2><a href="/browse/housing">Housing and local services</a></h2>
              <p>Owning or renting and council services</p>
            </li>
            <li>
              <h2><a href="/browse/justice">Crime, justice and the law</a></h2>
              <p>Legal processes, courts and the police</p>
            </li>
            <li class="nth-child">
              <h2><a href="/browse/tax">Money and tax</a></h2>
              <p>Includes debt and Self Assessment</p>
            </li>
            <li>
              <h2><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></h2>
              <p>Parenting, civil partnerships, divorce and Lasting Power of Attorney</p>
            </li>
            <li>
              <h2><a href="/browse/disabilities">Disabled people</a></h2>
              <p>Includes carers, your rights, benefits and the Equality Act</p>
            </li>
            <li class="nth-child">
              <h2><a href="/browse/citizenship">Citizenship and living in the UK</a></h2>
              <p>Voting, community participation, life in the UK, international projects</p>
            </li>
            <li>
              <h2><a href="/visas-immigration">Visas and immigration</a></h2>
              <p>Visas, asylum and sponsorship</p>
            </li>
          </ul>
        </div>
      </section>

      <hr id="departments-and-policy" />

      <section class="departments-and-policy" aria-labelledby="departments-and-policy-label">
        <div class="inner-block floated-children">
            <h2 id="departments-and-policy-label" class="visuallyhidden">Departments and&nbsp;policy</h2>
          <div class="large-numbers">
            <ol>
              <li><a href="/government/organisations"><strong>24</strong> Ministerial departments</a></li>
              <li><a href="/government/organisations"><strong>331</strong> Other agencies and public&nbsp;bodies</a></li>
            </ol>
          </div>
          <div class="departments-intro">
            <div class="floated-inner-block">
              <p>
                The websites of all <a href="/government/organisations">government
                departments</a> and many other agencies and public bodies are
                being merged into GOV.UK.
              </p>
              <p>
                Here you can see all <a href="/government/policies">policies</a>,
                <a href="/government/announcements">announcements</a>,
                <a href="/government/publications">publications</a>,
                <a href="/government/publications?publication_filter_option=statistics">statistics</a>
                and <a href="/government/publications?publication_filter_option=consultations">consultations</a>.
              </p>
            </div>
          </div>

          <div class="departments-promo-sections">
            <article class="promo-image">
              <div class="promo-content">
                <a href="/government/how-government-works"><%= image_tag 'homepage/cabinet-office.jpg', alt: 'How government works' %></a>
                <h3 id="how-government-works-label">How government works</h3>
                <p>
                  In the UK, the Prime Minister leads the government with the
                  support of the cabinet and ministers. You can find out who runs
                  government and how government is run, as well as learning about
                  the history of government.
                </p>
                <p><a href="/government/how-government-works" aria-describedby="how-government-works-label">Read more</a></p>
              </div>
            </article>
            <article class="promo-image">
              <div class="promo-content">
                <a href="/government/news/uk-floods-2014-government-response"><%= image_tag 'homepage/uk-storm.jpg', alt: 'Winter storms and floods' %></a>
                <h3 id="winter-floods-label">Winter floods</h3>
                <p>
                  Get the latest information and advice from government about the floods and storms causing disruption across the UK. Find out about help available to communities and how to prepare for severe weather.
                </p>
                <p><a href="/government/news/uk-floods-2014-government-response" aria-describedby="winter-floods-label">Find out more</a></p>
              </div>
            </article>
            <article class="promo-image">
              <div class="promo-content">
                <a href="/government/world"><%= image_tag 'homepage/worldwide.jpg', alt: 'Worldwide' %></a>
                <h3 id="worldwide-label">Worldwide</h3>
                <p>
                  Find out what the UK government is doing in over 200 world
                  locations. You can read the priorities for each location and
                  get embassy information and contact details.
                </p>
                <p><a href="/government/world" aria-describedby="worldwide-label">See all locations</a></p>
              </div>
            </article>
          </div>
        </div>
      </section>

      <hr id="more-on-govuk" />

      <section class="popular-content" aria-labelledby="more-on-govuk-label">
        <div class="inner-block floated-children">
          <div class="single-column-heading">
            <h2 id="more-on-govuk-label">More on GOV.UK</h2>
          </div>
          <div class="most-active">
            <div class="floated-inner-block">
              <h3>Most active</h3>
              <ul class="most-active-content">
                <li><a href="/jobsearch">Universal Jobmatch job search</a></li>
                <li><a href="/student-finance-register-login">Log in to student finance</a></li>
                <li><a href="/passport-fees">Passport fees</a></li>
                <li><a href="/jobseekers-allowance">Jobseeker's Allowance</a></li>
                <li><a href="/council-tax-bands">Council Tax bands</a></li>
                <li><a href="/running-a-limited-company">Running a limited company</a></li>
                <li><a href="/book-a-driving-theory-test">Driving theory test</a></li>
                <li><a href="/calculate-vehicle-tax-rates">Car tax rates</a></li>
                <li><a href="/tax-disc">Get a car tax disc</a></li>
                <li><a href="/vat-rates">VAT rates</a></li>
              </ul>
            </div>
          </div>
          <article class="promo-image" id='promo'>
            <div class="promo-content">
              <a href="/auto-enrolled-into-workplace-pension"><%= image_tag 'homepage/workplace-pensions-promo.jpg', :alt => "Workplace pension enrollment" %></a>
              <h3 id="promo-label">Workplace pensions</h3>
              <p>Find out <a href= '/auto-enrolled-into-workplace-pension' aria-describedby="promo-label">when you'll be automatically enrolled in a workplace pension</a> to help you save for your retirement.</p>
            </div>
          </article>
        </div>
      </section>
    </div>
  </div>
</main>
<% # This is for JS/non-JS tracking purposes %>
<%= image_tag "homepage/no-cache/base-js.gif", :alt => "", :role => "presentation", :style => "position: absolute; left: -9999em; height: 0px; width: 0px;" %>
<script type="text/javascript">
  (function(){var a=document.createElement("img");a.src="<%= image_path "homepage/no-cache/with-js.gif" %>";a.alt="";a.role="presentation";a.style.position="absolute";a.style.left="-9999em";a.style.height="0px";a.style.width="0px";document.getElementById("wrapper").appendChild(a)})();
</script>
<noscript>
<%= image_tag "homepage/no-cache/without-js.gif", :alt => "", :role => "presentation", :style => "position: absolute; left: -9999em; height: 0px; width: 0px;" %>
</noscript>
