<% content_for :title, "Welcome To GOV.UK - simpler, clearer, faster" %>

  <section id="content" role="main" class="group">

    <div class="homepage-section">
      <header class="homepage-banner group">
        <div class="tag-line">
          <p>A better way to find Government services and information</p>
        </div>
        <form id="search" class="site-search" action="<%= @prefix %>/search" method="get" role="search">
          <fieldset>
            <legend class="visuallyhidden">Search the beta.gov.uk site</legend>
            <label for="main_autocomplete" class="visuallyhidden">Search</label>
            <input type="text" id="main_autocomplete" name="q" value="">
            <input type="submit" value="Search" class="button">
            <p class="totry">Try searching for <em>bank holidays</em> or <em>student finance</em></p>
          </fieldset>
        </form>
      </header>
     </div>
    <div class="feature-items">
    <div class="carousel">
      <ul>
        <li>
          <%= image_tag 'homepage/homepage1.jpg' %>
        </li>
        <li>
          <%= image_tag 'homepage/homepage2.jpg' %>
        </li>
        <li>
          <%= image_tag 'homepage/homepage3.jpg' %>
        </li>
        <li>
          <%= image_tag 'homepage/homepage4.jpg' %>
        </li>
        <li>
          <%= image_tag 'homepage/homepage5.jpg' %>
        </li>
        <li>
          <%= image_tag 'homepage/homepage6.jpg' %>
        </li>
        <li>
          <%= image_tag 'homepage/homepage7.jpg' %>
        </li>
      </ul>
    </div>
    <div class="sections">
    <div class="popular section">
      <h2>Popular tools and topics</h2>
      <ul>
        <li><a href="/vat-rates">VAT rates</a></li>
        <li><a href="/bank-holidays">UK bank holidays</a></li>
        <li><a href="/student-finance-calculator">Student Finance &ndash; how much you can get for 2012/13</a></li>
        <li><a href="/driving-theory-test/overview">The driving theory test for cars and motorcycles</a></li>
        <li><a href="/stamp-duty-land-tax-rates">Stamp Duty Land Tax rates</a></li>
        <li><a href="/national-minimum-wage-rates">National Minimum Wage rates</a></li>
        <li><a href="/check-mot-status-vehicle">Check the MOT status of a vehicle</a></li>
        <li><a href="/pension-credit">Pension Credit</a></li>
        
      </ul>
    </div>
    <div class="browse section">
      <h2>Browse</h2>
      <ul>
        <li><a href="/family">Family</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="/money-and-tax">Money and tax</a></li>
        <li><a href="/driving">Driving</a></li>
        <li><a href="/life-in-the-uk">Life in the UK</a></li>
        <li><a href="/housing">Housing</a></li>
        <li><a href="/travel">Travel</a></li>
        <li><a href="/neighbourhoods">Neighbourhoods</a></li>
        <li><a href="/crime-and-justice">Crime and justice</a></li>
        <li><a href="/work">Work</a></li>
      </ul>
    </div>
    </div>
    </div>
  </section>
