<section id="content" role="main" class="group <%= "multi-page" if @licence_details and @licence_details[:authority] %>">

  <header class="page-header group">
    <hgroup>
      <h1><span>Licence</span> <%= @publication.title %></h1>
    </hgroup>
  </header>

  <div class="article-container group">

    <% if ! @publication.continuation_link.blank? %>
      <%= render :partial => 'licences/continues_on' %>
    <% elsif @licence_details and @licence_details[:authority] %>
      <%= render :partial => 'licences/authority' %>
    <% else %>
      <%= render :partial => 'licences/introduction', :publication => @licence %>
    <% end %>

    <%= render 'publication_metadata', :publication => @publication, :artefact => @artefact, :api_links => { 'application/json' => publication_path(@publication.slug, :edition => @edition, :format => :json) } %>
  </div>
</section>
