<section id="content" role="main" class="group <%= "multi-page" if @interaction_details and @interaction_details[:authority] %>">

  <header class="page-header group">
    <div>
      <h1><span>Licence</span> <%= @publication.title %></h1>
    </div>
  </header>

  <div class="article-container group">

    <% if ! @publication.continuation_link.blank? %>
      <%= render :partial => 'licences/continues_on' %>
    <% elsif @interaction_details and @interaction_details[:authority] %>
      <%= render :partial => 'licences/authority' %>
    <% else %>
      <%= render :partial => 'licences/introduction', :publication => @licence %>
    <% end %>

    <%= render 'publication_metadata', :publication => @publication, :api_links => { 'application/json' => publication_api_path(@publication, :edition => @edition) } %>
  </div>
</section>
