<main id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
      <h1><span>Service</span> <%= @publication.title %></h1>
    </hgroup>
    <a class="skip-to-related" href="#related">Not what you're looking for? ↓</a>
  </header>
  <div class="article-container group">
    <article role="article" class="group">
      <div class="inner">
        <section class="intro">
          <div class="get-started-intro">

          <%= raw @publication.introduction %>

          </div>
        </section>

        <% if @interaction_details['local_interaction'] %>

          <p id="get-started" class="get-started group">
             <a href="<%= @interaction_details['local_interaction']['url'] %>" rel="external" class="button">
               Start now
             </a>
             <span class="destination"> on <%= @interaction_details['local_authority']['name'] %></span>
          </p>

        <% elsif @interaction_details['local_authority'] %>

          <div class="application-notice help-notice">
            <p>We don't have a direct link to this service from <%= @interaction_details['local_authority']['name'] %><% if @interaction_details['local_authority']['contact_url'].present? %>, but you could try the <%= link_to @interaction_details['local_authority']['name'] + " website", @interaction_details['local_authority']['contact_url'], :rel => :external %><% end %>.</p>
          </div>

        <% else %>
          <%= render :partial => 'location_form', :locals => {:format => 'service'} %>
        <% end %>

        <% if @interaction_details['local_authority'] %>
          <% authority = @interaction_details['local_authority'] %>
          <div class="contact vcard">
            <p>This service is provided by
              <% if authority['contact_url'].present? %>
                <a class="url fn org" rel="external" href="<%= authority['contact_url'] %>"><%= authority['name'] %></a>
              <% else %>
                <%= authority['name'] %>
              <% end %>
              <%= link_to '(change location)', publication_path(@publication.slug) %>
            </p>

            <% unless @interaction_details['local_interaction'] %>
              <% if authority['contact_address'] %>
                <div class="adr"><%= simple_format authority['contact_address'].join("\n") %></div>
              <% end %>
              <% if authority['contact_phone'].present? %>
                <p class="tel"><strong>Telephone:</strong> <span class="value"><%= authority['contact_phone'] %></span></p>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <section class="more">

          <% if @publication.expectations.present? %>
          <h2>What you need to know</h2>

          <div class="more">
            <ul class="helpers group">
              <% @publication.expectations.each do |e| %>
                <li><%= e %></li>
              <% end %>
            </ul>

            <%= raw @publication.more_information %>
          </div>
          <% end %>
        </section>

      </div>
    </article>
    <%= render 'publication_metadata', :publication => @publication, :api_links => { 'application/json' => publication_path(@publication.slug, edition: @edition, format: :json, all: true) } %>
  </div>
</main>

<div id="related-items"></div>
