<% content_for :extra_javascript do %>
  <%= javascript_include_tag 'trackers/local-transaction.js', :defer=>"defer" %>
	<%= javascript_include_tag 'feedback.js', :defer=>"defer" %>
<% end %>
<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
      <h1><span>Service</span> <%= @local_transaction.title %></h1>
    </hgroup>
  </header>
  <div class="article-container group">
    <article role="article" class="group">
      <div class="inner">

          <section class="intro">
            <div class="get-started-intro">

            <%= to_govspeak(@local_transaction.introduction) %>

            <form method="get" id="local-locator-form" class="find-location-for-service">
              <fieldset>
                <legend class="visuallyhidden">Postcode lookup</legend>

                <div class="location_error error-notification hidden"></div>
                <div class="ask_location">
                  <label for="postcode">Enter a UK postcode <input class="postcode" name="postcode" type="text" placeholder="e.g. SW1A 2AA"></label>
                  <input type="submit" value="Next &rarr;" class="button">
                </div>

                <div class="finding_location hidden">
                  <p>Locating you&hellip;</p>
                </div>
                <div class="found_location hidden">
                  <p class="friendly-name">Your location is set to <strong></strong>.<br /><a class="change-location" href="">Change your location</a></p>
                </div>
              </fieldset>
            </form>

            <p id="location-loading" class="hidden">Loading service for <strong class="location-placeholder"></strong>...</p>
            <p id="get-started" class="get-started hidden">
               <a href="" rel="external" class="button">
                 <span class="button-content"><span class="call-to-action">Get started</span><span class="destination"> on </span></span><span class="indicator"></span>
               </a>
            </p>
            <p id="extendedLabel" class="no-provider-error error-notification hidden">Sorry, we couldn't find details of a provider for that service in your area.</p>
          </div>
        </section>

        <section class="more">
          <h2>What you need to know</h2>

          <% if @local_transaction.expectations %>
          <div class="more">
            <ul class="helpers group">
              <% @local_transaction.expectations.each do |e| %>
                <li class="<%= e.css_class %>">
                <%= e.text %>
                </li>
              <% end %>
            </ul>

            <%= to_govspeak(@local_transaction.more_information) %>
          </div>
          <% end %>
        </section>

      </div>
    </article>
    <%= render 'publication_metadata', :publication => @local_transaction, :artefact => @artefact, :api_links => { :json => publication_path(@publication.slug, :edition => @edition, :format => :json, :all => true) } %>
  </div>
</section>

<div id="related-items"></div>

<script type="text/javascript">
<!--

$(document).ready(function() {

  var form = new AlphaGeoForm('#local-locator-form');
  var button = $('.get-started');

  function load_transaction() {
    $('.no-provider-error').addClass('hidden');

    $('.location-placeholder').text(AlphaGeo.full_location.current_location.council[0].name);
    $('#location-loading').removeClass('hidden');

    $.get('/<%= @local_transaction.slug %>.json', { lat: AlphaGeo.full_location.current_location.lat, lon: AlphaGeo.full_location.current_location.lon }, function(data) {
      if (data.council) {
        button.find('a').attr('href', data.council.url);
        button.find('span.destination').text(" on "+ data.council.name +" ");
        button.removeClass('hidden');
      } else {
        $('.no-provider-error').removeClass('hidden');
        $('input[name=postcode]').attr('aria-labelledby', 'extendedLabel');
      }
      $('#location-loading').addClass('hidden');
    });
  }
  function unload_transaction() {
    $('.no-provider-error').addClass('hidden');
    button.addClass('hidden');
  }

  $(AlphaGeo).bind('location-completed', function(location) {
    load_transaction();
  });
  $(AlphaGeo).bind('location-removed', function(location) {
    $('.location-placeholder').text('');
    unload_transaction();
  });

});

-->
</script>
