<% content_for :extra_javascript do %>
  <%= javascript_include_tag 'trackers/local-transaction.js', :defer=>"defer" %>
	<%= javascript_include_tag 'feedback.js', :defer=>"defer" %>
<% end %>
<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
      <h1><span>Local Services</span> <%= @local_transaction.title %></h1>
    </hgroup>
  </header>
  <div class="article-container group">
    <article role="article" class="group">
      <div class="inner">

          <div class="advisory high-alert hidden">
            <p>Sorry, we couldn't find details of a provider of that service in your area.</p>
          </div>

          <%= to_govspeak(@local_transaction.introduction) %>

          <form method="get" id="local-locator-form" class="find-location-for-service">
            <fieldset>
              <legend class="visuallyhidden">Postcode lookup</legend>
              <div class="location_error"></div>

              <div class="ask_location">
                <label for="postcode">Enter a UK postcode <input class="postcode" name="postcode" type="text" placeholder="e.g. SW1A 2AA"></label>
                <input type="submit" value="Get started &rarr;" class="button">
              </div>

              <div class="finding_location hidden">
                <p>Locating you&hellip;</p>
              </div>
              <div class="found_location hidden">
                <p class="friendly-name">We think you&rsquo;re in <strong></strong>. <a class="change-location" href="">Not in <span class="friendly-name"></span>?</a></p>
              </div>
            </fieldset>
          </form>

          <p id="get-started" class="get-started hidden">
             <a href="" rel="external" class="button">
               <span class="button-content"><span class="call-to-action">Get started</span><span class="destination"> on </span></span><span class="indicator"></span>
             </a>
          </p>

        <h2>What you need to know</h2>

        <% if @local_transaction.expectations %>
        <div class="more">
          <ul class="helpers group">
            <% @local_transaction.expectations.each do |e| %>
              <li class="<%= e.css_class %>">
              <%= e.text %>
              </li>
            <% end %>
          </ul>

          <%= to_govspeak(@local_transaction.more_information) %>
        </div>
        <% end %>
        
      </div>
    </article>
    <%= render 'publication_metadata', :publication => @local_transaction, :artefact => @artefact, :api_links => { :json => publication_path(@publication.slug, :edition => @edition, :format => :json, :all => true) } %>
  </div>
</section>

<div id="related-items"></div>

<script type="text/javascript">
<!--

$(document).ready(function() {
  
  var form = new AlphaGeoForm('#local-locator-form');
  var button = $('.get-started');

  function load_transaction() {
    $('.advisory.high-alert').addClass('hidden');
    $.get('/<%= @local_transaction.slug %>.json', { lat: AlphaGeo.full_location.current_location.lat, lon: AlphaGeo.full_location.current_location.lon }, function(data) {
      if (data.council) {
        button.find('a').attr('href', data.council.url);
        button.find('span.destination').text(" on "+ data.council.name +" ");
        button.removeClass('hidden');
      } else {
        $('.advisory.high-alert').removeClass('hidden');
      }
    });
  }
  function unload_transaction() {
    button.addClass('hidden'); 
  }

  $(AlphaGeo).bind('location-completed', function(location) {
    load_transaction();
  });
  $(AlphaGeo).bind('location-removed', function(location) {
    unload_transaction();
  });

});

-->
</script>
