<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
      <h1><span>Service</span> <%= @publication.title %></h1>
    </hgroup>
  </header>
  <div class="article-container group">
    <article role="article" class="group">
      <div class="inner">
        <section class="intro">
          <div class="get-started-intro">

          <%= to_govspeak(@publication.introduction) %>

          </div>

        <% if @local_transaction_details['local_interaction'] %>

          <p id="get-started" class="get-started group">
             <a href="<%= @local_transaction_details['local_interaction']['url'] %>" rel="external" class="button">
               <span class="button-content"><span class="call-to-action">Start now</span>
               <span class="destination"> on <%= @local_transaction_details['local_authority']['name'] %></span>
             </a>
          </p>

        </section>

          <% if @local_transaction_details['local_authority'] %>
            <% authority = @local_transaction_details['local_authority'] %>
            <section class="contact-container">
              <div class="contact vcard">
                <p>This service is provided by <a class="url fn org" href="<%= authority['contact_url'] %>"><%= authority['name'] %></a> <%= link_to '(change location)', publication_path(@publication.slug) %></p>

                <% if authority['contact_address'] %><div class="adr"><%= simple_format authority['contact_address'].join("\n") %></div><% end %>
                <div class="tel"><strong>Telephone:</strong> <span class="value"><%= authority['contact_phone'] %></span></div>
              </div>
            </section>
          <% end %>

        <% elsif @local_transaction_details['local_authority'] %>

          <div class="application-notice help-notice">
            <p>Sorry, we couldn't find details from <%= @local_transaction_details['local_authority']['name'] %>  for that service in your area.</p>
            <% if @local_transaction_details['local_authority']['website'] %><p>You may find more information on the <%= link_to @local_transaction_details['local_authority']['name'] + " website", @local_transaction_details['local_authority']['contact_url'] %></p><% end %>
          </div>

        </section>

        <% else %>
          <%= render :partial => 'location_form', :locals => {:format => 'service'} %>

        </section>
        <% end %>

        <section class="more">

          <% if @publication.expectations.present? %>
          <h2>What you need to know</h2>

          <div class="more">
            <ul class="helpers group">
              <% @publication.expectations.each do |e| %>
                <li><%= e %></li>
              <% end %>
            </ul>

            <%= to_govspeak(@publication.more_information) %>
          </div>
          <% end %>
        </section>

      </div>
    </article>
    <%= render 'publication_metadata', :publication => @publication, :artefact => @artefact, :api_links => { 'application/json' => publication_path(@publication.slug, edition: @edition, format: :json, all: true) } %>
  </div>
</section>

<div id="related-items"></div>
