<section id="content" role="main" class="group">

  <header class="page-header group">
    <div>
       <h1><span>Service</span> <%= @publication.title %></h1>
    </div>
    <a class="skip-to-related" href="#related">Not what you're looking for? ↓</a>
  </header>
	<div class="article-container group">
	 	<article role="article" class="group">
	    <div class="inner">

	      <section class="intro">
  	      <div class="get-started-intro">

  	        <div class="find-nearest">

    	        <%= raw @publication.introduction %>

              <%= render :partial => 'location_form', :locals => {:format => 'service'} %>
            </div>
          </div>
        </section>

        <% if @location.present? %>
          <% if @publication.places.any? %>
            <section class="places">
              <h2>Results near <strong><%= @location.postcode %></strong>:</h2>
              <ol id="options" class="places">
                <%= mustache_partial '_option.html', { 'options' => @publication.places } %>
              </ol>
            </section>
          <% else %>
            <div class="error-notification"><p>Sorry, no results were found near you.</p></div>
          <% end %>
        <% else %>
          <section class="more">
            <div class="further_information">
              <h2>Further information</h2>

              <% if @publication.expectations and @publication.expectations.any? %>
                <ul class="helpers group">
                  <% @publication.expectations.each do |e| %>
                    <li><%= e %></li>
                  <% end %>
                </ul>
              <% end %>

              <%= raw @publication.more_information %>
            </div>
          </section>
        <% end %>

      </div>

		</article>
    <%= render 'publication_metadata', :publication => @publication, :api_links => {
      'application/json' => publication_path(@publication.slug, :edition => @edition, :format => :json)
    } %>
	</div>
</section>

<div id="related-items"></div>
