<% content_for :extra_javascript do %>
	<%= javascript_include_tag 'trackers/findmynearest.js', :defer=>"defer" %>
	<%= javascript_include_tag 'feedback.js', :defer=>"defer" %>
<% end %>
<section id="content" role="main" class="group">

  <header class="page-header group">
   <hgroup>
     <h1><span>Services</span> <%= @place.title %></h1>
   </hgroup>
  </header>
	<div class="article-container group">
	 	<article role="article" class="group">
	    <div class="inner">

	      <div class="find-nearest">

          <form method="get" id="local-locator-form" class="find-location-for-service">
  	        <fieldset>
    	        <%= to_govspeak(@place.introduction) %>

  	          <legend class="visuallyhidden">Postcode lookup</legend>
  	          <% if @edition %>
  	            <input type="hidden" name="edition" value="<%= @edition %>">
  	          <% end %>
              <div class="location_error"></div>

  	          <div class="ask_location <%= geo_known_to_at_least?('ward') ? 'hidden' : '' %>">
  	            <label for="postcode">Enter a UK postcode <input class="postcode" id="postcode" name="postcode" type="text" placeholder="e.g. SW1A 2AA"></label>
  	            <input type="submit" value="Next &rarr;" class="button">
  	          </div>

  	          <div class="finding_location hidden">
  	            <p>Locating you&hellip;<!-- <input type="hidden" name="lon" value="<%= geo_known_to_at_least?('ward') ? geo_header['fuzzy_point']['lon'] : '' %>"><input type="hidden" name="lat" value="<%= geo_known_to_at_least?('ward') ? geo_header['fuzzy_point']['lat'] : '' %>"> --></p>
  	          </div>
  	          <div class="found_location <%= geo_known_to_at_least?('ward') ? '' : 'hidden' %>">
  	            <p class="friendly-name">We think you&rsquo;re in <strong><%= geo_header['friendly_name'] if geo_known_to_at_least?('ward') %></strong>.<br/><a class="change-location" href="<%= publication_path(@place.slug) %>"><%= "Change your location".html_safe %></a></p>
  	          </div>
  	        </fieldset>
	        </form>

          <% if ! @place.more_information.blank? and !geo_known_to_at_least?('ward') %>
          <div class="further_information">
            <h2>Further information</h2>

            <div class="more">
              <% if @place.expectations.any? %>
                <ul class="helpers group">
                  <% @place.expectations.each do |e| %>
                    <li class="<%= e.css_class %>">
                    <%= e.text %>
                    </li>
                  <% end %>
                </ul>
              <% end %>

              <%= to_govspeak(@place.more_information) %>
            </div>

          </div>

          <% end %>

	      </div>


	     <% if @options.any? %>
	       <h3 id="options-header">Your nearest options are:</h3>
	       <ol id="options" class="places">
	         <%= mustache_partial '_option.html', {'options' => @options} %>
	       </ol>
	     <% elsif params[:postcode].present? %>
  	     <div id="error"><p>Sorry, no results were found near you.</p></div>
	     <% else %>
         <div class="visuallyhidden" id="error"><p>Sorry, no results were found near you.</p></div>
	       <h3 id="options-header" class="visuallyhidden">Your nearest options are:</h3>
	       <ol id="options" class="places">
	       </ol>
	     <% end %>

			</div>

		</article>
    <%= render 'publication_metadata', :publication => @place, :artefact => @artefact, :api_links => Hash[[:kml, :json, :csv].map { |format| [format, "#{@place.place_type}.#{format}"] }] %>
	</div>
</section>

<div id="related-items"></div>

  <script id="option-template" type="text/x-mustache-template">
  <%= mustache_direct '_option.html' %>
  </script>

  <script>

  $(document).ready(function() {
      $('#error').hide();
      var form = new AlphaGeoForm('#local-locator-form');

      var load_new_locations = function() {
        var the_href = "<%= publication_path(@place.slug, :format => 'json') %>";
        $.getJSON(the_href, { lat: AlphaGeo.full_location.current_location.lat, lon: AlphaGeo.full_location.current_location.lon }, function (data) {
          $('.further_information').hide();

          if (data.places.length > 0) {
            $('#options').html($.mustache($('#option-template').html(), {options: data.places}));
          } else {
            $('#error').show();
          }
          _gaq.push(['_trackEvent', 'Citizen-Format-Findmynearest', 'Success-results']);
          $('#options-header').show();
        });
      }

      var remove_existing_location_data = function() {
        $("#options").html('');
        $('#options-header').hide();
      }

      $(AlphaGeo).bind('location-removed', function(e, message) {
        remove_existing_location_data();
        $('.further_information').show();
      });

      $(AlphaGeo).bind('location-completed', function(e, location) {
        remove_existing_location_data();
        load_new_locations();
      });

    });
    </script>
