<% @is_overview = (@part.slug != "further-information") %>
<% content_for :extra_javascript do %>
	<%= javascript_include_tag 'jquery.tabs.js', 'trackers/benefit.js', 'jquery.history.js', :defer=>"defer" %>
  <% if @programme.has_next_part?(@part) %>
	  <%= javascript_include_tag 'programmes.js', :defer=>"defer" %>
  <% end %>
	<!--script src="/javascripts/recently-viewed.js" type="text/javascript"></script-->
<% end %>

<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
      <h1><span>Benefits &amp; schemes</span> <%= @programme.title %></h1>
    </hgroup>
  </header>

	<div class="article-container group">

		<nav class="programme-progression group" role="navigation">
		  <ol>
	      <% programme_parts(@programme).each do |part| %>
          <li><a href="<%= "#{guide_path(@programme.slug)}##{part.slug}" %>"><%= part.title %></a></li>
        <% end %>
      </ol>
      <% if has_further_information?(@programme) %>
  		  <div class="further-information <%= raw('active') unless @is_overview %>"><a href="<%= guide_path(@programme.slug, @programme.parts.last.slug,@edition) %>"><span>Extra information</span></a></div>
  		<% end %>
		</nav>
		<% if @is_overview %>
  		<% @programme.parts.each do |part| %>
  	    <% unless part.slug == 'further-information' %>
          <article role="article" class="overview-etc group" id="<%= part.slug %>">
            <div class="inner">
              <%= render :partial => "programme_part", :locals => {:part => part} %>
              <nav class="part-pagination return-to-top">
                <a href="#wrapper">Return to top &uarr;</a>
              </nav>
            </div>
          </article>
        <% end %>
      <% end %>
    <% else %>
		  <article role="article" class="group">
        <div class="inner">
          <%= render :partial => "programme_part", :locals => {:part => @programme.parts.last} %>
          <nav class="part-pagination return-to-top" role="navigation">
            <a href="<%= guide_path(@programme.slug,nil,@edition) %>">&larr; Overview and how to claim</a>
          </nav>
        </div>
		  </article>
  	<% end %>

    <%= render 'publication_metadata', :publication => @programme, :artefact => @artefact, :api_links => { :json => publication_path(@programme.slug, :edition => @edition, :format => :json) } %>

	</div>
</section>

<div id="related-items"></div>
