<header>
  <h1>Benefits &amp; credits: <%= @programme.title %></h1>
  <p>Notes</p>
</header>

<% @programme.parts.each do |part| %>
<article id="<%= part.slug %>">
  <header>
    <h1>Part <%= part_number(@programme.parts, part) %>: <%= part.title %></h1>
  </header>

  <%= to_govspeak(part.body) %>
</article>
<% end %>

<%= render partial: 'publication_metadata', locals: {:publication => @programme, :artefact => @artefact, :api_links => { 'application/json' => publication_path(@programme.slug, :edition => @edition, :format => :json) }}, formats: ["html"] %>

