<section id="content" role="main" class="group <%= @publication.parts.size > 1 ? "multi" : "single" %>-page">

  <header class="page-header group">
    <hgroup>
      <h1><span><%= t 'formats.programme.name' %></span> <%= @publication.title %></h1>
    </hgroup>
    <nav class="skip-to-related">
      <a href="#related"><%= t 'common.not_what_youre_looking_for' %> ↓</a>
    </nav>
  </header>

  <div class="article-container group">
    <%= render :partial => "guide_navigation" %>

    <article role="article" class="group">
      <div class="inner">

        <% if @publication.parts.size > 1 %>
        <header>
          <h1><%= @publication.current_part_number %>. <%= @publication.current_part.title %></h1>
        </header>
        <% end %>

        <%= raw @publication.current_part.body %>

        <%= render :partial => "guide_pagination" %>
        <% if [:programme, :guide, :'travel-advice'].include? @publication.format.to_sym %>
      <div class="print-link"><%= link_to t('formats.guide.printer_friendly_page'), publication_path(@publication.slug, :part => 'print', :edition => @edition), rel: "nofollow" %></div>
    <% end %>
      </div>
    </article>
    <%= render 'publication_metadata', :publication => @publication, :api_links => { 'application/json' => publication_api_path(@publication, :edition => @edition) } %>

  </div>

</section>

<div id="related-items"></div>

<% content_for :extra_headers do %>
  <%= render 'pagination_headers' %>
<% end %>
