<header>
  <h1><%= t 'formats.programme.name' %>: <%= @publication.title %></h1>
  <p>Notes</p>
</header>

<% @publication.parts.each do |part| %>
<article id="<%= part.slug %>">
  <header>
    <h1><%= part.title %></h1>
  </header>

  <%= raw part.body %>
</article>
<% end %>

<%= render partial: 'publication_metadata', locals: {:publication => @publication, :api_links => { 'application/json' => publication_api_path(@publication, :edition => @edition) }}, formats: ["html"] %>

