<% content_for :extra_javascript, javascript_include_tag('geo-locator') %>
<% content_for :title, "beta.gov.uk - the trial ‘beta’ version of the UK government's official website" %>

<section class="group section" role="main">
	<%= render :partial => 'location_header' %>  
	<div id="homepage-search" class="location-not-set group">
		<header>
			<h1><%= @section.name %></h1>
		</header>

		
	<div class="popular-sections group">
		<div class="popular-in-section">
			<h2>Popular in this section</h2>
			<ul>
			  <% @section.publications[0..9].each do |publication| %>
			  <li class="<%= publication.type %>"><%= link_to publication.title, "/#{publication.slug}" %></a></li>
			  <% end %>
			</ul>
		</div>
	</div>

	<div class="a-z group">
		<header>
			<h2>A to Z</h2>
		</header>

		<% 
		require 'dictionary_presenter'
		content_dictionary = DictionaryPresenter.new(@section.publications).as_dictionary 
		%>

		<ul>
		  <% ('A'..'Z').each do |letter| %>
			<li><h3><%= letter %></h3>
				<ul>
				  <% content_dictionary[letter].each do |publication| %>
          <li class="<%= publication.type %>"><%= link_to publication.title, "/#{publication.slug}" %></a></li>
				  <% end %>
				</ul>
			</li>
		<% end %>
  </ul>

	</div>

</section>
