<section id="content" role="main" class="group">

  <header class="group">
	  <hgroup>
			<h1><span>View content in</span> <%= @section.name %></h1>
	  </hgroup>
  </header>

  <article role="article" class="group">
    <div class="inner">

    	<div class="popular-sections group">
  			<h2>Popular in this section</h2>
  			<ul class="group">
  			  <% @section.publications[0..9].each do |publication| %>
  			  <li class="<%= publication.type %>"><%= link_to publication.title, "/#{publication.slug}" %></a></li>
  			  <% end %>
  			</ul>
    	</div>

    	<div class="a-z group">
  			<h2>A to Z</h2>
    		<%
    		require 'dictionary_presenter'
    		content_dictionary = DictionaryPresenter.new(@section.publications).as_dictionary
    		%>

    		<ul class="group">
    		  <% ('A'..'Z').each do |letter| %>
    			<li>
    				<ul class="group">
    				  <% content_dictionary[letter].each do |publication| %>
              <li class  = "<%= publication.type %>"><%= link_to publication.title, "/#{publication.slug}" %></a></li>
    				  <% end %>
    				</ul>
    			</li>
    		<% end %>
      </ul>

    </div>
  </article>
</section>
