<% content_for :title, "Tour of GOV.UK | Help | GOV.UK Beta (Test)" %>
<section id="content" role="main" class="group ancillary tour">
<div class="article-container group">
  <header class="page-header group">
    <hgroup>
      <h1><span>Tour</span> GOV.UK</h1>
    </hgroup>
  </header>

  
  <article role="article" class="group">
    <div class="inner">
      <p>Welcome to the GOV.UK beta site &mdash; a better way to find government services and information.</p>
      
    <%= image_tag 'tour/0home.jpg' %>

      <p>This website has been designed to make it quick and easy to get to what you need. You can look at 
      some examples of how that works below, or use the search tool to get started right away.</p>
         
     <%= image_tag 'tour/1govuk.jpg' %>

     <h2>Start with search</h2>
     <p>People begin most internet journeys with search so we’ve designed the site with that in mind. Searches take you straight to the information you need.</p>
     <%= image_tag 'tour/2google.jpg' %>  <!--[point to main search box] -->
     <%= image_tag 'tour/3vat.jpg' %>  <!-- [point to top nav and the crumb trail (is that what you call it?)] -->
     
     
     <h2>Simple navigation</h2>
     <p>We keep the options simple and clear, and always show you where you are on the site.</p>
     <%= image_tag 'tour/4workingtaxcredit.jpg' %>
     

     <h2>Space to breathe</h2>
     <p>The clean design simplifies rather than confuses, making the site fast and easy to navigate.</p>
     <%= image_tag 'tour/5clockschange.jpg' %>  <!-- [point to main promo area in the middle of the homepage i.e. the nice big photos] -->
     
     <h2>Clearly organised information</h2>
     <p>If you don’t find what you need straight away a ‘related’ menu shows you other things we think might be useful.</p>
     <%= image_tag 'tour/6taxcreditrelatedbox.jpg' %>  <!-- [show example of clear, simple page] -->

     
     <h2>Information is presented in a few different ways:</h2>
     <p><strong>Guides</strong> are groups of information that are more lengthy or complex. Guides have "parts" on the left-hand side, allowing you to quickly access the right information.</p>
     <%= image_tag 'tour/7incometaxguide.jpg' %>  <!-- [Screenshot of Find out about adult learning and skills guide] -->  


     <p><strong>Quick answers</strong> provide concise answers to popular user questions. Less text, more specific answers.</p>
     <%= image_tag 'tour/8childbenefitrates.jpg' %>  <!-- [Screenshot of Child Benefit rates quick answer] -->  

     <p>For more open-ended situations you can answer a series of questions and we'll give you the information you need. e.g. working out what loans and grants you can get if you're a student.</p>
     <%= image_tag 'tour/9studentfinance.jpg' %>  <!-- [Screenshot of Maternity benefits you're eligible for smart answer] -->  
     
     <p><strong>Services</strong> are tools and transactional pages that enable you to complete tasks online and interact with government.  For local services just enter your postcode and find places and services which are close to you, such as your nearest recycling point or driving test centre.</p>
     <%= image_tag 'tour/10counciltax.jpg' %>  <!-- [Screenshot of Apply online for a replacement Child Trust Fund voucher service] -->  

     
     <p><strong>Benefits and credits</strong> – an overview of a particular government benefit or credit, allowing you to read additional information if you need using the tabs at the top of the page.</p>
     <%= image_tag 'tour/11counciltaxbenefit.jpg' %>  <!-- [Screenshot of Statutory Sick Pay Benefit and Credit] -->    

     <h2>Feedback</h2>
     <p>It's a beta, so we love <a href="/feedback">feedback</a>.</p>
     <%= image_tag 'tour/12feedback.jpg' %>  <!-- "[point to feedback button in footer]" -->    

      
    </div>

  </article>
</div>
</section>