<%- presenter = TransactionPresenter.new(@publication) -%>
<%= render layout: 'base_page', locals: {
  title: @publication.title,
  publication: @publication,
  edition: @edition,
} do %>
  <section class="intro">
    <div class="get-started-intro"><%= raw @publication.introduction %></div>
    <% if @publication.downtime && downtime_message = @publication.downtime['message'] %>
      <div class="application-notice help-notice">
        <p><strong><%= downtime_message %></strong></p>
      </div>
    <% end %>
    <p id="get-started" class="get-started group">
      <a href="<%= @publication.link %>" rel="external" data-transaction-slug="<%= @publication.slug %>" class="button" <% if presenter.open_in_new_window? %>target="_blank"<% end %> role="button"><%= t 'formats.transaction.start_now' %></a>
      <% if @publication.will_continue_on.present? %>
        <span class="destination"> <%= t 'formats.transaction.on' %> <%= @publication.will_continue_on %></span>
      <% end %>
    </p>
  </section>

  <section class="more">
    <%- if presenter.multiple_more_information_sections? -%>
      <%= render :partial => 'transaction_additional_information_tabbed', :locals => {:transaction => @publication, :presenter => presenter } %>
    <%- else -%>
      <%= render :partial => 'transaction_additional_information_single', :locals => {:transaction => @publication, :presenter => presenter } %>
    <%- end -%>
  </section>

  <% if @publication.department_analytics_profile %>
    <%= render :partial => 'transaction_cross_domain_analytics',
               :locals => { :tracker => @publication.department_analytics_profile } %>
  <% end %>
<% end %>
