<%- presenter = TransactionPresenter.new(@publication) -%>

<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
     <h1><span>Service</span> <%= @publication.title %></h1>
    </hgroup>
    <nav class="skip-to-related">
      <a href="#related">Not what you're looking for? ↓</a>
    </nav>                
  </header>
	<div class="article-container group">
  	<article role="article" class="group">
     <div class="inner">

      <section class="intro">
        <div class="get-started-intro"><%= to_govspeak(@publication.introduction) %></div>
        <p class="visuallyhidden"><a href="#what-you-need-to-know">What you need to know</a></p>
        <p id="get-started" class="get-started group">
           <a href="<%= @publication.link %>" rel="external" class="button" <% if presenter.open_in_new_window? %>target="_blank"<% end %>>
             <span class="button-content"><span class="call-to-action">Start now</span> <!-- this space is important --><%
               if @publication.will_continue_on.present?
                 %><span class="destination">on <%= @publication.will_continue_on %></span><%
               end
             %></span>
           </a>
        </p>
      </section>

      <section class="more">
        <%- if presenter.multiple_more_information_sections? -%>
          <%= render :partial => 'transaction_additional_information_tabbed', :locals => {:transaction => @publication, :presenter => presenter } %>
        <%- else -%>
          <%= render :partial => 'transaction_additional_information_single', :locals => {:transaction => @publication, :presenter => presenter } %>
        <%- end -%>

        <p class="visuallyhidden"><a href="<%= @publication.link %>" rel="external">Get started on <%= @publication.will_continue_on %></a></p>
      </section>

     </div>
   </article>
  <%= render 'publication_metadata', :publication => @publication, :artefact => @artefact, :api_links => { 'application/json' => publication_path(@publication.slug, :edition => @edition, :format => :json) } %>
</div>

</section>

<div id="related-items"></div>
