<% content_for :extra_javascript do %>
  <% if @transaction.slug =~ /car-tax-disc-vehicle-licence/ %>
    <%= javascript_include_tag 'trackers/ab-testing.js' %>  
  <% end %> 

  <%= javascript_include_tag 'jquery.tabs.js' %>
<% end %>

<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
     <h1><span>Service</span> <%= @transaction.title %></h1>
    </hgroup>
  </header>
	<div class="article-container group">
  	<article role="article" class="group">
     <div class="inner">

      <section class="intro">
        <div class="get-started-intro"><%= to_govspeak(@transaction.introduction) %></div>
        <p class="visuallyhidden"><a href="#what-you-need-to-know">What you need to know</a></p>
        <% if @transaction.slug =~ /car-tax-disc-vehicle-licence/ %><script type="text/javascript">utmx_section("Get started button")</script><noscript rel="placeholder"><% end %>
        <p id="get-started" class="get-started group">
           <a href="<%= @transaction.link %>" rel="external" class="button">
             <span class="button-content"><span class="call-to-action">Get started</span> <!-- this space is important --><%
               if @transaction.will_continue_on.present?
                 %><span class="destination">on <%= @transaction.will_continue_on %></span><%
               end
             %></span><span class="indicator"></span>
           </a>
        </p>
        <% if @transaction.slug =~ /car-tax-disc-vehicle-licence/ %></noscript><% end %> 
      </section>

      <section class="more">
        <% if @transaction.more_information.present? || @transaction.alternate_methods.present? %>
        <nav class="nav-tabs" role="navigation">
          <ul>
            <% if @transaction.more_information.present? %><li class="active"><a href="#before-you-start">Before you start</a></li><% end %>
            <li><a href="#what-you-need-to-know">What you need</a></li>
            <% if @transaction.alternate_methods.present? %><li><a href="#other-ways-to-apply">Other ways to apply</a></li><% end %>
          </ul>
        </nav>
        <% end %>

        <div class="tab-content">
          <% if @transaction.more_information.present? %>
          <div class="tab-pane" id="before-you-start">
            <%= to_govspeak(@transaction.more_information) %>
          </div>
          <% end %>

          <div class="tab-pane" id="what-you-need-to-know">
            <h1>What you need to know</h1>

            <ul class="helpers group">
            <% if @transaction.minutes_to_complete.present? %>
             <li>Takes around <span><%= @transaction.minutes_to_complete %></span> minutes</li>
            <% end %>
            
            <% @transaction.expectations.each do |e| %>
             <li class="<%= e.css_class %>"><%= e.text %></li>
            <% end %>
            </ul>
          </div>
                
          <% if @transaction.alternate_methods.present? %>
          <div class="tab-pane" id="other-ways-to-apply">
            <h1>Other ways to apply</h1>
            <%= to_govspeak(@transaction.alternate_methods) %>
          </div>
          <% end %>
        </div>

        <p class="visuallyhidden"><a href="<%= @transaction.link %>" rel="external">Get started on <%= @transaction.will_continue_on %></a></p>
      </section>

     </div>
   </article>
  <%= render 'publication_metadata', :publication => @transaction, :artefact => @artefact, :api_links => { 'application/json' => publication_path(@publication.slug, :edition => @edition, :format => :json) } %>
</div>

</section>

<div id="related-items"></div>
