<% content_for :extra_javascript do %>
	<%= javascript_include_tag 'trackers/transaction.js', :defer=>"defer" %>
	<%= javascript_include_tag 'feedback.js', :defer=>"defer" %>
<% end %>
<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
     <h1><span>Service</span> <%= @transaction.title %></h1>
    </hgroup>
  </header>
	<div class="article-container group">
  	<article role="article" class="group">
     <div class="inner">

      <% if @transaction.uses_government_gateway %>
       <p class="advisory minor"><span>This service requires a <a href="https://www.gov.uk/government-gateway">Government Gateway</a> account.</span></p>
      <% end %>

      <section class="intro">
        <div class="get-started-intro"><%= to_govspeak(@transaction.introduction) %></div>
        <p class="visuallyhidden"><a href="#what-you-need-to-know">What you need to know</a></p>
        <p id="get-started" class="get-started group">
         <a href="<%= @transaction.link %>" rel="external" class="button">
           <span class="button-content"><span class="call-to-action">Get started</span><% if @transaction.will_continue_on.present? %><span class="destination"> on <%= @transaction.will_continue_on %> </span><% end %></span><span class="indicator"></span>
         </a>
        </p>
      </section>

      <section class="more">
        <h1 id="what-you-need-to-know">What you need to know</h1>
        <% if @transaction.minutes_to_complete.present? %>
         <p>This is probably going to take you <%= @transaction.minutes_to_complete %> minutes.</p>
        <% end %>
        <ul class="helpers group">
        <% @transaction.expectations.each do |e| %>
         <li class="<%= e.css_class %>">
           <%= e.text %>
         </li>
        <% end %>
        </ul>
        <%= to_govspeak(@transaction.more_information) %>
        <% if @transaction.alternate_methods.present? %>
        <h1>Other ways to apply</h1>
        <%= to_govspeak(@transaction.alternate_methods) %>
        <% end %>
        <p class="visuallyhidden"><a href="<%= @transaction.link %>" rel="external">Get started on <%= @transaction.will_continue_on %></a></p>
      </section>

     </div>
   </article>
  <%= render 'publication_metadata', :publication => @transaction, :artefact => @artefact, :api_links => { :json => publication_path(@publication.slug, :edition => @edition, :format => :json) } %>
</div>

</section>

<div id="related-items"></div>
