<%- presenter = TransactionPresenter.new(@publication) -%>

<main id="content" role="main" class="group">

  <header class="page-header group">
    <div>
      <h1><%= @publication.title %></h1>
    </div>
  </header>
  <div class="article-container group">
    <%= render :partial => 'beta_label' if @publication.in_beta %>


    <article role="article" class="group">
     <div class="inner">

      <section class="intro">
        <div class="get-started-intro"><%= raw @publication.introduction %></div>
        <% if downtime_message = @publication.downtime_message %>
          <div class="application-notice help-notice">
            <p><strong><%= downtime_message %></strong></p>
          </div>
        <% end %>
        <p id="get-started" class="get-started group">
          <a href="<%= @publication.link %>" rel="external" data-transaction-slug="<%= @publication.slug %>" class="button" <% if presenter.open_in_new_window? %>target="_blank"<% end %> role="button"><%= t 'formats.transaction.start_now' %></a>
          <% if @publication.will_continue_on.present? %>
            <span class="destination"> <%= t 'formats.transaction.on' %> <%= @publication.will_continue_on %></span>
          <% end %>
        </p>
      </section>

      <section class="more">
        <%- if presenter.multiple_more_information_sections? -%>
          <%= render :partial => 'transaction_additional_information_tabbed', :locals => {:transaction => @publication, :presenter => presenter } %>
        <%- else -%>
          <%= render :partial => 'transaction_additional_information_single', :locals => {:transaction => @publication, :presenter => presenter } %>
        <%- end -%>

      </section>

     </div>
   </article>
  <%= render 'publication_metadata', :publication => @publication, :api_links => { 'application/json' => publication_api_path(@publication, :edition => @edition) } %>

  <%# Enable cross-domain analytics for IER (register to vote) only - not generalised yet %>
  <% if @publication.slug == 'register-to-vote' %>
    <%= render :partial => 'transaction_cross_domain_analytics', :locals => { :ga_account_code => 'UA-23066786-5' } %>
  <%# Enable cross-domain analytics for Civil claims - still not worth generalising yet %>
  <% elsif @publication.slug == 'accelerated-possession-eviction' %>
    <%= render :partial => 'transaction_cross_domain_analytics', :locals => { :ga_account_code => 'UA-37377084-12' } %>
  <% end %>
</div>

</main>

<div id="related-items"></div>
