<% if publication.parts.present? then %>
<header>
  <h1>Summary</h1>
</header>
<% end %>

<ul class="country-metadata">
  <li><div class="label">Still current at:</div> <%= Date.today.strftime("%e %B %Y") %></li>
  <li><div class="label">Updated:</div> <%= publication.updated_at.strftime("%e %B %Y") %></li>
  <%# Don't show change description for countries that haven't been updated before this was
      added to this view as the descriptions aren't very useful to users. %>
  <%- if publication.updated_at > Date.civil(2013, 04, 22) -%>
    <li><%= simple_format publication.change_description %></li>
  <%- end -%>
</ul>

<% if publication.alert_status.present? %>
  <div class="application-notice help-notice">
    <% publication.alert_status.each do |alert| %>
      <p><%= raw t("travel_advice.alert_status.#{alert}") %></p>
    <% end %>
  </div>
<% end %>

<% if publication.image %>
  <p>
    <img src="<%= publication.image.web_url %>" alt="" />
  </p>
<% end %>
<% if publication.document %>
  <div class="form-download">
  <p>
    <a href="<%= publication.document.web_url %>">Download map (PDF)</a>
  </p>
  </div>
<% end %>

<%= raw publication.summary %>
