<header>
  <h1>Summary</h1>
</header>

<ul class="country-metadata">
  <li>Still current at: <%= Date.today.strftime("%e %B %Y") %></li>
  <li>Updated: <%= publication.updated_at.strftime("%e %B %Y") %></li>
</ul>

<% if publication.alert_status.present? %>
  <div class="application-notice help-notice">
    <% publication.alert_status.each do |alert| %>
      <p><%= raw t("travel_advice.alert_status.#{alert}") %></p>
    <% end %>
  </div>
<% else %>
  <p>There are no travel restrictions in place for <%= publication.country['name'] %>.</p>
<% end %>

<% if publication.image %>
  <p>
    <img src="<%= publication.image.web_url %>"/>
  </p>
<% end %>
<% if publication.document %>
  <div class="form-download">
  <p>
    <a href="<%= publication.document.web_url %>">Download map (PDF)</a>
  </p>
  </div>
<% end %>

<%= raw publication.summary %>
