<aside>
  <div class="inner">
    <div class="print-link"><%= link_to t('formats.guide.printer_friendly_page'), publication_path(@publication.slug, :part => 'print', :edition => @edition), rel: "nofollow" %></div>

    <nav role="navigation" class="page-navigation">
      <ol>
        <% if @part %>
          <li>
            <%= link_to part_path(@publication.slug, nil, @edition), :title => "Summary" do %>
              <span class="part-title">Summary</span>
              <span class="part-description">Current travel advice</span>
            <% end %>
          </li>
        <% else %>
          <li class="active">
            <span class="part-title">Summary</span>
            <span class="part-description">Current travel advice</span>
          </li>
        <% end %>
        <% (@publication.parts || []).each do |nav_part| %>
          <% if @part == nav_part %>
            <li class="active">
              <span class="part-title"><%= nav_part.title %></span>
            </li>
          <% else %>
            <li>
              <%= link_to part_path(@publication.slug, nav_part.slug, @edition), :title => nav_part.title do %>
                <span class="part-title"><%= nav_part.title %></span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ol>
    </nav>
  </div>
  <ul class="subscriptions">
    <li><%= link_to "Atom/RSS", publication_path(@publication.slug, format: "atom"), :class => "feed" %></li>
    <li><a href="https://stage-public.govdelivery.com/accounts/UKGOVUK/subscriber/topics?qsp=TRAVEL" class="email-alerts">Email alerts</a></li>
  </ul>
</aside>
