<aside>
  <div class="inner">
    <nav role="navigation" class="page-navigation" aria-label="parts to this guide">
      <% @publication.navigation_parts.each_slice(parts_group_size(@publication.navigation_parts)).with_index do |parts,i| %>
        <ol<%= " start=\"#{parts_group_size(@publication.navigation_parts) + 1}\"".html_safe if i == 1 %>>
          <% parts.each do |nav_part| %>
            <% if (@publication.current_part.nil? && nav_part[:slug] == nil) || (@publication.current_part && @publication.current_part.slug == nav_part[:slug]) %>
              <li class="active">
                <span class="part-title"><%= nav_part[:title] %></span>
                <% if nav_part[:slug].nil? %>
                  <span class="part-description">Current travel advice</span>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to part_path(@publication.slug, nav_part[:slug], @edition), :title => nav_part[:title] do %>
                  <span class="part-title"><%= nav_part[:title] %></span>
                  <% if nav_part[:slug].nil? %>
                    <span class="part-description">Current travel advice</span>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ol>
      <% end %>
    </nav>

    <section class="subscriptions">
      <h1 class="visuallyhidden">Subscriptions</h1>
      <ul>
        <li><%= link_to "RSS", publication_path(@publication.slug, format: "atom"), :class => "feed", :title => "Subscribe via RSS" %></li>
        <li><a href="https://public.govdelivery.com/accounts/UKGOVUK/subscriber/topics?qsp=TRAVEL" class="email-alerts" title="Subscribe to email alerts" rel="external">Email alerts</a></li>
      </ul>
    </section>

  </div>
  
</aside>
