<section id="content" role="main" class="group multi-page">

  <header class="page-header group">
    <hgroup>
      <h1><span>Travel advice </span><%= @publication.country['name'] %></h1>
    </hgroup>
    <nav class="skip-to-related">
      <a href="#related"><%= t 'common.not_what_youre_looking_for' %> ↓</a>
    </nav>
  </header>

  <div class="article-container group">
    <%= render :partial => "travel_advice_navigation" %>

    <article role="article" class="group">
      <div class="inner">

        <% if @part %>
          <header>
            <h1><%= @part.title %></h1>
          </header>

          <%= raw @part.body %>
        <% else %><%# The summary page %>
          <header>
            <h1>Summary</h1>
          </header>

          <p>
            Current at <%= Date.today.strftime("%e %B %Y") %>.<br />
            Last updated <%= @publication.updated_at.strftime("%e %B %Y") %>
          </p>
          <%= raw @publication.summary %>
        <% end %>
      </div>
    </article>
    <%= render partial: "shared/publication_metadata", :locals => {
          :publication => @publication,
          :artefact => @artefact,
          :api_links => { "application/json" => publication_api_path(@publication, :edition => @edition) }
        } %>

  </div>

</section>

<div id="related-items"></div>

<% content_for :extra_headers do %>
  <%- if @part and @publication.has_previous_part?(@part) -%>
    <link rel="prev" href="<%= part_path(@publication.slug, @publication.part_before(@part).slug,@edition) %>" />
  <%- end -%>
  <%- if @part and @publication.has_next_part?(@part) -%>
    <link rel="next" href="<%= part_path(@publication.slug, @publication.part_after(@part).slug,@edition) %>" />
  <%- end -%>
<% end %>
