<section id="content" role="main" class="group <%= @publication.parts.present? ? "multi" : "single" %>-page">

  <header class="page-header group">
    <hgroup>
      <h1><span>Foreign travel advice </span><%= @publication.country['name'] %></h1>
    </hgroup>
    <nav class="skip-to-related">
      <a href="#related"><%= t 'common.not_what_youre_looking_for' %> ↓</a>
    </nav>
  </header>

  <div class="article-container group">
    <%= render :partial => "travel_advice_navigation" if @publication.parts.present? %>

    <article role="article" class="group">
      <div class="inner">

        <% if @part %>
          <header>
            <h1><%= @part.title %></h1>
          </header>

          <%= raw @part.body %>
        <% else %><%# The summary page %>
          <%= render :partial => "country_summary", :locals => {:publication => @publication} %>
        <% end %>
      </div>
    </article>

    <div id="report-a-problem"></div>
  </div>

</section>

<div id="related-items"></div>

<% content_for :extra_headers do %>
  <link rel="alternate" type="application/json" href="<%= publication_api_path(@publication, :edition => @edition) %>" />
  <%= auto_discovery_link_tag :atom, travel_advice_country_path(@publication.country['slug'], :format => :atom),
    :title => "Recent updates for #{@publication.country['name']}" %>
  <%- if @part and @publication.has_previous_part?(@part) -%>
    <link rel="prev" href="<%= part_path(@publication.slug, @publication.part_before(@part).slug,@edition) %>" />
  <%- end -%>
  <%- if @part and @publication.has_next_part?(@part) -%>
    <link rel="next" href="<%= part_path(@publication.slug, @publication.part_after(@part).slug,@edition) %>" />
  <%- end -%>
<% end %>
