<header>
  <h1><%= @publication.country['name'] %> travel advice</h1>
</header>

<% @publication.parts.each do |part| %>
  <article id="<%= part.slug %>">
    <header>
      <h1><%= part.title %></h1>
    </header>

    <%= raw part.body %>
  </article>
<% end %>

<%= render :partial => "shared/publication_metadata", :locals => {
      :publication => @publication,
      :api_links => { "application/json" => publication_api_path(@publication, :edition => @edition) }
    }, :formats => ["html"] %>
