<% content_for :extra_headers do %>
  <%= javascript_include_tag "views/travel-advice.js", :defer => "defer" %>
  <link rel="alternate" type="application/json" href="<%= publication_api_path(@publication, :edition => @edition) %>" />
  <%= auto_discovery_link_tag :atom, travel_advice_path(:format => :atom), :title => "Recent updates" %>
<% end %>

<section id="content" class="group">
  <header class="page-header group">
    <hgroup>
      <h1><%= @publication.title %></h1>
    </hgroup>
  </header>

  <div class="article-container group">
    <article role="article" class="group">
      <div class="inner">

        <section id="recently-updated" class="list">
          <h1>Recently updated</h1>
          <ul class="subscriptions">
            <li><%= link_to "Atom/RSS", publication_path(@publication.slug, format: "atom"), :class => "feed" %></li>
            <li><a href="https://public.govdelivery.com/accounts/UKGOVUK/subscriber/topics?qsp=TRAVEL" class="email-alerts" rel="external">Email alerts</a></li>
          </ul>
          <ul class="updated-countries">
            <% @publication.countries_recently_updated.each do |country| %>
            <li>
              <%= link_to country['name'], travel_advice_country_path(country['identifier']) %>
              <span class="meta">updated <%= readable_time(country['updated_at']) %></span>
            </li>
            <% end %>
          </ul>
        </section>

        <form id="country-filter">
          <fieldset>
            <label for="country">Which country or territory are you looking for?</label>
            <input id="country" name="country" type="text" />
          </fieldset>
        </form>

        <% group_by_initial_letter(@publication.countries).each do |initial,countries| %>
          <section id="<%= initial %>" class="list">
            <h1><%= initial %></h1>
            <ul class="countries">
              <% countries.each do |country| %>
                <li><%= link_to country['name'], travel_advice_country_path(country['identifier']) %></li>
              <% end %>
            </ul>
          </section>
        <% end %>
      </div>
    </article>

    <div id="report-a-problem"></div>
  </div>
</section>

<div id="related-items"></div>
