<% content_for :head do %>
  <%= stylesheet_link_tag "views/_manual", media: "all" %>
  <meta name="description" content="<%= content_item.description %>">
<% end %>

<% content_for :title do %>
  <%= build_page_title([content_item.section_id, content_item.title, t("formats.manuals.hmrc_manual_type")]) %>
<% end %>

<% content_for :before_main do %>
  <%= render "shared/manuals/header", {
    content_item: content_item.manual_content_item,
    heading_level: 1,
    green_background: true,
    type: I18n.t("formats.manuals.hmrc_manual_type"),
  } %>

  <%= render "govuk_publishing_components/components/breadcrumbs", {
        border: "bottom",
        margin_bottom: 6,
        breadcrumbs: @presenter.breadcrumbs,
        collapse_on_mobile: false } %>
<% end %>

<% show_contents ||= false %>

<div id="manuals-frontend">
  <% if show_contents %>
    <%= render "govuk_publishing_components/components/contents_list", {
      aria: { label: t("manuals.pages_in_manual_section") }, contents: content_item.contents, underline_links: true
    } %>
  <% end %>

  <div class="govuk-grid-row">
    <article aria-labelledby="section-title">
      <div class="govuk-grid-column-full">
        <%= render "govuk_publishing_components/components/heading", {
          text: content_item.document_heading.join(" - "),
          font_size: "l",
          id: "section-title",
          heading_level: 1,
          margin_bottom: 4,
        } %>
      </div>

      <% if content_item.description.present? %>
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/lead_paragraph", {
            text: content_item.description,
          } %>
        </div>
      <% end %>

      <% if content_item.body.present? %>
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/govspeak", {} do %>
            <%= raw(content_item.body) %>
          <% end %>
        </div>
      <% end %>

      <% content_item.section_groups.each do | group | %>
        <div class="subsection-collection govuk-grid-column-full">
          <%= render "content_items/manuals/hmrc_sections", group: group, heading_level: 2 %>
        </div>
      <% end %>

      <div class="govuk-grid-column-full">
        <%= render "govuk_publishing_components/components/pagination", content_item.previous_and_next_links %>
      </div>
    </article>
  </div>

  <%= render "govuk_publishing_components/components/print_link" %>
</div>
