<div class="postcode-search-form"
      data-module="track-submit"
      data-track-category="postcodeSearch:<%= publication_format %>"
      data-track-action="postcodeSearchStarted">

  <% if @location_error %>
    <%
      if @location_error.sub_message.present?
        description = t(@location_error.sub_message)
      end
    %>

    <%= render "govuk_publishing_components/components/error_alert", {
      message: t(@location_error.message, @location_error.message_args),
      description: description,
      data_attributes: {
        module: "auto-track-event",
        track_category: "userAlerts: #{publication_format}",
        track_action: "postcodeErrorShown: #{@location_error.postcode_error}",
        track_label: t(@location_error.message, @location_error.message_args)
      }
    } %>
  <% end %>

  <form method="post" id="local-locator-form" class="location-form">
    <fieldset>
      <legend class="visuallyhidden">Postcode lookup</legend>

      <%= render partial: 'draft_fields' %>

      <div class="ask_location">
        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: "Enter a postcode"
          },
          value: postcode,
          name: "postcode",
          id: "postcode",
          hint: "For example SW1A 2AA",
          invalid: @location_error ? 'true' : 'false'
        } %>
        <%= render "govuk_publishing_components/components/button", text: "Find" %>
        <p>
          <%= link_to "Find a postcode on Royal Mail's postcode finder",
                      'http://www.royalmail.com/find-a-postcode',
                      :target => "_blank",
                      id: 'postcode-finder-link',
                      class: "govuk-link",
                      rel: "external" %>
        </p>
      </div>
    </fieldset>
  </form>
</div>
