<div class="postcode-search-form"
      data-module="track-submit"
      data-track-category="postcodeSearch:<%= publication_format %>"
      data-track-action="postcodeSearchStarted">

  <% if @location_error %>
    <div class="error-summary"
         tabindex="-1"
         role="alert"
         data-module="auto-track-event"
         data-track-category="userAlerts:<%= publication_format %>"
         data-track-action="postcodeErrorShown:<%= @location_error.postcode_error %>"
         data-track-label="<%= t(@location_error.message, @location_error.message_args) %>">

      <p class="instruction"><%= t @location_error.message, @location_error.message_args %></p>
      <% if @location_error.sub_message.present? %>
        <p><%= t @location_error.sub_message %></p>
      <% end %>
    </div>
  <% end %>

  <form method="<%= method %>" id="local-locator-form" class="find-location-for-<%= format %>">
    <fieldset>
      <legend class="visuallyhidden">Postcode lookup</legend>
      <% if @edition %>
        <input type="hidden" name="edition" value="<%= @edition %>">
      <% end %>

      <div class="ask_location">
        <label class="instruction" for="postcode">Enter a postcode</label>
        <p>For example SW1A 2AA</p>
        <input class="postcode"
               id="postcode"
               name="postcode"
               type="text"
               aria-invalid="<%= @location_error ? 'true' : 'false' %>"
               value="<%= postcode %>">
        <button type="submit" class="button">Find</button>
        <p>
          <%= link_to "Find a postcode on Royal Mail's postcode finder",
                      'http://www.royalmail.com/find-a-postcode',
                      :target => "_blank",
                      id: 'postcode-finder-link',
                      rel: "external" %>
        </p>
      </div>
    </fieldset>
  </form>
</div>
