<% action ||= nil %>

<div class="postcode-search-form"
  data-module="track-submit"
  data-track-category="postcodeSearch:<%= publication_format %>"
  data-track-action="postcodeSearchStarted">

  <% if @location_error %>
    <%
      if @location_error.sub_message.present?
        description = t(@location_error.sub_message)
      end
    %>

    <%= render "govuk_publishing_components/components/error_alert", {
      message: t(@location_error.message, **@location_error.message_args),
      description: description,
      data_attributes: {
        module: "auto-track-event",
        track_category: "userAlerts: #{publication_format}",
        track_action: "postcodeErrorShown: #{@location_error.postcode_error}",
        track_label: t(@location_error.message, **@location_error.message_args)
      }
    } %>
  <% end %>

  <%= form_with(
    id: "local-locator-form",
    url: action,
    class: "location-form govuk-!-margin-bottom-9",
    method: "post",
  ) do | form | %>

    <fieldset class="govuk-fieldset">
      <legend class=" govuk-fieldset__legend govuk-visually-hidden"><%= t('formats.local_transaction.postcode_lookup') %></legend>

      <%= render partial: 'draft_fields' %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t('formats.local_transaction.enter_postcode')
        },
        value: postcode,
        name: "postcode",
        id: "postcode",
        hint: t('formats.local_transaction.postcode_hint'),
        invalid: @location_error ? 'true' : 'false',
        autocomplete: "postal-code",
      } %>

      <%= render "govuk_publishing_components/components/button", 
        text: "Find", 
        margin_bottom: true 
      %>

      <%= tag.p link_to(t('formats.local_transaction.find_postcode_royal_mail'),
        "https://www.royalmail.com/find-a-postcode",
        id: 'postcode-finder-link',
        class: "govuk-link",
        rel: "external"),
        class: "govuk-body" 
      %>
    </fieldset>
  <% end %>
</div>
