<% content_for :head do %>
  <meta name="description" content="<%= strip_tags(content_item.description) %>">
  <%= render "govuk_publishing_components/components/machine_readable_metadata", { content_item: content_item.to_h, schema: :article } %>
  <%= stylesheet_link_tag "views/_service-manual-service-standard", media: "all" %>
<% end %>

<%= content_for :title, "#{content_item.title} - Service Manual - GOV.UK" %>

<% content_for :header do %>
  <%= render "shared/headers/page_title", options: content_item_presenter.page_title_options %>
<% end %>

<% content_for :content do %>
  <ol class="govuk-list govuk-!-margin-bottom-8">
    <% content_item.points.each do |point| %>
      <li class="app-service-standard-point" id="criterion-<%= point.number -%>">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
          <span class="app-service-standard-point__number"><%= point.number %>.</span>
          <%= point.title_without_number %>
        </h2>
        <div class="app-service-standard-point__details">
          <%= "<p class='govuk-body'>#{point.description}</p>" if point.description.present? %>
          <p class="govuk-body app-service-standard-point__link"><%= link_to "Read more about point #{ point.number }", point.base_path, class: "govuk-link" %></p>
        </div>
      </li>
    <% end %>
  </ol>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: "service_manual/email_signup", locals: { email_alert_signup_link: content_item_presenter.email_alert_signup_link } %>
<% end %>
