<%= content_for :title, "#{@content_item.title} - Service Manual" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: @content_item.title,
      heading_level: 1,
      font_size: "xl",
      margin_bottom: 7,
    } %>
    <p class="govuk-body-l">
      <%= @content_item.description %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @presenter.display_as_accordion? %>
      <%= render "govuk_publishing_components/components/accordion", {
        items: @presenter.accordion_sections,
      } %>
    <% else %>
      <% @presenter.sections.each do |section| %>
        <% unless section[:heading].empty? %>
          <%= render "govuk_publishing_components/components/heading", {
            text: section[:heading],
            margin_bottom: 2,
          } %>
        <% end %>
        <% unless section[:summary].empty? %>
          <p class="govuk-body">
            <%= section[:summary] %>
          </p>
        <% end %>
        <% if section[:html] %>
          <%= section[:html] %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
