<%= content_for :title, "#{content_item.title} - Service Manual - GOV.UK" %>

<% content_for :head do %>
  <meta name="description" content="<%= strip_tags(content_item.description) %>">
  <%= stylesheet_link_tag "views/_service-manual-topic", media: "all" %>
<% end %>

<% content_for :header do %>
  <%= render "shared/headers/page_title", options: content_item_presenter.page_title_options %>
<% end %>

<% content_for :content do %>
  <% if content_item_presenter.display_as_accordion? %>
    <%= render "govuk_publishing_components/components/accordion", {
      items: content_item_presenter.accordion_sections,
    } %>
  <% else %>
    <% content_item_presenter.sections.each do |section| %>
      <% unless section[:heading].empty? %>
        <%= render "govuk_publishing_components/components/heading", {
          text: section[:heading],
          margin_bottom: 2,
          font_size: "m",
        } %>
      <% end %>
      <% unless section[:summary].empty? %>
        <p class="govuk-body">
          <%= section[:summary] %>
        </p>
      <% end %>
      <% if section[:list] %>
        <%= render "govuk_publishing_components/components/list", {
          items: section[:list],
          margin_bottom: 8,
        } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <% if content_item_presenter.content_owners.any? %>
    <%= render "govuk_publishing_components/components/heading", {
      text: content_item_presenter.community_title,
      font_size: "s",
      margin_bottom: 2,
      id: "related-communities",
    } %>
    <p class="govuk-body">
      Find out what the cross-government community does and how to get involved.
    </p>
    <nav role="navigation" aria-labelledby="related-communities" class="related-communities">
      <%= render "govuk_publishing_components/components/list", {
        items: content_item_presenter.community_links,
        margin_bottom: 8,
      } %>
    </nav>
  <% end %>

  <%= render partial: "email_signup", locals: { email_alert_signup_link: content_item_presenter.email_alert_signup_link } %>
<% end %>
