<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><% if @publication %><%= page_title(@artefact, @publication) %><% else %><%= yield :title %><% end %></title>
    <%= stylesheet_link_tag '/stylesheets/publisher.css' %>
    <%= yield :extra_stylesheets %>

    <% if @publication and @publication.overview.present? %>
      <meta name="description" content="<%= @publication.overview %>">
    <% else %>
      <%= yield :description %>
    <% end %>

    <%= section_meta_tags(@artefact) %>
    <%= yield :extra_javascript %>
    <%= yield :extra_headers %>
  </head>

  <body>
    <div id="wrapper" class="<%= wrapper_class(@publication) %>">
      <%= yield %>
      <%= easter_egg @publication.slug if @publication %>
    </div>
  </body>
</html>
