<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><% if @publication %><%= page_title(@artefact, @publication, @video_mode) %><% else %><%= yield %><% end %></title>
    <%= stylesheet_link_tag '/stylesheets/publisher.css' %>
    <%= yield :extra_stylesheets %>

    <% if @publication %>
      <% if @publication.overview.present? %>
        <meta name="description" content="<%= @publication.overview %>">
      <% end %>
      <% if @artefact and @artefact.section.present? %>
        <meta name="x-section-name" content="<%= @artefact.section %>">
        <meta name="x-section-link" content="/<%= @artefact.section.parameterize %>">
      <% end %>
    <% else %>
      <%= yield :description %>
    <% end %>

    <%= yield :extra_javascript %>
    <%= yield :extra_headers %>
  </head>

  <body class="<%= yield :body_class %>">
    <div id="wrapper" class="<%= wrapper_class(@publication, @video_mode) %>">
      <%= yield %>
      <%= easter_egg @publication.slug if @publication %>
    </div>
  </body>
</html>
