<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <% if @publication.overview.present? %>
    <meta name="description" content="<%= @publication.overview %>">
  <% end %>

  <%= section_meta_tags(@artefact) %>
  <%= yield :extra_headers %>
</head>
<body>
  <div id="wrapper" class="<%= wrapper_class(@publication) %>">
    <section id="content" role="main" class="group">
      <h1 class="govuk">gov.uk</h1>
      <%= yield %>
    </section>
  </div>
</body>
</html>
