<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><% if @publication %><%= page_title(@publication) %><% else %><%= yield :title %><% end %></title>
    <%= yield :extra_stylesheets %>

    <link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml"/>

    <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application.css" %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "application-ie6.css" %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "application-ie7.css" %><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "application-ie8.css" %><![endif]-->
    <%= javascript_include_tag 'frontend.js' %>
    <%= yield :extra_javascript %>
    <%= yield :extra_headers %>
  </head>

  <body class="mainstream <%= yield :body_classes %>">
    <div id="wrapper" class="<%= wrapper_class(@publication) %>">
      <%= yield %>
    </div>
  </body>
</html>
