<% content_for :body do %>
  <% if @is_account && local_assigns %>
    <main id="content">
      <%= yield %>
    </main>
  <% else %>
    <% if publication && publication.in_beta %>
      <%= render 'govuk_publishing_components/components/phase_banner', phase: "beta" %>
    <% end %>
    <% unless current_page?(root_path) || !(publication || @calendar) || remove_breadcrumbs(content_item) %>
      <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: content_item_hash %>
    <% end %>
    <% if local_assigns %>
      <%= yield %>
      <%= yield :after_content %>
    <% end %>
  <% end %>
<% end %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%=
      page_title = yield :title
      if page_title.present?
        page_title
      elsif publication
        page_title(publication)
      else
        "GOV.UK"
      end
    %></title>
    <%= yield :extra_stylesheets %>

    <link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml"/>

    <%= stylesheet_link_tag "application.css", :media => "all", integrity: false %>

    <%=
      render_component_stylesheets
    %>

    <%= javascript_include_tag 'test-dependencies.js', type: "module" if Rails.env.test? %>
    <%= javascript_include_tag 'application.js', integrity: false, type: "module" %>

    <%= yield :extra_javascript %>
    <%= yield :extra_headers %>
    <% if content_item_hash %>
      <%= render 'govuk_publishing_components/components/meta_tags', content_item: content_item_hash %>
      <%# TODO: use content_item.meta_content %>
      <% if meta_section(content_item_hash).present? %>
        <meta name="govuk:section" content="<%= meta_section(content_item_hash) %>">
      <% end %>
    <% end %>
  </head>

  <body class="mainstream <%= yield :body_classes %>">
    <div id="wrapper" class="<%= wrapper_class(publication || @presenter) %> direction-<%= page_text_direction %>">
      <%= yield :body %>
    </div>
  </body>
</html>
