<% content_for :body do %>
  <% if content_item&.phase == "beta" %>
    <%= render "govuk_publishing_components/components/phase_banner", phase: "beta" %>
  <% end %>
  <% unless !(content_item || @calendar) || remove_breadcrumbs(content_item) %>
    <%= render "govuk_publishing_components/components/contextual_breadcrumbs", content_item: content_item.to_h %>
  <% end %>
  <%= render "govuk_web_banners/recruitment_banner" %>
  <% if local_assigns %>
    <%= yield :before_content %>
    <main role="main" id="content" class="govuk-main-wrapper <%= yield :main_classes %>" <%= lang_attribute %>>
      <%= yield %>
    </main>
    <%= yield :after_content %>
  <% end %>
<% end %>

<%
  title = yield(:title)
  title = if title.present?
            title
          elsif content_item
            page_title(content_item)
          else
            "GOV.UK"
          end
%>

<%= content_for :head do %>
  <link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml">
  <%= render_component_stylesheets %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_public", {
      title:,
      show_explore_header: true,
      # emergency_banner: render("govuk_web_banners/emergency_banner"),
      global_banner: render("govuk_web_banners/global_banner"),
  } do %>
  <div class="govuk-width-container">
    <%= yield :body %>
  </div>
  <%= javascript_include_tag 'application', type: "module" %>
<% end %>

