<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><% if @publication %><%= page_title(@publication) %><% else %><%= yield :title %><% end %></title>
    <%= yield :extra_stylesheets %>

    <link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml"/>

    <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application.css" %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "application-ie6.css" %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "application-ie7.css" %><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "application-ie8.css" %><![endif]-->
    <%= javascript_include_tag 'frontend.js' %>
    <%= yield :extra_javascript %>
    <%= yield :extra_headers %>
    <% if @content_item %>
      <%= render partial: 'govuk_component/analytics_meta_tags', locals: { content_item: @content_item } %>
    <% end %>
    <% if @meta_section %>
      <meta name="govuk:section" content="<%= @meta_section %>">
    <% end %>
  </head>

  <body class="mainstream <%= yield :body_classes %>">

    <div class="header-context"><!-- Deliberately empty. This will prevent Slimmer from adding the artefact-breadcrumb. --></div>

    <div id="wrapper" class="<%= wrapper_class(@publication || @presenter) %>">
      <% if @navigation_helpers %>
        <%= render partial: 'govuk_component/breadcrumbs', locals: @navigation_helpers.breadcrumbs %>
      <% end %>

      <% unless local_assigns.include?(:full_width) %><div class="grid-row"><% end %>
        <%= yield %>
      <% unless local_assigns.include?(:full_width) %></div><% end %>
      <%= render_mustache_templates if Rails.env.development? %>
    </div>
  </body>
</html>
