<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= page_title(@artefact, @publication) %></title>

  <%= stylesheet_link_tag '/stylesheets/core.css', 
        '/stylesheets/text.css', 
        '/stylesheets/publisher.css', 
        '/stylesheets/core-print.css', 
        '/stylesheets/guides-print.css', :media => 'all'  %> 
  <% if @publication.overview.present? %>
    <meta name="description" content="<%= @publication.overview %>">
  <% end %>
  <% if @artefact.section.present? %>
    <meta name="x-section-name" content="<%= @artefact.section %>">
    <meta name="x-section-link" content="/<%= @artefact.section.parameterize %>">
  <% end %>

  <%= javascript_include_tag '/javascripts/libs/jquery/jquery-1.6.2.min.js' %>
  <%= javascript_include_tag '/javascripts/print.js' %>
  <%= yield :extra_headers %>
</head>
<body>
  <div id="wrapper" class="<%= wrapper_class(@publication) %>">
      <section id="content" role="main" class="group"> 
          <h1 class="govuk">gov.uk</h1>
          <%= yield %>
      </section>
  </div>
</body>
</html>
