<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><% if @publication %><%= page_title(@artefact, @publication) %><% else %><%= yield :title %><% end %></title>
    <%= yield :extra_stylesheets %>

    <% if @publication and @publication.overview.present? %>
      <meta name="description" content="<%= @publication.overview %>">
    <% else %>
      <%= yield :description %>
    <% end %>

    <%= content_for?(:section_meta_tags) ? yield(:section_meta_tags) : section_meta_tags(@artefact) %>
    <%= javascript_include_tag 'frontend.js' %>
    <%= yield :extra_javascript %>
    <%= yield :extra_headers %>
  </head>

  <body class="citizen">
    <div id="wrapper" class="<%= wrapper_class(@publication) %>">
      <%= yield %>
    </div>
  </body>
</html>
