<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>
<% if @publication %>
      <%= @video_mode ? ' Video - ' : '' %>
      <%= @publication.alternative_title.nil? ? @publication.alternative_title : @publication.title %> |
      <% unless @publication.section.nil? or @publication.section == ''%>
      <%= @publication.section %> |
<% end %>
      www.gov.uk
<% else %>
      <%= yield :title %>
<% end %>
  </title>
  <%= stylesheet_link_tag '/stylesheets/publisher.css' %>
  <%= yield :extra_stylesheets %>
<% if @publication %>
  <% if @publication.overview and @publication.overview != '' %>
    <meta name="description" content="<%= @publication.overview %>">
  <% end %>
  <% if @artefact and @artefact.section and @artefact.section != '' %>
    <meta name="x-section-name" content="<%= @artefact.section %>">
    <meta name="x-section-link" content="/browse/<%= @artefact.section.parameterize %>">
  <% end %>
<% else %>
  <%= yield :description %>
<% end %>
  <%= javascript_include_tag "/javascripts/geo-locator.js", :defer => "defer" %>
  <%= yield :extra_javascript %>
  <%= yield :extra_headers %>
</head>
<body class="<%= yield :body_class %>">
<% if @publication %>
  <div id="wrapper" class="<%= @publication.type %><%= @video_mode ? ' video-guide' : '' %>">
<% else %>
  <div id="wrapper" class="<%= yield :wrapper_class %>">
<% end %>
<%= yield %>
<%= easter_egg @publication.slug if @publication %>
  </div>
</body>
</html>
