<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><% if @publication %><%= page_title(@publication) %><% else %><%= yield :title %><% end %></title>
    <%= yield :extra_stylesheets %>

    <link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml"/>

    <%= stylesheet_link_tag "application.css", integrity: true, crossorigin: 'anonymous' %>
    <!--[if IE 6]><%= stylesheet_link_tag "application-ie6.css" %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "application-ie7.css" %><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "application-ie8.css" %><![endif]-->
    <%= stylesheet_link_tag "print.css", :media => "print", integrity: true, crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'frontend.js', integrity: true, crossorigin: 'anonymous' %>
    <%= yield :extra_javascript %>
    <%= yield :extra_headers %>
    <% if @content_item %>
      <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item %>
    <% end %>
    <% if @meta_section %>
      <meta name="govuk:section" content="<%= @meta_section %>">
    <% end %>
  </head>

  <body class="mainstream <%= yield :body_classes %>">
    <div id="wrapper" class="<%= wrapper_class(@publication || @presenter) %>">
      <% unless current_page?(root_path) || !@publication || !@presenter %>
        <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: @content_item %>
      <% end %>

      <% if local_assigns.exclude?(:full_width) %>
        <div class="govuk-grid-row">
          <%= yield %>
        </div>
        <div class="govuk-grid-row">
          <%= yield :after_content %>
        </div>
      <% else %>
        <%= yield %>
        <%= yield :after_content %>
      <% end %>

      <%= render 'govuk_publishing_components/components/feedback' %>
    </div>
  </body>
</html>
