<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><% if @publication %><%= page_title(@publication) %><% else %><%= yield :title %><% end %></title>
    <%= yield :extra_stylesheets %>

    <link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml"/>

    <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application.css", integrity: true, crossorigin: 'anonymous' %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "application-ie6.css" %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "application-ie7.css" %><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "application-ie8.css" %><![endif]-->
    <%= stylesheet_link_tag "print.css", :media => "print", integrity: true, crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'frontend.js', integrity: true, crossorigin: 'anonymous' %>
    <%= yield :extra_javascript %>
    <%= yield :extra_headers %>
    <% if @content_item %>
      <%= render partial: 'govuk_component/analytics_meta_tags', locals: { content_item: @content_item } %>
    <% end %>
    <% if @meta_section %>
      <meta name="govuk:section" content="<%= @meta_section %>">
    <% end %>
  </head>

  <body class="mainstream <%= yield :body_classes %>">
    <div id="wrapper" class="<%= wrapper_class(@publication || @presenter) %>">
      <% unless current_page?(root_path) %>
        <% if show_step_nav? %>
          <%= render 'shared/step_nav_header', step_nav_content: current_step_nav %>
        <% else %>
          <%= render partial: 'govuk_component/breadcrumbs',
            locals: {
              breadcrumbs: breadcrumbs[:breadcrumbs],
              collapse_on_mobile: should_present_taxonomy_navigation?(@content_item)
            } %>
        <% end %>
      <% end %>

      <% unless local_assigns.include?(:full_width) %><div class="grid-row"><% end %>
        <%= yield %>
      <% unless local_assigns.include?(:full_width) %></div><% end %>
    </div>
  </body>
</html>
