<%
  page_title = yield :title
  page_title = page_title.presence || page_title(content_item)
%>

<%= content_for :head do %>
  <%= render("layouts/head") %>

  <%= yield :extra_javascript %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_public", layout_for_public_options(title: page_title, homepage: @homepage_layout) do %>
  <%= yield :before_content %>

  <main id="content" class="govuk-main-wrapper <%= rtl_attribute %> <%= yield :main_classes %>" <%= lang_attribute %>>
    <span id="Top"></span>
    <%= yield %>
  </main>
<% end %>
